@import "../../_variables.scss";
@import "../../_functions.scss";

.container {
    padding-left: var(--gutter-inline);
    padding-right: var(--gutter-inline);
    padding-inline: var(--gutter-inline);
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
}

main {
    width: 99%;
}

.fluid {
    max-width: 100%;
}


@include media() using ($media) {
    .container {
        width: 90%;
    }

    .container-s#{$media} {
        width: 99%;
    }

    .container-m#{$media} {
        width: 95%;
    }

    .container-l#{$media} {
        width: 90%;
    }

    .container-xl#{$media} {
        width: 85%;
    }

    .container-xxl#{$media} {
        width: 80%;
    }
}
