@import "grid";
@import "flex";
@import "position";
@import "_size.scss";
@import "border";
@import "container";


.d-inline-block {
    display:inline-block !important;
}
.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}
.d-none {
    display:none !important;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.shadow-25r {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-50r {
    box-shadow: 0 0.25rem 0.50rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-100r {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-300r {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}
.overflow-auto {overflow:auto !important; }
.overflow-hidden {overflow: hidden !important;}
.overflow-scroll {overflow: scroll !important;}
.overflow-visible {overflow: visible !important;}
.overflow-x-auto {overflow-x:auto !important;}
.overflow-x-hidden {overflow-x: hidden !important;}
.overflow-x-scroll {overflow-x: scroll !important;}
.overflow-x-visible {overflow-x: visible !important;}
.overflow-y-auto {overflow-y:auto !important;}
.overflow-y-hidden {overflow-y: hidden !important;}
.overflow-y-scroll {overflow-y: scroll !important;}
.overflow-y-visible {overflow-y: visible !important;}

.userselect-none { user-select: none !important;}
.userselect-all { user-select: all !important;}
.userselect-contain { user-select: contain !important;}
.userselect-text { user-select: text !important;}