@import "../../_variables.scss";
@import "../../_functions.scss";

.d-flex {
    display: flex !important;
}


.row {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
}

.col {
    flex: 1 0 0%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    margin-inline-end: var(--gutter-inline);
    margin-block-end: var(--gutter-block);

    &:last-child {
        margin-inline-end:0;
    }
}

.row-col-auto > *,
.col-auto {
    flex: 0 0 auto;
    width: auto;
}


@include mediaminmax() using ($media) {
    @for $i from 1 through $grid-columns {
        .row-col-#{$i}#{$media} > * {
            flex: 0 0 auto;
            width: calc(#{percentage(1 / $i )} - var(--gutter-inline));
        }

        .col-#{$i}#{$media} {
            flex: 0 0 auto;
            width: calc(#{percentage($i / $grid-columns)} - var(--gutter-inline)) !important;

            &:last-child {
                width: #{percentage($i / $grid-columns)};
            }
        }
    }

    .d-none#{$media} {
        display: none !important;
    }

    .flex-fill#{$media} {
        flex: 1 1 auto !important;
    }

    .flex-justified#{$media} {
        flex-basis: 0;
        flex-grow: 1;
    }

    .flex-row#{$media} {
        flex-direction: row !important;
    }

    .flex-column#{$media} {
        flex-direction: column !important;
    }

    .flex-row-reverse#{$media} {
        flex-direction: row-reverse !important;
    }

    .justify-content-start#{$media} {
        justify-content: flex-start !important;
    }

    .justify-content-end#{$media} {
        justify-content: flex-end !important;
    }

    .justify-content-center#{$media} {
        justify-content: center !important;
    }

    .justify-content-between#{$media} {
        justify-content: space-between !important;
    }

    .justify-content-around#{$media} {
        justify-content: space-around !important;
    }

    .justify-content-evenly#{$media} {
        justify-content: space-evenly !important;
    }

    .align-items-start#{$media} {
        align-items: flex-start !important;
    }

    .align-items-end#{$media} {
        align-items: flex-end !important;
    }

    .align-items-center#{$media} {
        align-items: center !important;
    }

    .align-items-baseline#{$media} {
        align-items: baseline !important;
    }

    .align-items-stretch#{$media} {
        align-items: stretch !important;
    }

    .align-content-start#{$media} {
        align-content: flex-start !important;
    }

    .align-content-end#{$media} {
        align-content: flex-end !important;
    }

    .align-content-center#{$media} {
        align-content: center !important;
    }

    .align-content-between#{$media} {
        align-content: space-between !important;
    }

    .align-content-around#{$media} {
        align-content: space-around !important;
    }

    .align-content-stretch#{$media} {
        align-content: stretch !important;
    }

    .align-self-auto#{$media} {
        align-self: auto !important;
    }

    .align-self-start#{$media} {
        align-self: flex-start !important;
    }

    .align-self-end#{$media} {
        align-self: flex-end !important;
    }

    .align-self-center#{$media} {
        align-self: center !important;
    }

    .align-self-baseline#{$media} {
        align-self: baseline !important;
    }

    .align-self-stretch#{$media} {
        align-self: stretch !important;
    }

    .order-first#{$media} {
        order: 0 !important;
    }

    .order-1#{$media} {
        order: 1 !important;
    }

    .order-2#{$media} {
        order: 2 !important;
    }

    .order-3#{$media} {
        order: 3 !important;
    }

    .order-4#{$media} {
        order: 4 !important;
    }

    .order-5#{$media} {
        order: 5 !important;
    }

    .order-6#{$media} {
        order: 6 !important;
    }

    .order-7#{$media} {
        order: 7 !important;
    }

    .order-8#{$media} {
        order: 8 !important;
    }

    .order-last#{$media} {
        order: 9 !important;
    }
}

@media (max-width: map-get($breakpoints,'m')) {

    .col,
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100% !important;
    }
}
