@import "../../_variables.scss";
@import "../../_functions.scss";

@mixin size($names,$name-ext, $attr-ext,$scale, $sizes,$important: true) {
    @each $name,$attr in $names {
        @each $value in $sizes {

            .#{$name}-#{$value}#{$name-ext} {
                #{$attr}: #{$value * $scale}#{$attr-ext};
            }

            @if $value!=0 {
                .#{$name}-#{$value}#{$name-ext}-n {
                    #{$attr}: -#{$value * $scale}#{$attr-ext};
                }
            }

            @if $important {
                .#{$name}-#{$value}#{$name-ext}-i {
                    #{$attr}: #{$value * $scale}#{$attr-ext} !important;
                }

                @if $value!=0 {
                    .#{$name}-#{$value}#{$name-ext}-n-i {
                        #{$attr}: -#{$value * $scale}#{$attr-ext} !important;
                    }
                }
            }
        }
    }
}


@mixin size_name($names,$media, $sizes) {
    @each $value in $sizes {
        @each $name,$attr in $names {
            .#{$name}#{$media}-#{$value} {
                #{$attr}: #{$value};
            }

                .#{$name}#{$media}-#{$value}-i {
                    #{$attr}: #{$value} !important;
                }
        }
    }
}



$auto-inherit: (0,auto,inherit,unset);
$auto-none-inherit: (0,auto,none,inherit,unset);
$padding: ('p':'padding','p-left':'padding-left','p-right':'padding-right','p-top':'padding-top','p-bottom':'padding-bottom','p-b':'padding-block','p-i':'padding-inline','p-bs':'padding-block-start','p-be':'padding-block-end','p-is':'padding-inline-start','p-ie':'padding-inline-end');
$padding-h: ('p-top':'padding-top','p-bottom':'padding-bottom','p-b':'padding-block','p-bs':'padding-block-start','p-be':'padding-block-end');
$padding-w: ('p-left':'padding-left','p-right':'padding-right','p-i':'padding-inline','p-is':'padding-inline-start','p-ie':'padding-inline-end');

$margin: ('m':'margin','m-left':'margin-left','m-right':'margin-right','m-top':'margin-top','m-bottom':'margin-bottom','m-b':'margin-block','m-i':'margin-inline','m-bs':'margin-block-start','m-be':'margin-block-end','m-is':'margin-inline-start','m-ie':'margin-inline-end');
$margin-h: ('m-top':'margin-top','m-bottom':'margin-bottom','m-b':'margin-block','m-bs':'margin-block-start','m-be':'margin-block-end');
$margin-w: ('m-left':'margin-left','m-right':'margin-right','m-i':'margin-inline','m-is':'margin-inline-start','m-ie':'margin-inline-end');

$height: ('h':'height','h-min':'min-height','h-max':'max-height');
$width: ('w':'width','w-min':'min-width','w-max':'max-width');
$l-height: ('lh':'line-height');

@include media() using ($media) {
    @include size($padding,''+$media,'',1,(0));
    @include size($padding,'x'+$media,'px',1,$size-values-5-100);
    @include size($padding,'p'+$media,'%',1,$size-values-5-100);
    @include size($padding,'r'+$media,'rem',0.01,$size-values-em);
    @include size($padding,'e'+$media,'em',0.01,$size-values-em);
    @include size($padding-w,'vw'+$media,'vw',1,$size-values-5-100);
    @include size($padding-h,'vh'+$media,'vh',1,$size-values-5-100);

    @include size($margin,''+$media,'',1,(0));
    @include size($margin,'x'+$media,'px',1,$size-values-5-100);
    @include size($margin,'p'+$media,'%',1,$size-values-5-100);
    @include size($margin,'r'+$media,'rem',0.01,$size-values-em);
    @include size($margin,'e'+$media,'em',0.01,$size-values-em);
    @include size($margin-w,'vw'+$media,'vw',1,$size-values-5-100);
    @include size($margin-h,'vh'+$media,'vh',1,$size-values-5-100);
    @include size_name($margin,$media,$auto-inherit);

    @include size($height,''+$media,'',1,(0));
    @include size($height,'x'+$media,'px',1,$size-values-5-100);
    @include size($height,''+$media,'%',1,$size-values-5-100);
    @include size($height,'r'+$media,'rem',0.01,$size-values-em);
    @include size($height,'e'+$media,'em',0.01,$size-values-em);
    @include size($height,'vh'+$media,'vh',1,$size-values-5-100);
    @include size_name($height,$media,$auto-none-inherit);

    @include size($width,''+$media,'',1,(0));
    @include size($width,'x'+$media,'px',1,$size-values-5-100);
    @include size($width,''+$media,'%',1,$size-values-5-100);
    @include size($width,'r'+$media,'rem',0.01,$size-values-em);
    @include size($width,'e'+$media,'em',0.01,$size-values-em);
    @include size($width,'vw'+$media,'vw',1,$size-values-5-100);
    @include size_name($width,$media,$auto-none-inherit);

    .w-max#{$media} {
        width: max-content !important;
        width: -moz-max-content !important;
    }

    .w-min#{$media} {
        width: min-content !important;
        width: -moz-min-content !important;
    }

    .w-fill#{$media} {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }
}

@include size($l-height,'','',1,(0));
@include size($l-height,'x','px',1,$size-values-5-100);
@include size($l-height,'p','%',1,$size-values-5-100);
@include size($l-height,'r','rem',0.01,$size-values-em);
@include size($l-height,'e','em',0.01,$size-values-em);

@include size(('g-i':'--gutter-inline','g-b':'--gutter-block'),'','px',0,(0),false);
@include size(('g-i':'--gutter-inline','g-b':'--gutter-block'),'x','px',1,$size-values-5-100,false);
@include size(('g-i':'--gutter-inline','g-b':'--gutter-block'),'r','rem',0.01,$size-values-em,false);
@include size(('g-i':'--gutter-inline','g-b':'--gutter-block'),'e','em',0.01,$size-values-em,false);


@each $name,$value in $sizes {
    .s-#{$name} {
        --scale-factor: #{$value};
        --gutter-inline: #{$gutter-inline * $value};
        --gutter-block: #{$gutter-block * $value};
        --padding-inline: #{$padding-inline * $value};
        --padding-inline2: #{$padding-inline * $value * 2};
        --padding-block: #{$padding-block * $value};
        --padding-block2: #{$padding-block * $value * 2};
        --margin-block: #{$margin-block * $value};
        --margin-inline: #{$margin-inline * $value};
        --border-width: #{$border-width * $value};
        --border-radius: #{$border-radius * $value};
        --font-size: #{$font-size * $value};
        --line-height: #{$line-height * $value};
        --button-shadow-width: #{$button-shadow-width * $value};
        --input-shadow-width: #{$input-shadow-width * $value};
        --box-shadow: 0 0 #{$input-shadow-width* $value} #{$input-shadow-width* $value} rgba(0,0,0,0.1);
    }

        .s-#{$name}-set {
            --scale-factor: #{$value};
            --gutter-inline: #{$gutter-inline * $value};
            --gutter-block: #{$gutter-block * $value};
            --padding-inline: #{$padding-inline * $value};
            --padding-inline2: #{$padding-inline * $value * 2};
            --padding-block: #{$padding-block * $value};
            --padding-block2: #{$padding-block * $value * 2};
            --margin-block: #{$margin-block * $value};
            --margin-inline: #{$margin-inline * $value};
            --border-width: #{$border-width * $value};
            --border-radius: #{$border-radius * $value};
            --font-size: #{$font-size * $value};
            --line-height: #{$line-height * $value};
            --button-shadow-width: #{$button-shadow-width * $value};
            --input-shadow-width: #{$input-shadow-width * $value};
            --box-shadow: 0 0 #{$input-shadow-width* $value} #{$input-shadow-width* $value} rgba(0,0,0,0.1);
            padding-inline: #{$padding-inline * $value};
            padding-block: #{$padding-block * $value};
            margin-block: #{$margin-block * $value};
            margin-inline: #{$margin-inline * $value};
            font-size: #{$font-size * $value};
            line-height: #{$line-height * $value};
        }
}
