.list {
  display: flex;
  flex-direction: column;
  padding-inline: 0;
  margin-bottom: 0;
  border-radius: var(--border-radius);
}
.list tr, .list li, .list .list-item {
  font-size: var(--font-size);
  position: relative;
  display: block;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  text-decoration: none;
  color: var(--normal-color);
  background-color: var(--normal-back);
  border: var(--border-width) solid var(--normal-border);
  border-block-end: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out, border-block-end 0s;
}
.list tr.first-child, .list tr:first-child, .list li.first-child, .list li:first-child, .list .list-item.first-child, .list .list-item:first-child {
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);
}
.list tr.last-child, .list tr:last-child, .list li.last-child, .list li:last-child, .list .list-item.last-child, .list .list-item:last-child {
  border-end-start-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
  border-block-end: var(--border-width) solid var(--normal-border);
}
.list tr.active, .list tr.list-active, .list li.active, .list li.list-active, .list .list-item.active, .list .list-item.list-active {
  z-index: 2;
  color: var(--active-color);
  background-color: var(--active-back);
}
.list tr.active.noover:hover, .list tr.list-active.noover:hover, .list li.active.noover:hover, .list li.list-active.noover:hover, .list .list-item.active.noover:hover, .list .list-item.list-active.noover:hover {
  color: var(--active-color) !important;
  background-color: var(--active-back) !important;
  border-color: var(--active-border) !important;
}
.list tr:disabled, .list tr.list-disabled, .list tr[disabled], .list li:disabled, .list li.list-disabled, .list li[disabled], .list .list-item:disabled, .list .list-item.list-disabled, .list .list-item[disabled] {
  color: var(--disable-color) !important;
  pointer-events: none;
}
.list tr input[type=checkbox] + label,
.list tr input[type=radio] + label, .list li input[type=checkbox] + label,
.list li input[type=radio] + label, .list .list-item input[type=checkbox] + label,
.list .list-item input[type=radio] + label {
  margin-inline-start: 0.25rem;
}
.list tr.hide, .list li.hide, .list .list-item.hide {
  display: none;
}
.list tr img, .list tr i, .list li img, .list li i, .list .list-item img, .list .list-item i {
  margin-inline-end: 0.25rem;
}
.list.list-hover tr, .list.list-hover li, .list.list-hover .list-item {
  cursor: default;
}
.list.list-hover tr:hover, .list.list-hover li:hover, .list.list-hover .list-item:hover {
  color: var(--hover-color);
  background-color: var(--hover-back);
  border-color: var(--hover-border);
}
.list.list-hover tr.noover:hover, .list.list-hover li.noover:hover, .list.list-hover .list-item.noover:hover {
  color: var(--normal-color);
  background-color: var(--normal-back);
  border-color: var(--normal-border);
}
.list.list-hover .active:hover,
.list.list-hover .list-active:hover {
  color: var(--select-color);
  background-color: var(--select-back);
}

table.list > :not(table.caption) > * > * {
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  border-bottom-width: 0;
}
table.list tr, table.list td {
  cursor: default;
}
table.list thead tr:last-child {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}
table.list tbody tr:first-child {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}
table.list tbody .active,
table.list tbody .list-active {
  background-color: var(--active-back);
  box-shadow: inset 0 0 0 9999px var(--active-back);
}
table.list tbody .active td,
table.list tbody .list-active td {
  color: var(--active-color);
  box-shadow: none !important;
}
table.list.list-hover thead tr:hover {
  box-shadow: none !important;
  background-color: transparent;
}
table.list.list-hover thead tr:hover td {
  box-shadow: none !important;
}
table.list.list-hover tr:hover {
  box-shadow: inset 0 0 0 9999px var(--hover-back);
}
table.list.list-hover tr:hover td {
  box-shadow: inset 0 0 0 9999px var(--hover-back);
}
table.list.list-hover .active:hover,
table.list.list-hover .list-active:hover {
  color: var(--select-color);
  box-shadow: inset 0 0 0 9999px var(--select-back);
}

.list a, .list button {
  background-color: transparent;
  border: none;
  padding-block: 0;
  padding-inline: 0;
  margin: 0;
  width: 100%;
  text-align: start;
  color: inherit;
  text-decoration: inherit;
}

.list.list-noedge {
  border-radius: 0;
  border: none;
}
.list.list-noedge .list-item, .list.list-noedge li, .list.list-noedge tr {
  border: none;
  border-block-end-style: solid;
  border-block-end-width: var(--border-width);
  border-block-end-color: var(--normal-border);
}
.list.list-noedge .list-item:last-child, .list.list-noedge li:last-child, .list.list-noedge tr:last-child {
  border-block-end: none;
}

.list.list-numbering {
  list-style-type: none;
  counter-reset: section;
}
.list.list-numbering > *::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
}
.list.list-numbering.list-dash > *::before {
  content: counters(section, ".") "- ";
  counter-increment: section;
}

.list.list-horizontal {
  flex-direction: row;
  border-radius: 0;
}
.list.list-horizontal tr, .list.list-horizontal li, .list.list-horizontal .list-item {
  border: var(--border-width) solid var(--normal-border);
  border-inline-end: none;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
}
.list.list-horizontal tr:first-child, .list.list-horizontal li:first-child, .list.list-horizontal .list-item:first-child {
  border-start-start-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
}
.list.list-horizontal tr:last-child, .list.list-horizontal li:last-child, .list.list-horizontal .list-item:last-child {
  border-inline-end: var(--border-width) solid var(--normal-border);
  border-start-end-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
}

.list.list-tiny {
  border-radius: 0;
}
.list.list-tiny li, .list.list-tiny .list-item {
  font-size: var(--font-size);
  position: relative;
  display: block;
  padding-block: 0;
  padding-inline: var(--padding-inline);
  text-decoration: none;
  color: var(--normal-color);
  background-color: var(--normal-back);
  border: none;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .list li, .list .list-item {
    padding-block: var(--padding-block) !important;
    padding-inline: var(--padding-inline) !important;
  }
}
