.button-group {
    margin-block: var(--margin-block);
    margin-inline: var(--margin-inline);
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    button,
    .button,
    select {
        margin: 0;
        position: relative;
        flex: 1 1 auto;

        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    *:not(:last-child) {
        border-inline-end: 0;
    }

    *:not(:first-child):not(:last-child):not(label:nth-child(2)):not(.dropdown-toggle:nth-last-child(2)) {
        border-radius: 0;
    }
    //Last Elemnet
    *:not(:first-child):last-child,
    .dropdown-toggle:nth-last-child(2) {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
    //First Element
    *:first-child:not(:last-child),
    label:nth-child(2) {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }

    input[type=checkbox],
    input[type=radio] {
        clip: rect(0,0,0,0);
        background-image: none !important;
        display: none !important;

        & + label {
            color: var(--normal-color);
        }

        &:checked + label {
            outline: none;
            background-color: var(--active-back);
            color: var(--active-color);
            border-color: var(--active-border);

            &.outline {
                background-color: var(--active-color);
                color: var(--normal-text) !important;
                border-color: var(--active-border);
            }
        }


        &:disabled + label {
            cursor: default;
            pointer-events: none;
            background-color: var(--disable-back) !important;
            color: var(--disable-color) !important;
            border-color: var(--disable-border) !important;
        }
    }

    &.outline {
        input[type=checkbox],
        input[type=radio] {
            &:checked + label {
                background-color: var(--active-color);
                color: var(--normal-text) !important;
                border-color: var(--active-border);
            }
        }
    }

    &.vertical {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        button,
        .button {
            width: 100%;
            border-inline-end-width: var(--border-width);
            border-inline-end-style: solid;
            border-inline-end-color: var(--normal-border);
        }

        *:not(:last-child) {
            border-block-end: 0;
        }

        *:not(:first-child):not(:last-child):not(label:nth-child(2)) {
            border-radius: 0;
        }
        //Last Elemnet
        *:not(:first-child):last-child {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
            border-end-start-radius: var(--border-radius);
        }
        //First Element
        *:first-child:not(:last-child),
        label:nth-child(2) {
            border-start-end-radius: var(--border-radius);
            border-end-start-radius: 0;
            border-end-end-radius: 0;
        }
    }

    .separator {
        background-color: var(--normal-border);
        min-width: var(--border-width);
        width: var(--border-width);
        padding: 0;
        margin: 0;
    }
}
.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    * {
        min-width: 1em;
        padding-block: 0;
        margin-block: 0;
        margin-inline: 0;
        border: none;
    }
}
