.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: calc(var(--font-size) * 0.75);
    background-color: var(--disable-back);
    border-radius: var(--border-radius);
    position: relative;

    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: var(--active-color);
        text-align: center;
        white-space: nowrap;
        background-color: var(--active-back);
        transition: width 0.6s ease-in-out;
        border-start-start-radius: 0 !important;
        border-end-start-radius: 0 !important;
        width: 0%;

        &.progress-striped {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            background-size: 1rem 1rem;

            &.progress-animated {
                -webkit-animation: 1s linear infinite progress-bar-stripes;
                animation: 1s linear infinite progress-bar-stripes;
            }

            @-webkit-keyframes progress-bar-stripes {
                0% {
                    background-position-x: 1rem;
                }
            }

            @keyframes progress-bar-stripes {
                0% {
                    background-position-x: 1rem;
                }
            }
        }
    }

    .progress-caption {
        color: var(--normal-color);
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 2;
        text-shadow: 1px 1px 0.2rem var(--active-color);
    }
}
