@import "../../_variables.scss";
$TDBackImagePaddingInLine: 0.8;

table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    margin-block: var(--margin-block);
    vertical-align: top;
    color: var(--normal-color);
    background-color: transparent;
    border-color: var(--normal-border);

    tr, td {
        transition: $transition;
        box-shadow: inset 0 0 0 9999px var(--normal-back);
        color: var(--normal-color);
        vertical-align: middle;

        &.hide {
            visibility: collapse;
        }
    }


    & > :not(table.caption) > * > * {
        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        border-bottom-width: 1px;
    }


    &.s > :not(table.caption) > * > * {
        padding-block: calc(var(--padding-block)/4);
        padding-inline: calc(var(--padding-inline)/4);
    }

    &.l > :not(table.caption) > * > * {
        padding-block: calc(var(--padding-block) *2);
        padding-inline: calc(var(--padding-inline) *2);
    }

    & > tbody {
        vertical-align: inherit;
    }

    & > thead {
        vertical-align: bottom;
    }

    & > :not(:last-child) > :last-child > * {
        border-bottom-color: currentColor;
    }

    caption {
        padding-block: var(--padding-block);
        color: var(--readonly-color);
        text-align: center;

        &.top {
            caption-side: top;
        }
    }

    th {
        text-align: inherit;
        text-align: -webkit-match-parent;
    }

    thead, tbody, tfoot, tr, td, th {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    &.striped > tbody > tr:nth-of-type(odd) {
        --normal-back: var(--second-back);
    }

    &.hover > tbody > tr:hover {
        --normal-back: var(--hover-back);
        color: var(--hover-color) !important;
    }

    &.bordered > :not(table.caption) > * {
        border-width: 1px 0;
    }

        &.bordered > :not(table.caption) > * > * {
            border-width: 0 1px;
        }

    &.noborder > :not(table.caption) > * > * {
        border-bottom-width: 0;
    }

    .active tr, .active td {
        box-shadow: inset 0 0 0 9999px var(--active-back);
        color: var(--active-color) !important;

        & i {
            color: var(--active-color) !important;
        }
    }

    &.pointer {
        cursor: default;
    }

    &.tablex {
        thead {
            th, td {
                box-shadow: var(--select-back);
                background-color: var(--select-back);
                color: var(--select-color);
                text-align: center;

                &:hover {
                    background-color: var(--hover-back);
                    color: var(--hover-color);
                }

                &.sort {
                    transition: background-size ease 0.1s;
                    background-size: 0;
                    background-repeat: no-repeat;
                    background-position: left calc(var(--padding-inline) / 2) center;

                    &:hover {
                        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"%3E%3Cpath fill= "rgba(0, 0, 0, 0.6)" d="M246.6 361.4C252.9 367.6 256 375.8 256 384s-3.125 16.38-9.375 22.62l-96 96c-12.5 12.5-32.75 12.5-45.25 0l-96-96c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L96 402.8v-293.5L54.63 150.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l96-96c12.5-12.5 32.75-12.5 45.25 0l96 96C252.9 111.6 256 119.8 256 128s-3.125 16.38-9.375 22.62c-12.5 12.5-32.75 12.5-45.25 0L160 109.3v293.5l41.38-41.38C213.9 348.9 234.1 348.9 246.6 361.4z"/%3E%3C/svg%3E') !important;
                        background-size: 0.5em !important;

                        &[dir=ltr] {
                            background-position: right calc(var(--padding-inline) / 2) center;
                        }
                    }

                    &.asc {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill= 'rgba(0, 0, 0, 0.6)'%3E%3Cpath d='M239.6 373.1c11.94-13.05 11.06-33.31-1.969-45.27c-13.55-12.42-33.76-10.52-45.22 1.973L160 366.1V64.03c0-17.7-14.33-32.03-32-32.03S96 46.33 96 64.03v302l-32.4-35.39C51.64 317.7 31.39 316.7 18.38 328.7c-13.03 11.95-13.9 32.22-1.969 45.27l87.1 96.09c12.12 13.26 35.06 13.26 47.19 0L239.6 373.1zM448 416h-50.75l73.38-73.38c9.156-9.156 11.89-22.91 6.938-34.88S460.9 288 447.1 288H319.1C302.3 288 288 302.3 288 320s14.33 32 32 32h50.75l-73.38 73.38c-9.156 9.156-11.89 22.91-6.938 34.88S307.1 480 319.1 480h127.1C465.7 480 480 465.7 480 448S465.7 416 448 416zM492.6 209.3l-79.99-160.1c-10.84-21.81-46.4-21.81-57.24 0L275.4 209.3c-7.906 15.91-1.5 35.24 14.31 43.19c15.87 7.922 35.04 1.477 42.93-14.4l7.154-14.39h88.43l7.154 14.39c6.174 12.43 23.97 23.87 42.93 14.4C494.1 244.6 500.5 225.2 492.6 209.3zM367.8 167.4L384 134.7l16.22 32.63H367.8z'/%3E%3C/svg%3E");
                        background-size: 1em;

                        &[dir=ltr] {
                            background-position: right calc(var(--padding-inline) / 2) center;
                        }
                    }

                    &.desc {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill= 'rgba(0, 0, 0, 0.6)'%3E%3Cpath d='M151.6 41.95c-12.12-13.26-35.06-13.26-47.19 0l-87.1 96.09C4.473 151.1 5.348 171.4 18.38 183.3c13.02 11.95 33.27 11.04 45.22-1.973L96 145.9v302C96 465.7 110.3 480 128 480S160 465.7 160 447.1V145.9L192.4 181.3c6.312 6.883 14.94 10.39 23.61 10.39c7.719 0 15.47-2.785 21.61-8.414c13.03-11.95 13.9-32.22 1.969-45.27L151.6 41.95zM320 96h50.75l-73.38 73.38c-9.156 9.156-11.89 22.91-6.938 34.88s16.63 19.74 29.56 19.74h127.1C465.7 223.1 480 209.7 480 192s-14.33-32-32-32h-50.75l73.38-73.38c9.156-9.156 11.89-22.91 6.938-34.88S460.9 32 447.1 32h-127.1C302.3 32 288 46.31 288 64S302.3 96 320 96zM492.6 433.3l-79.99-160.1c-10.84-21.81-46.4-21.81-57.24 0l-79.99 160.1c-7.906 15.91-1.5 35.24 14.31 43.19c15.87 7.922 35.04 1.477 42.93-14.4l7.154-14.39h88.43l7.154 14.39c6.174 12.43 23.97 23.87 42.93 14.4C494.1 468.6 500.5 449.2 492.6 433.3zM367.8 391.4L384 358.7l16.22 32.63H367.8z'/%3E%3C/svg%3E");
                        background-size: 1em;

                        &[dir=ltr] {
                            background-position: right calc(var(--padding-inline) / 2) center;
                        }
                    }
                }

                input {
                    font-size: 0.8em !important;
                    padding: 0 !important;
                    min-width: 1rem;
                    line-height: 0 !important;
                    margin: 0 !important;
                }
            }
        }
    }

    .grouprow {
        color: var(--focus-color);
        --normal-back: var(--focus-back) !important;
        --table-td-expand: var(--minus-image);

        &:nth-of-type(odd) {
            --normal-back: var(--focus-back) !important;
        }

        &[dir=ltr] {
            background-position-x: left;
        }

        &.collapsed {
            --table-td-expand: var(--plus-image) !important;
        }
    }

    .groupcol {
        box-shadow: none !important;
        background-repeat: no-repeat;
        background-size: 0.7em;
        background-position-y: center;
        padding-inline-end: 0 !important;
        background-image: var(--table-td-expand);
        background-position-x: calc(100% - var(--padding-start) + 0.8em);
        padding-inline-start: var(--padding-start) !important;

        &[dir=ltr] {
            background-position-x: calc( var(--padding-start) - 0.3em);
        }
    }

    .group-0 {
        --padding-start: #{$TDBackImagePaddingInLine * 1}em;
    }

    .group-1 {
        --padding-start: #{$TDBackImagePaddingInLine * 2}em;
    }

    .group-2 {
        --padding-start: #{$TDBackImagePaddingInLine * 3}em;
    }

    .group-3 {
        --padding-start: #{$TDBackImagePaddingInLine * 4}em;
    }

    .group-4 {
        --padding-start: #{$TDBackImagePaddingInLine * 5}em;
    }

    .group-5 {
        --padding-start: #{$TDBackImagePaddingInLine * 6}em;
    }

    .group-6 {
        --padding-start: #{$TDBackImagePaddingInLine * 7}em;
    }

    .group-7 {
        --padding-start: #{$TDBackImagePaddingInLine * 8}em;
    }

    .group-8 {
        --padding-start: #{$TDBackImagePaddingInLine * 9}em;
    }

    .group-9 {
        --padding-start: #{$TDBackImagePaddingInLine * 10}em;
    }


    tr[class*='group'] {
        td:first-child {
            padding-inline-start: var(--padding-start) !important;
        }
    }

    .aggregate {
        background-color: var(--info-back);
        color: var(--info-color);

        &, td {
            box-shadow: none;
        }
    }

    @include disabled-tag('tr') {
        background-color: var(--disable-back);
        --normal-back: var(--disable-back) !important;
        color: var(--disable-color);
    }

    @include readonly-tag('tr') {
        background-color: var(--readonly-back);
        --normal-back: var(--readonly-back) !important;
        color: var(--readonly-color);
    }
}
.responsive {
    table {
        thead {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }

        tfoot {
            position: sticky;
            bottom: 0;
            z-index: $zindex-sticky;
        }
    }
}