@import "../../_variables.scss";

table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    margin-block: var(--margin-block);
    vertical-align: top;
    color: var(--normal-color);
    background-color: transparent;
    border-color: var(--normal-border);

    tr, td {
        transition: $transition;
        box-shadow: inset 0 0 0 9999px var(--normal-back);
        color: var(--normal-color);
    }


    & > :not(table.caption) > * > * {
        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        border-bottom-width: 1px;
    }


    &.s > :not(table.caption) > * > * {
        padding-block: calc(var(--padding-block)/4);
        padding-inline: calc(var(--padding-inline)/4);
    }

    &.l > :not(table.caption) > * > * {
        padding-block: calc(var(--padding-block) *2);
        padding-inline: calc(var(--padding-inline) *2);
    }

    & > tbody {
        vertical-align: inherit;
    }

    & > thead {
        vertical-align: bottom;
    }

    & > :not(:last-child) > :last-child > * {
        border-bottom-color: currentColor;
    }

    caption {
        padding-block: var(--padding-block);
        color: var(--readonly-color);
        text-align: center;

        &.top {
            caption-side: top;
        }
    }

    th {
        text-align: inherit;
        text-align: -webkit-match-parent;
    }

    thead, tbody, tfoot, tr, td, th {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    &.striped > tbody > tr:nth-of-type(odd) {
        --normal-back: var(--second-back);
    }

    &.hover > tbody > tr:hover {
        --normal-back: var(--hover-back);
        color: var(--hover-color) !important;
    }

    &.bordered > :not(table.caption) > * {
        border-width: 1px 0;
    }

        &.bordered > :not(table.caption) > * > * {
            border-width: 0 1px;
        }

    &.noborder > :not(table.caption) > * > * {
        border-bottom-width: 0;
    }

    .active tr, .active td {
        box-shadow: inset 0 0 0 9999px var(--active-back);
        color: var(--active-color) !important;

        & i {
            color: var(--active-color) !important;
        }
    }
}
