@import "../../_variables.scss";

multiinput, .multiinput {
    display: flex;
    padding: calc(var(--border-radius) / 5);
    align-items: stretch;
    flex-direction: column;

    &:has(input:focus) {
        button {
            color: var(--focus-color);
            background-color: var(--focus-back);
            border-color: var(--focus-border);
            outline: 0;
            box-shadow: 0 0 0 var(--input-shadow-width) var(--focus-shadow);
        }

        &.floatingline {
            button {
                outline: 0;
                box-shadow: none;
            }
        }
    }

    & > ig, .ig {
        display: flex;


        select, input, textarea {
            border-start-end-radius: 0 !important;
            border-end-end-radius: 0 !important;
            border-inline-end: none !important;
            margin-inline: 0 !important;
        }

        button {
            border-inline-start: none !important;
            border-start-start-radius: 0;
            border-end-start-radius: 0;
            margin: 0 !important;
            width: 1.5em;

            &:before {
                transition: $transition;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-image: var(--arrow-down-image);
                background-repeat: no-repeat;
                background-size: 0.8em;
                background-position: center;
            }
        }

        &.floatingline {

            button {
                border-block-start: none;
                border-inline: none;
                border-block-end: calc(var(--border-width) * 2) solid var(--normal-border);
                margin-block-end: calc(var(--margin-block) - var(--border-width)) !important;
                border-radius: 0;
            }
        }
    }

    &.expand {
        & > ig, .ig {
            button {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }

        detail, .detail {
            display: block;
        }
    }

    detail, .detail {
        display: none;


        ig, .ig {
            display: flex;
            align-items: center;
            padding: 0 !important;
            margin: 0 !important;
            line-height: 1.5rem;

            label {
                background-color: transparent !important;
                position: relative !important;
                text-align: start !important;
                left: auto !important;
                top: auto !important;
                right: auto !important;
                bottom: auto !important;
                padding-block: 0 !important;
                padding-inline: var(--padding-inline) !important;
                font-size: 0.8em !important;
            }

            select, input {
                flex: 1 !important;
                border: var(--border-width) solid var(--normal-border) !important;
                border-radius: var(--border-radius) !important;
                padding-block: 0 !important;
                margin: 0 !important;
                margin-block-end: var(--margin-block) !important;
                position: relative !important;
                font-size: 0.8em !important;

                &:focus {
                    color: var(--focus-color) !important;
                    background-color: var(--focus-back) !important;
                    border-color: var(--focus-border) !important;
                    outline: 0 !important;
                    box-shadow: 0 0 0 var(--input-shadow-width) var(--focus-shadow) !important;
                }

                &:hover:not(:disabled):not([readonly]) {
                    background-color: var(--hover-back) !important;
                    color: var(--hover-color) !important;
                }
            }
        }
    }

    @include disabled-tag('ig') {
        background-color: var(--disable-back);
        color: var(--disable-color);
    }

    @include readonly-tag('ig') {
        color: var(--readonly-color);
    }

    [readonly] & button,
    &[readonly] button {
        pointer-events: auto !important;
    }

    [readonly] & .floating button,
    &[readonly] .floating button {
        border-style: solid;
        border-color: var(--normal-border);
        border-width: var(--border-width);
    }

    [readonly] & .floatingline button,
    &[readonly] .floatingline button {
        border-block-end: calc(var(--border-width) * 2) solid var(--normal-border);
    }
}
