@import "../../_variables.scss";

multiinput, .multiinput {
    display: flex;
    padding: calc(var(--border-radius) / 5);
    align-items: stretch;
    flex-direction: column;

    &:has(input:focus) {
        button {
            color: var(--focus-color);
            background-color: var(--focus-back);
            border-color: var(--focus-border);
            outline: 0;
            box-shadow: 0 0 0 var(--input-shadow-width) var(--focus-shadow);
        }

        &.floatingline {
            button {
                outline: 0;
                box-shadow: none;
            }
        }
    }

    & > ig, .ig {
        display: flex;


        select, input {
            border-start-end-radius: 0 !important;
            border-end-end-radius: 0 !important;
            border-inline-end: none !important;
        }

        button {
            border-inline-start: none !important;
            border-start-start-radius: 0;
            border-end-start-radius: 0;
            margin-inline-end: 0;
            width: 1.5em;

            &:before {
                transition: $transition;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-image: var(--arrow-down-image);
                background-repeat: no-repeat;
                background-size: 0.8em;
                background-position: center;
            }
        }

        &.floatingline {
            input, select {
                margin-inline-end: 0 !important;
            }

            button {
                border-block-start: none;
                border-inline: none;
                border-block-end: calc(var(--border-width) * 2) solid var(--normal-border);
                margin-block-end: 0.22em;
                border-radius: 0;
            }
        }
    }

    &.expand {
        & > ig, .ig {
            button {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }

        detail, .detail {
            display: block;
        }
    }

    detail, .detail {
        display: none;

        ig, .ig {
            display: flex;
            align-items: center;

            label {
                background-color: var(--second-back);
                border-radius: var(--border-radius);
                padding: 0.25em;
            }

            select, input {
                padding-block: 0.1em !important;
                flex: 1;
            }
        }
    }
}
