@import "_variables.scss";

@mixin disabled-tag($extend: '') {
    fieldset:disabled & #{$extend},
    fieldset[disabled] & #{$extend},
    .ig[disabled] & #{$extend},
    .ig:disabled & #{$extend},
    ig:disabled & #{$extend},
    ig[disabled] & #{$extend},
    &:disabled #{$extend},
    &.disabled #{$extend} {
        pointer-events: none;
        @content;
    }
}

@mixin readonly-tag($extend: '') {
    fieldset[readonly] & #{$extend},
    .ig[readonly] & #{$extend},
    ig[readonly] & #{$extend},
    &[readonly] #{$extend},
    &.readonly #{$extend} {
        pointer-events: none;
        @content;
    }
}

@mixin media() {
    $minvalue: 0px;

    @content('');

    @each $media, $value in $breakpoints-min {
        //@media (min-width: #{$value}) and (max-width:#{map-get($breakpoints,$media)}) {
        @media (max-width:#{map-get($breakpoints,$media)}) {
            @content('-'+$media);
        }

        $minvalue: $value;
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}
