@page
@model WidgetNas.Pages.Layout.BreakpointModel
@{
    ViewData["Title"] = "نقاط شکست";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>برای نمایش بهتر محتوی و هماهنگی بین آنها، ما بر اساس طول نمایش به دسته های زیر تقسیم کرده ایم.</p>

<h2>حداقل اندازه نمایش</h2>
<ul class="list list-hover ltr">
    <li>?-s : &lt;576px</li>
    <li>≥576px</li>
    <li>?-m: ≥768px</li>
    <li>?-l: ≥992px</li>
    <li>?-xl: ≥1200px</li>
    <li>?-xxl: ≥1400px</li>
</ul>
<p>برای مثال کلاسهای زیر:</p>
<ul>
    <li>col-1-s: ستون در اندازه نمایش کمتر از 576 پیکسل</li>
    <li>d-none-s: مخفی کردن موضوع در اندازه نمایش کمتر از 576 پیکسل</li>
</ul>