@page
@model WidgetNas.Pages.Layout.ZindexModel
@{
    ViewData["Title"] = "اولویت های نمایشی";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>زمانیکه بخواهیم موضوعی را بر روی دیگر موضوعات نمایش دهیم، اولویت نمایش آنها مهم میشود، در زیر به مقدار آنها که در خصوصیت <bidi>z-index</bidi> تعیین شده است اشاره میشود.</p>
<h1>مقادیر</h1>
<ul class="ltr list list-hover">
    
    <li>dropdown: 2000</li>
    <li>sticky: 2020</li>
    <li>fixed: 2030</li>
    <li>modal: 2050</li>
    <li>tooltip: 2070</li>
  
</ul>