@import "../../_variables.scss";

$label-transform: scale(0.85) translateY(-0.9em);

.floating:not(.clean) {
    position: relative;
    margin-block-end: var(--margin-block);

    input:not(.clean),
    textarea:not(.clean) {
        padding-block-start: calc(var(--padding-block) + var(--margin-block) + 0.5em) !important;
        padding-inline: var(--padding-inline) !important;
        margin-block: 0 !important;
        margin-inline: 0 !important;
    }

    input:not(.clean),
    textarea:not(.clean),
    select:not(.clean) {
        &::-webkit-input-placeholder {
            color: transparent;
        }

        &::-moz-placeholder {
            color: transparent;
        }

        &::placeholder {
            color: transparent;
        }

        &:focus,
        &:not(:placeholder-shown),
        &:-webkit-autofill {
            padding-block-start: var(--padding-block2);
            padding-block-end: var(--padding-block);
        }

        &:not(:-moz-placeholder-shown) {
            padding-block-start: var(--padding-block2);
            padding-block-end: var(--padding-block);
        }

        &:focus ~ label,
        &:not(:placeholder-shown) ~ label,
        &:-webkit-autofill ~ label {
            opacity: 0.65;
            transform: $label-transform;
            transform-origin: right;

            &[dir=ltr] {
                transform-origin: left;
            }
        }


        &:not(:-moz-placeholder-shown) ~ label {
            opacity: 0.65;
            transform: $label-transform;
            transform-origin: right;
        }

        &[dir=ltr] {
            &:not(:-moz-placeholder-shown) ~ label {
                transform-origin: left;
            }
        }

        &:focus ~ .valid-feedback,
        &:focus ~ .invalid-feedback,
        &:hover ~ .valid-feedback,
        &:hover ~ .invalid-feedback {
            display: none !important;
        }
    }

    select:not(.clean) {
        padding-block-start: calc(var(--padding-block) + var(--margin-block) + 0.5em) !important;
        padding-inline: var(--padding-inline) !important;
        margin-block: 0 !important;
        margin-inline: 0 !important;
        background-position-y: calc(var(--padding-block) + var(--margin-block) + 0.3em);

        & ~ label {
            opacity: 0.65;
            transform: $label-transform;
        }
    }

    input[type=range]:not(.clean) {
        border: var(--border-width) solid var(--normal-border) !important;
        padding-block-start: calc(var(--padding-block) + var(--margin-block) + 1.42em) !important;
        padding-block-end: calc(var(--padding-block) + var(--margin-block) + 0.3em) !important;
        padding-inline: var(--padding-inline) !important;
    }

    label:not(.clean) {
        position: absolute;
        top: 0;
        padding-block-start: calc(var(--padding-block) + var(--margin-block) + 0.25em) !important;
        padding-inline: var(--padding-inline) !important;
        pointer-events: none;
        border: var(--border-width) solid transparent;
        transition: $transition;
    }

    input[type=radio]:not(.clean) ~ label:not(.clean),
    input[type=checkbox]:not(.clean) ~ label:not(.clean) {
        pointer-events: auto;
    }

    > ig:not(.clean) {
        border: var(--border-width) solid var(--normal-border);
        border-radius: var(--border-radius);
        padding-block-start: calc(var(--padding-block) + var(--margin-block) + 0.6em) !important;
        padding-block-end: calc(var(--padding-block) / 2) !important;
        padding-inline: var(--padding-inline) !important;

        ig:not(.clean) {
            display: inline-block !important;
            padding: 0 !important;

            label:not(.clean) {
                padding-block: 0 !important;
                opacity: 1 !important;
                position: relative;
                transform: none !important;
                transition: none !important;
                pointer-events: auto !important;
            }
        }

        & ~ label:not(.clean) {
            opacity: 0.65;
            transform: $label-transform;
        }
    }

    &.checkbox:not(.clean), ig.checkbox:not(.clean) {
        height: 100%;
        display: flex;
        align-items: center;

        label:not(.clean) {
            transform: none;
            opacity: 1;
            position: relative;
            padding-block: 0 !important;
        }
    }

    .valid-feedback:not(.clean) {
        background-color: var(--valid-back);
        color: var(--valid-color);
    }

    .invalid-feedback:not(.clean) {
        background-color: var(--invalid-back);
        color: var(--invalid-color)
    }

    .valid-feedback:not(.clean),
    .invalid-feedback:not(.clean) {
        display: none;
        font-size: 0.875em;
        transition: $transition !important;
        position: absolute;
        opacity: 0.9;
        max-width: 100%;
        min-width: max-content;
        width: auto;
        padding-block: 0;
        padding-inline: calc(var(--padding-inline)/2);
        font-size: 0.8rem;
        border-radius: var(--border-radius);
        user-select: none;
        overflow: hidden;
    }
}
