::file-selector-button {
    font: inherit;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
input:not([type=button]):not([type=submit]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=color]):not([type=date]):not([type=datetime]):not([type=datetime-local]):not([type=file]):not([type=month]):not([type=range]):not([type=search]):not([type=tel]):not([type=time]):not([type=week])[readonly] {
    pointer-events: auto !important;
}

textarea,
input:not([type=button]):not([type=submit]):not([type=reset]) {
    display: block;
    font-size: var(--font-size);
    font-weight: inherit;
    color: var(--normal-color);
    background-color: var(--normal-back);
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--normal-border);
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: var(--border-radius);
    transition: $transition, background-position 0s;
    line-height: var(--line-height);
    width: 100%;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    background-clip: padding-box;

    &:focus {
        color: var(--focus-color);
        background-color: var(--focus-back);
        border-color: var(--focus-border);
        outline: 0;
        box-shadow: 0 0 0 var(--input-shadow-width) var(--focus-shadow);
    }

    @include disabled-tag {
        border-color: var(--disable-border);
        background-color: var(--disable-back);
        color: var(--disable-color);
    }

    @include readonly-tag {
        background-color: var(--readonly-back);
        color: var(--readonly-color);
    }



    fieldset.noborder &, .ig.noborder &, ig.noborder &, &.noborder {
        border-color: transparent;
        background-color: var(--normal-back);
    }

    &:hover:not(:disabled):not([readonly]) {
        background-color: var(--hover-back);
        color: var(--hover-color);
    }

    &[type=email] {
        direction: ltr;
    }
}


input[type=file] {
    overflow: hidden;


    &::-webkit-file-upload-button,
    &::file-selector-button {
        padding-inline: var(--padding-inline);
        padding-block: var(--padding-block);
        margin-inline-start: calc(var(--padding-inline) *-1);
        margin-block: calc(var(--padding-block) * -1);
        color: var(--select-color);
        background-color: var(--select-back);
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: var(--border-width);
        border-radius: 0;
        pointer-events: none;
        height: calc(var(--padding-block) * 3 + var(--line-height));
    }

    @include disabled-tag() {
        background-color: var(--disable-back) !important;
        color: var(--disable-color) !important;

        &::-webkit-file-upload-button,
        &::file-selector-button {
            background-color: var(--disable-back) !important;
            color: var(--disable-color) !important;
        }
    }
}

input[type=color] {
    max-width: 2.225em;
    height: 2.225em;
    max-height: 2.225em;

    &:not(:disabled):not([readonly]) {
        cursor: pointer;
    }

    &::-moz-color-swatch {
        border-radius: var(--border-radius);
        height: 1em;
    }

    &::-webkit-color-swatch {
        border-radius: var(--border-radius);
        height: 1em;
        margin-block-start: calc(var(--margin-block)/2);
    }
}
