@import "../../_variables.scss";
.validated {

    &:not(.hide-valid) {
        input:not(:optional),
        textarea:not(:optional) {
            &.valid:not([type=radio]):not([type=checkbox]),
            &:valid:not([type=radio]):not([type=checkbox]) {
                background-image: var(--image-valid);
                background-repeat: no-repeat;
                background-position: left calc(var(--padding-inline)/2) center;
                background-size: 1em;

                &[dir=ltr] {
                    background-position: right calc(var(--padding-inline)/2) center;
                }
            }

            &.valid,
            &:valid {
                border-color: var(--valid-border);
            }
        }

        select:not(:optional) {
            &.valid,
            &:valid {
                border-color: var(--valid-border);
                background-image: var(--arrow-down-image),var(--image-valid);
                background-repeat: no-repeat;
                background-size: 0.8em,1em;
                background-position: left calc(var(--padding-inline)/2) center, center left 1.2em;

                &[dir=ltr] {
                    background-position: right calc(var(--padding-inline)/2) center, center right 1.2em;
                }
            }
        }

        *:not(:optional) {
            & *:valid ~ .valid-feedback,
            & .valid ~ .valid-feedback,
            & *:valid ~ .valid-tooltip,
            & .valid ~ .valid-tooltip {
                display: block;
                visibility: visible;
            }
        }
    }

    &:not(.hide-invalid) {
        input:not(:optional),
        textarea:not(:optional) {
            &.invalid:not([type=radio]):not([type=checkbox]),
            &:invalid:not([type=radio]):not([type=checkbox]) {
                background-image: var(--image-invalid);
                background-repeat: no-repeat;
                background-position: left calc(var(--padding-inline)/2) center;
                background-size: 0.3em;
            }

            &.invalid,
            &:invalid {
                border-color: var(--invalid-border);

                &[type=radio] + label,
                &[type=checkbox] + label {
                    color: var(--invalid-back) !important;
                    background-image: var(--image-invalid);
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 0.3em;
                    padding-inline-end: 1.2em;
                }

                &[dir=ltr] {
                    &.invalid:not([type=radio]):not([type=checkbox]),
                    &:invalid:not([type=radio]):not([type=checkbox]) {
                        background-position: right calc(var(--padding-inline)/2) center;
                    }

                    &[type=radio] + label,
                    &[type=checkbox] + label {
                        background-position: right center;
                    }
                }
            }
        }

        select:not(:optional) {
            &.invalid,
            &:invalid {
                border-color: var(--invalid-border);
                background-repeat: no-repeat;
                background-image: var(--arrow-down-image),var(--image-invalid);
                background-size: 1em,0.3em;
                background-position: left calc(var(--padding-inline)/2) center, center left 1.2em;
            }

            &[dir=ltr] {
                &.invalid,
                &:invalid {
                    background-position: right calc(var(--padding-inline)/2) center, center right 1.2em;
                }
            }
        }

        *:not(:optional) {
            & *:invalid ~ .invalid-feedback,
            & .invalid ~ .invalid-feedback {
                display: block;
                visibility: visible;
            }
        }
    }
}

.valid-feedback,
.invalid-feedback {
    display: none;
    margin-block-start: var(--margin-block);
    font-size: 0.875em;
    transition: $transition !important;
    left: 1.7em;
    right: auto;
    bottom: 0.5em;
    top: auto;
    position:absolute;
    z-index:0;

    &[dir=ltr] {
        left: auto;
        right: 1.7em;
    }

    &.tooltip {
        position: absolute;
        opacity: 0.9;
        top: 0;
        z-index: 5;
        display: none;
        max-width: 100%;
        left: 0;
        padding-block: calc(var(--padding-block)/2);
        padding-inline: calc(var(--padding-inline)/2);
        font-size: 0.8rem;
        border-radius: var(--border-radius);
        user-select: none;
        width: 1.8em;
        height: 1.8em;
        overflow: hidden;
        white-space: nowrap;
        transition: $transition;
    }

    [dir=ltr] > &.tooltip {
        left: auto;
        right: 0;
    }

    &.tooltip:hover {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
    }
}

.valid-feedback {
    color: var(--valid-back);

    &:hover:not(.tooltip) {
        opacity: 0.1;
    }

    &.tooltip {
        color: var(--valid-color);
        background-color: var(--valid-back);
    }
}

.invalid-feedback {
    color: var(--invalid-back);

    &:hover:not(.tooltip) {
        opacity: 0.1;
    }

    &.tooltip {
        color: var(--invalid-color);
        background-color: var(--invalid-back);
    }
}
