filelist,
.filelist {
    min-width: 10rem;
    min-height: 5rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    user-select: none;
    position: relative;
    scroll-behavior: smooth;

    .head {
        top: 0;
        background-color: var(--normal-back);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-block: 0.5em;
        width: 100%;

        .address {
            margin-block: 0;
            padding-inline-start: 0.2em;
            width: auto;
            line-height: 1em;

            li {
                padding-inline-start: 0;
                padding-inline-end: 0;

                &:after {
                    padding-inline-start: 0;
                }
            }
        }

        .toolbar {
            border-inline-end: var(--border-width) solid var(--normal-border);
            width: auto;

            .button-group {
                margin-inline-end: 0.5em !important;
            }

            button {
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
                padding-inline: 0.7em;
                margin-inline: 0.1em;
                width: 1em;
                height: 1em;
            }

            .refresh {
                background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z'/%3E%3C/svg%3E");
            }


            .newfolder {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M464,128H272L208,64H48A48,48,0,0,0,0,112V400a48,48,0,0,0,48,48H464a48,48,0,0,0,48-48V176A48,48,0,0,0,464,128ZM359.5,296a16,16,0,0,1-16,16h-64v64a16,16,0,0,1-16,16h-16a16,16,0,0,1-16-16V312h-64a16,16,0,0,1-16-16V280a16,16,0,0,1,16-16h64V200a16,16,0,0,1,16-16h16a16,16,0,0,1,16,16v64h64a16,16,0,0,1,16,16Z'%3E%3C/path%3E%3C/svg%3E");
            }

            .rename {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000b' d='M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z'%3E%3C/path%3E%3C/svg%3E");
            }

            .delete {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000b' d='M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z'%3E%3C/path%3E%3C/svg%3E");
            }

            .copy {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000b' d='M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z'%3E%3C/path%3E%3C/svg%3E");
            }

            .cut {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000b' d='M278.06 256L444.48 89.57c4.69-4.69 4.69-12.29 0-16.97-32.8-32.8-85.99-32.8-118.79 0L210.18 188.12l-24.86-24.86c4.31-10.92 6.68-22.81 6.68-35.26 0-53.02-42.98-96-96-96S0 74.98 0 128s42.98 96 96 96c4.54 0 8.99-.32 13.36-.93L142.29 256l-32.93 32.93c-4.37-.61-8.83-.93-13.36-.93-53.02 0-96 42.98-96 96s42.98 96 96 96 96-42.98 96-96c0-12.45-2.37-24.34-6.68-35.26l24.86-24.86L325.69 439.4c32.8 32.8 85.99 32.8 118.79 0 4.69-4.68 4.69-12.28 0-16.97L278.06 256zM96 160c-17.64 0-32-14.36-32-32s14.36-32 32-32 32 14.36 32 32-14.36 32-32 32zm0 256c-17.64 0-32-14.36-32-32s14.36-32 32-32 32 14.36 32 32-14.36 32-32 32z'%3E%3C/path%3E%3C/svg%3E");
            }

            .paste {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000b' d='M128 184c0-30.879 25.122-56 56-56h136V56c0-13.255-10.745-24-24-24h-80.61C204.306 12.89 183.637 0 160 0s-44.306 12.89-55.39 32H24C10.745 32 0 42.745 0 56v336c0 13.255 10.745 24 24 24h104V184zm32-144c13.255 0 24 10.745 24 24s-10.745 24-24 24-24-10.745-24-24 10.745-24 24-24zm184 248h104v200c0 13.255-10.745 24-24 24H184c-13.255 0-24-10.745-24-24V184c0-13.255 10.745-24 24-24h136v104c0 13.2 10.8 24 24 24zm104-38.059V256h-96v-96h6.059a24 24 0 0 1 16.97 7.029l65.941 65.941a24.002 24.002 0 0 1 7.03 16.971z'%3E%3C/path%3E%3C/svg%3E");
            }

            .upload {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000b' d='M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm65.18 216.01H224v80c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16v-80H94.82c-14.28 0-21.41-17.29-11.27-27.36l96.42-95.7c6.65-6.61 17.39-6.61 24.04 0l96.42 95.7c10.15 10.07 3.03 27.36-11.25 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z'%3E%3C/path%3E%3C/svg%3E");
            }

            .download {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000b' d='M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm76.45 211.36l-96.42 95.7c-6.65 6.61-17.39 6.61-24.04 0l-96.42-95.7C73.42 337.29 80.54 320 94.82 320H160v-80c0-8.84 7.16-16 16-16h32c8.84 0 16 7.16 16 16v80h65.18c14.28 0 21.4 17.29 11.27 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z'%3E%3C/path%3E%3C/svg%3E");
            }

            .compress {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000b' d='M377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zM128.4 336c-17.9 0-32.4 12.1-32.4 27 0 15 14.6 27 32.5 27s32.4-12.1 32.4-27-14.6-27-32.5-27zM224 136V0h-63.6v32h-32V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zM95.9 32h32v32h-32zm32.3 384c-33.2 0-58-30.4-51.4-62.9L96.4 256v-32h32v-32h-32v-32h32v-32h-32V96h32V64h32v32h-32v32h32v32h-32v32h32v32h-32v32h22.1c5.7 0 10.7 4.1 11.8 9.7l17.3 87.7c6.4 32.4-18.4 62.6-51.4 62.6z'%3E%3C/path%3E%3C/svg%3E");
            }

            .decompress {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000b' d='M384 121.9c0-6.3-2.5-12.4-7-16.9L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128zM571 308l-95.7-96.4c-10.1-10.1-27.4-3-27.4 11.3V288h-64v64h64v65.2c0 14.3 17.3 21.4 27.4 11.3L571 332c6.6-6.6 6.6-17.4 0-24zm-379 28v-32c0-8.8 7.2-16 16-16h176V160H248c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V352H208c-8.8 0-16-7.2-16-16z'%3E%3C/path%3E%3C/svg%3E");
            }
        }
    }

    .body {
        padding-inline-start: var(--padding-inline);
        border-block-start: var(--border-width) solid var(--normal-border);
        display: flex;
        flex-flow: row;
        width: 100%;
        overflow: hidden;
    }

    .folders {
        min-width: 10em;
        min-height: 10em;
        overflow: auto;

        .tree {
            white-space: nowrap;
            overflow: hidden;
            width: max-content;

            .tree-item:before {
                content: '';
                width: 1.1rem;
                height: 1.1rem;
                margin-inline: 0.25rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffd800' d='M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48z'%3E%3C/path%3E%3C/svg%3E");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .files {
        margin-inline-start: 0.5rem;
        border-inline-start: var(--border-width) solid var(--normal-border);
        width: 100%;
        cursor: default;
        min-width: 15em;
        min-height: 10em;
        overflow: auto;

        td:first-child {
            border-start-start-radius: var(--border-radius);
            border-end-start-radius: var(--border-radius);
            padding-inline-start: 0.3em;
            padding-inline-end: 0;
        }

        td:last-child {
            border-start-end-radius: var(--border-radius);
            border-end-end-radius: var(--border-radius);
        }

        td {
            white-space: nowrap;
            vertical-align: middle;
            height: 1.3rem;
        }

        tbody {
            td:nth-child(2) {
                direction: ltr;
                padding-inline-end: 1.5rem;

                &:before {
                    content: '';
                    display: block;
                    float: left !important;
                    width: 1.1rem;
                    height: 1.3rem;
                    margin-inline: 0.25rem;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23333' d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48z'%3E%3C/path%3E%3C/svg%3E");
                }
            }

            td:nth-child(3) {
                direction: ltr;
            }

            .compress:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%2339004d'%3E%3Cg%3E%3Cg transform='matrix(1 0 0 -1 0 1920)'%3E%3Cpath d='M777,1612.6v41.8h-42.6l-127.8,127.8H265.7v42.6l42.6,42.6h383.5l85.2-85.2h213v-127.8h-87.3L777,1612.6z M52.6,1100.4c-11.6,0-21.7,4.2-30,12.6c-8.4,8.4-12.6,18.4-12.6,30V1697c0,11.6,4.2,21.7,12.6,30c8.4,8.4,18.4,12.6,30,12.6h511.3c11.6,0,21.7-4.2,30-12.6c8.4-8.4,12.6-18.4,12.6-30V1143c0-11.6-4.2-21.7-12.6-30c-8.4-8.4-18.4-12.6-30-12.6H52.6z M95.2,1441.3h426.1v213H95.2V1441.3z M777,1484.8v69.5l170.4,56.7v-69.5L777,1484.8z M265.7,1526.5v42.6h85.2v-42.6H265.7z M777,1356.9v69.5l170.4,56.7v-69.5L777,1356.9z M95.2,1185.7h426.1v213H95.2V1185.7z M777,1229.1v69.5l170.4,56.7v-69.5L777,1229.1z M265.7,1270.9v42.6h85.2v-42.6H265.7z M308.3,972.6l-42.6,42.6v42.6h340.9l127.8,127.8h87.8l125.3,41.8v-41.8H990v-127.8H777l-85.2-85.2H308.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .audio:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%231a6600'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M843.9,10H156.1c-14.5,0-26.3,11.8-26.3,26.3v927.4c0,14.5,11.7,26.3,26.3,26.3h513c7.5,0,14.6-3.2,19.6-8.8l174.8-195.7c4.3-4.9,6.7-11,6.7-17.5V36.4C870.1,21.8,858.4,10,843.9,10z M787.3,694.9l-156.8-0.1l0,0c-7.8,0-15.2,3-20.6,8.5c-5.5,5.5-8.5,12.9-8.5,20.7l0.6,196.3h-393V76h578.4L787.3,694.9L787.3,694.9z'/%3E%3Cpath d='M424.7,726.3c47.3-10.3,80.2-41.6,80.4-73.6h0.1l1.2-370.7c0,0,94.4-13.4,186.7,113.5c0,0,0.3-65.5-70.7-113.5c-138.7-84.8-138.1-104.8-138.1-104.8c-26.5,2.7-29.2,20.3-29.2,20.3v399.9c-19.9-6-43.5-7.2-67.8-1.9c-53.8,11.7-88.9,50.6-78.6,86.8C314.7,715.7,370.9,738.3,424.7,726.3z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .excel:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23003300%0A'%3E%3Cg%3E%3Cpath d='M884.4,332.8H728.1v97h156.3V332.8z M884.4,456.3H728.1v97.1h156.3V456.3z M884.4,209.3H728.1v97h156.3V209.3z M884.4,698.8H728.1v97.1h156.3V698.8z M956.2,112.3H580.3c-4.5,0-8.8,0.9-12.7,2.6V10L10,121.1v757.8L567.6,990v-99.6c3.9,1.7,8.2,2.6,12.7,2.6h375.9c18.7,0,33.8-15.8,33.8-35.3V147.6C990,128.1,974.9,112.3,956.2,112.3z M385.9,663.6l-67.6-4.4l-50.7-127.9l-54.9,119.2l-63.4-4.4l80.3-145.6l-71.8-158.7l63.3-4.4l42.2,119.1h8.4l46.5-127.9l67.6-4.4l-84.5,167.6L385.9,663.6z M947.8,848.8H567.6v-52.9h126.7v-97.1H567.6v-22h126.7v-97H567.6v-26.4h126.7v-97.1H567.6v-26.5h126.7v-97H567.6v-26.4h126.7v-97H567.6v-52.9h380.2L947.8,848.8L947.8,848.8z M884.4,579.8H728.1v97h156.3V579.8z'/%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .image:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23b30059%0A'%3E%3Cg%3E%3Cg%3E%3Cpath d='M941,108H59c-27.1,0-49,21.9-49,49v686c0,27,21.9,49,49,49h882c27.1,0,49-22,49-49V157C990,130,968.1,108,941,108L941,108z M892,794H108V206h784V794z M711.4,543l-158.3,78.6L368.4,322.7L206,696h588L711.4,543z M659.3,451c33.8,0,61.3-27.4,61.3-61.3s-27.4-61.3-61.3-61.3S598,355.9,598,389.8S625.4,451,659.3,451z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .word:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23003380'%3E%3Cg%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%3E%3Cpath d='M3099.3,4505c-1497.1-285.2-2747.2-532.2-2779.7-545.6c-32.5-13.4-72.7-51.7-90-84.2c-30.6-57.4-32.6-342.7-26.8-3769.5l5.7-3710.2l57.4-55.5c57.4-57.4,84.2-63.2,2848.7-587.7L5905.8-4780l63.2,34.5c36.4,19.1,74.7,55.5,86.2,80.4c13.4,32.5,21,222.1,21,553.3v505.4l1709.6,5.7l1709.6,5.7l93.8,49.8c67,34.5,113,74.7,153.2,141.7l57.4,91.9V128.6v3440.2l-57.4,91.9c-40.2,67-86.2,107.2-153.2,141.7l-93.8,49.8l-1709.6,5.7l-1707.7,5.8l-5.7,524.5l-5.7,526.5l-49.8,49.8c-32.5,30.6-76.6,51.7-124.4,55.5C5848.4,5023.8,4728.5,4818.9,3099.3,4505z M5693.3,128.6c0-3266-5.7-4460.6-21-4460.6c-36.4,0-5057.9,959.1-5075.2,968.7c-7.6,5.8-15.3,1577.5-15.3,3493.8c0,2909.9,3.8,3484.3,26.8,3493.8c36.4,13.4,4990.9,961,5042.6,962.9l42.1,1.9V128.6z M9407.3,128.6v-3331.1H7741.8H6076.2v488.2v488.2l1374.6,3.8l1372.7,5.7v191.4v191.4l-1372.7,5.7l-1374.6,3.8v583.9v583.9h1378.4h1380.3l-5.7,197.2l-5.7,195.3l-1372.7,5.7l-1374.6,3.8v488.2v488.2h1378.4H8833v191.4V1105H7454.6H6076.2v488.2v488.2l1374.6,3.8l1372.7,5.7v191.4v191.4l-1372.7,5.7l-1374.6,3.8v488.2v488.2h1665.6h1665.5V128.6z'/%3E%3Cpath d='M1112.1,1953c-3.8-9.6,107.2-574.3,247-1259.7c141.7-683.5,308.2-1504.7,373.3-1822.5l118.7-580.1h371.4c202.9,0,369.5,3.8,369.5,9.6c0,3.8,113,553.3,248.9,1219.5c137.8,664.3,254.6,1267.3,262.3,1340.1c13.4,147.4,44,176.1,44,40.2c0-49.8,113-656.6,250.8-1349.7l252.7-1259.7l354.2,3.8l354.2,5.7L4728.5,99.9c204.8,989.8,371.4,1814.9,371.4,1834c0,28.7-26.8,32.5-315.9,32.5c-312.1,0-315.9,0-325.5-42.1c-21-99.5-392.5-2452.4-409.7-2596c-9.6-88-21.1-162.7-24.9-168.5c-5.7-3.8-15.3,53.6-21,130.2c-9.6,105.3-407.8,2262.8-484.4,2624.7l-11.5,51.7h-342.7c-187.6,0-342.7-5.7-342.7-11.5c0-5.7-112.9-541.8-248.9-1188.9C2281.8-604.6,2266.5-681.2,2266.5-775c0-143.6-32.5-86.2-44,76.6C2216.8-606.5,2121,21.4,2010,699.1c-111,677.7-202.9,1238.6-202.9,1250.1C1807.1,1970.3,1123.6,1974.1,1112.1,1953z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .pdf:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23990000'%3E%3Cg%3E%3Cpath d='M832.7,990H167.3c-40.2,0-72.9-32.7-72.9-72.8V82.9c0-40.2,32.7-72.9,72.9-72.9h518.9l219.4,229.3v677.8C905.6,957.3,872.9,990,832.7,990z M167.3,58.1c-13.7,0-24.8,11.1-24.8,24.8v834.3c0,13.6,11.1,24.8,24.8,24.8h665.4c13.7,0,24.8-11.1,24.8-24.8V258.6L665.6,58.1H167.3z'/%3E%3Cpath d='M881.5,273H724.7c-40.2,0-72.9-32.7-72.9-72.8V34c0-9.8,6-18.7,15.1-22.3c9.1-3.6,19.5-1.4,26.3,5.7l205.6,214.9c6.7,7,8.5,17.2,4.7,26.1C899.8,267.3,891.1,273,881.5,273z M699.9,93.9v106.2c0,13.7,11.1,24.8,24.8,24.8h100.5L699.9,93.9z'/%3E%3Cpath d='M819.7,589c-0.7-5.3-4.9-11.8-9.4-16.2l-0.1,0c-12.8-12.6-41.2-19.3-84.5-19.9c-29.3-0.3-64.5,2.3-101.6,7.4c-16.6-9.6-33.7-20-47.1-32.5c-36.1-33.7-66.3-80.5-85.1-132c1.2-4.8,2.3-9,3.3-13.4c0,0,20.3-115.6,15-154.6c-0.8-5.3-1.2-6.9-2.6-11.1l-1.8-4.5c-5.5-12.8-16.4-26.3-33.4-25.5l-10.2-0.3c-19,0-34.4,9.7-38.5,24.2C411.2,255.9,424,324,447,412.1l-5.9,14.4c-16.5,40.3-37.2,80.8-55.5,116.6l-2.4,4.6c-19.2,37.6-36.6,69.5-52.4,96.6l-16.3,8.6c-1.2,0.6-29.1,15.4-35.7,19.4c-55.6,33.3-92.5,71-98.6,100.9c-2,9.6-0.5,21.8,9.4,27.4l15.8,8c6.9,3.4,14.1,5.2,21.4,5.2c39.7,0,85.7-49.4,149-160c73.2-23.8,156.5-43.6,229.5-54.5c55.6,31.3,124.1,53.1,167.3,53.1c7.7,0,14.3-0.7,19.7-2.1c8.3-2.2,15.2-6.9,19.5-13.4C820.3,624.2,821.9,606.8,819.7,589z M218.2,783.7c7.2-19.8,35.8-58.9,78.2-93.5c2.6-2.2,9.2-8.3,15.2-14C267.3,746.8,237.7,774.8,218.2,783.7z M468.7,206.7c12.7,0,20,32.1,20.6,62.2c0.6,30.1-6.4,51.2-15.2,66.9c-7.2-23.1-10.7-59.6-10.7-83.5C463.4,252.3,462.9,206.7,468.7,206.7z M394,617.9L394,617.9c8.8-15.9,18.1-32.6,27.5-50.4c23-43.5,37.5-77.5,48.4-105.5c21.5,39.2,48.3,72.5,79.8,99.1c3.9,3.3,8.1,6.7,12.4,10C498.1,583.8,442.8,599.2,394,617.9z M797.8,614.3L797.8,614.3c-3.9,2.4-15.1,3.8-22.2,3.8c-23.2,0-51.9-10.6-92.1-27.8c15.5-1.1,29.6-1.7,42.3-1.7c23.3,0,30.2,0,52.9,5.7C801.5,600.1,801.8,611.8,797.8,614.3z'/%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .powerpoint:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23b32400'%3E%3Cg%3E%3Cg transform='translate(0.000000,241.000000) scale(0.100000,-0.100000)'%3E%3Cpath d='M4802.1,1945.2c-442.8-78.4-1649.7-297.8-2684.1-485.9c-1034.5-184.2-1912.2-344.8-1947.5-356.6c-66.6-19.6-70.5-231.2-70.5-3695.1v-3671.6L1130.5-6448c564.3-101.9,1802.5-325.3,2750.8-497.6c948.3-172.4,1735.9-313.5,1755.5-313.5c35.3,0,35.3,9318,0,9337.6C5617.1,2086.3,5244.9,2027.5,4802.1,1945.2z M3528.6-1032.8c239-66.6,470.2-321.3,525.1-576c58.8-274.3,54.9-427.1-11.7-650.5c-74.4-250.8-223.4-434.9-466.3-572.1c-180.3-101.9-239-117.5-525.1-117.5h-325.2v-501.6V-3952l-242.9,15.7c-137.1,7.8-258.6,15.7-278.2,19.6c-31.4,7.8-43.1,2805.6-11.8,2840.8C2263-1009.3,3317-974,3528.6-1032.8z'/%3E%3Cpath d='M2725.4-1985v-454.5H2886c203.7,0,403.6,94,462.4,219.4c74.4,172.4,54.9,431-47,548.6c-78.4,90.1-133.2,109.7-333.1,125.4l-243,15.7V-1985z'/%3E%3Cpath d='M5977.7,87.9v-215.5l1735.9-7.8l1732-11.7l11.7-2104.2l7.8-2108.1h133.2c74.4,0,168.5,31.3,215.5,66.6l86.2,70.5l-11.7,2206c-11.7,2135.5-15.7,2210-86.2,2264.9c-66.6,47-395.8,54.9-1951.4,54.9h-1873V87.9z'/%3E%3Cpath d='M5977.7-640.9c0-231.2,3.9-239,90.1-215.5c47,15.7,152.8,39.2,235.1,50.9l145,23.5v-654.4v-650.5h670H7788l-27.4-145c-66.6-364.4-340.9-713.1-697.5-893.4c-160.7-78.4-258.6-98-505.5-98c-180.2,0-364.4,23.5-442.8,54.8l-137.1,58.8v-235.1v-231.2H7114h1136.3v-254.7v-254.7l-1124.6-7.8l-1128.5-11.7l-11.7-145l-11.8-148.9h1116.8h1120.7v-254.7v-254.7H7094.4H5977.7v-254.7v-254.7h1539.9c1445.9,0,1547.8,3.9,1606.6,70.5c58.8,66.6,66.6,293.9,66.6,2445.1c0,2245.2-3.9,2374.5-70.5,2433.3c-66.6,58.8-235.1,66.6-1606.6,66.6h-1536V-640.9z M7059.1-868.2c356.6-160.7,662.2-556.4,689.7-889.5l11.7-152.8l-576-11.7l-579.9-11.8v572.1v568.2h148.9C6831.9-793.8,6973-829,7059.1-868.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .video:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23009973%0A'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M843.9,10H156.1c-14.5,0-26.3,11.8-26.3,26.3v927.3c0,14.6,11.8,26.3,26.3,26.3h513.1c7.4,0,14.6-3.3,19.6-8.7l174.7-195.9c4.3-4.7,6.7-10.9,6.7-17.4V36.3C870.2,21.8,858.5,10,843.9,10z M787.2,695l-156.7-0.2l0,0c-7.9,0-15.2,3.1-20.7,8.5c-5.5,5.4-8.6,13-8.4,20.6l0.5,196.3h-393V76h578.4V695z'/%3E%3Cpath d='M443,597.5c2.6,1.3,5.4,2,8.3,2c3.7,0,7.6-1.2,10.7-3.6l151.7-110.1c4.8-3.6,7.7-9,7.7-14.8c0-5.9-2.9-11.3-7.7-14.8L462.1,346.1c-5.5-4-12.9-4.6-19-1.5c-6.1,3.1-10,9.4-10,16.3v220.4C433.1,588.2,436.9,594.5,443,597.5z'/%3E%3Cpath d='M500.1,692.3c121.9,0,221.2-99.3,221.2-221.2c0-122-99.3-221.2-221.2-221.2c-122,0-221.2,99.3-221.2,221.2C278.8,593.1,378.1,692.3,500.1,692.3z M500.1,286.8c101.7,0,184.4,82.7,184.4,184.3c0,101.7-82.7,184.3-184.4,184.3c-101.6,0-184.4-82.6-184.4-184.3C315.7,369.4,398.4,286.8,500.1,286.8z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }
        }
    }

    .dropfile {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.9;
        background-color: var(--normal-back);

        &.show {
            display: block;
        }

        & .filearea {
            opacity: 1;
            position: absolute;
            left: 10%;
            top: 10%;
            right: 10%;
            bottom: 10%;
            border: 0.25rem solid var(--active-border);
            color: var(--active-border);
            text-align: center;
            vertical-align: middle;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
        }
    }


    @include disabled-tag() {
        fill: var(--disable-color);
        color: var(--disable-color);
    }

    @include disabled-tag('.head') {
        display: none;
    }



    @include readonly-tag ('.head') {
        display: none;
    }

    @include readonly-tag ('.files tr') {
        background-color: var(--readonly-back);
        color: var(--readonly-color);
    }
}
