@import "../../_functions.scss";
filelist,
.filelist {
    min-width: 10rem;
    min-height: 5rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    user-select: none;
    position: relative;
    scroll-behavior: smooth;

    .head {
        background-color: var(--normal-back);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-block: 0.5em;
        width: 100%;

        .address {
            margin-block: 0;
            padding-inline-start: 0.2em;
            width: auto;
            line-height: 1em;

            li {
                padding-inline-start: 0;
                padding-inline-end: 0;

                &:after {
                    padding-inline-start: 0;
                }
            }
        }

        .toolbar {
            border-inline-end: var(--border-width) solid var(--normal-border);
            width: auto;

            .button-group {
                margin-inline-end: 0.5em !important;
            }

            button {
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
                padding-inline: 0.7em;
                margin-inline: 0.1em;
                width: 1em;
                height: 1em;
            }

            .refresh {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M94 187.1C120.8 124.1 183.3 80 256 80c39.7 0 77.8 15.8 105.9 43.9L414.1 176 360 176c-13.3 0-24 10.7-24 24s10.7 24 24 24l112 0c13.3 0 24-10.7 24-24l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 54.1L395.9 89.9C358.8 52.8 308.5 32 256 32C163.4 32 83.9 88.2 49.8 168.3c-5.2 12.2 .5 26.3 12.7 31.5s26.3-.5 31.5-12.7zm368 157c5.2-12.2-.4-26.3-12.6-31.5s-26.3 .4-31.5 12.6C391 388.1 328.6 432 256 432c-39.7 0-77.8-15.8-105.9-43.9L97.9 336l54.1 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L40 288c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-54.1 52.1 52.1C153.2 459.2 203.5 480 256 480c92.5 0 171.8-56 206-135.9z'/%3E%3C/svg%3E");
            }


            .newfolder {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000b' d='M248 72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 160L40 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l160 0 0 160c0 13.3 10.7 24 24 24s24-10.7 24-24l0-160 160 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-160 0 0-160z'/%3E%3C/svg%3E%0A");
            }

            .rename {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M36.4 360.9L13.4 439 1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1L73 498.6l78.1-23c12.4-3.6 23.7-9.9 33.4-18.4c1.4-1.2 2.7-2.5 4-3.8L492.7 149.3c21.9-21.9 24.6-55.6 8.2-80.5c-2.3-3.5-5.1-6.9-8.2-10L453.3 19.3c-25-25-65.5-25-90.5 0L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4zm46 13.5c1.7-5.6 4.5-10.8 8.4-15.2c.6-.6 1.1-1.2 1.7-1.8L321 129 383 191 154.6 419.5c-4.7 4.7-10.6 8.2-17 10.1l-23.4 6.9L59.4 452.6l16.1-54.8 6.9-23.4z'/%3E%3C/svg%3E%0A");
            }

            .delete {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000b' d='M177.1 48l93.7 0c2.7 0 5.2 1.3 6.7 3.6l19 28.4-145 0 19-28.4c1.5-2.2 4-3.6 6.7-3.6zM354.2 80L317.5 24.9C307.1 9.4 289.6 0 270.9 0L177.1 0c-18.7 0-36.2 9.4-46.6 24.9L93.8 80 80.1 80 32 80l-8 0C10.7 80 0 90.7 0 104s10.7 24 24 24l11.6 0L59.6 452.7c2.5 33.4 30.3 59.3 63.8 59.3l201.1 0c33.5 0 61.3-25.9 63.8-59.3L412.4 128l11.6 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-8 0-48.1 0-13.7 0zm10.1 48L340.5 449.2c-.6 8.4-7.6 14.8-16 14.8l-201.1 0c-8.4 0-15.3-6.5-16-14.8L83.7 128l280.6 0z'/%3E%3C/svg%3E ");
            }

            .copy {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000b' d='M384 336l-192 0c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l140.1 0L400 115.9 400 320c0 8.8-7.2 16-16 16zM192 384l192 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L192 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-32-48 0 0 32c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l32 0 0-48-32 0z'/%3E%3C/svg%3E%0A");
            }

            .cut {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M506.4 439.4c-8.5 10.2-23.7 11.5-33.8 3L312.4 308.2l37.4-31.3L503.4 405.6c10.2 8.5 11.5 23.7 3 33.8zM112 48a64 64 0 1 0 0 128 64 64 0 1 0 0-128zm0-48c61.9 0 112 50.1 112 112c0 17.9-4.2 34.8-11.6 49.8l75.1 62.9L472.6 69.6c10.2-8.5 25.3-7.2 33.8 3s7.2 25.3-3 33.8l-291 243.8c7.4 15 11.6 31.9 11.6 49.8c0 61.9-50.1 112-112 112S0 461.9 0 400s50.1-112 112-112c26.6 0 51.1 9.3 70.3 24.8L250.1 256l-67.8-56.8C163.1 214.7 138.6 224 112 224C50.1 224 0 173.9 0 112S50.1 0 112 0zm64 400A64 64 0 1 0 48 400a64 64 0 1 0 128 0z'/%3E%3C/svg%3E%0A");
            }

            .paste {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M104.6 48L64 48C28.7 48 0 76.7 0 112L0 384c0 35.3 28.7 64 64 64l96 0 0-48-96 0c-8.8 0-16-7.2-16-16l0-272c0-8.8 7.2-16 16-16l16 0c0 17.7 14.3 32 32 32l72.4 0C202 108.4 227.6 96 256 96l62 0c-7.1-27.6-32.2-48-62-48l-40.6 0C211.6 20.9 188.2 0 160 0s-51.6 20.9-55.4 48zM144 56a16 16 0 1 1 32 0 16 16 0 1 1 -32 0zM448 464l-192 0c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l140.1 0L464 243.9 464 448c0 8.8-7.2 16-16 16zM256 512l192 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9l-67.9-67.9c-9-9-21.2-14.1-33.9-14.1L256 128c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64z'/%3E%3C/svg%3E%0A");
            }

            .upload {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M280 360c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-278.1-95 95c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 7c9.4-9.4 24.6-9.4 33.9 0L409 143c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-95-95L280 360zm32-8l0-48 136 0c35.3 0 64 28.7 64 64l0 80c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64l0-80c0-35.3 28.7-64 64-64l136 0 0 48L64 352c-8.8 0-16 7.2-16 16l0 80c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-80c0-8.8-7.2-16-16-16l-136 0zm72 56a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z'/%3E%3C/svg%3E%0A");
            }

            .download {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M280 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 270.1-95-95c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9L239 369c9.4 9.4 24.6 9.4 33.9 0L409 233c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-95 95L280 24zM128.8 304L64 304c-35.3 0-64 28.7-64 64l0 80c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-80c0-35.3-28.7-64-64-64l-64.8 0-48 48L448 352c8.8 0 16 7.2 16 16l0 80c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-80c0-8.8 7.2-16 16-16l112.8 0-48-48zM432 408a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z'/%3E%3C/svg%3E%0A");
            }

            .compress {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000b' d='M64 464c-8.8 0-16-7.2-16-16L48 64c0-8.8 7.2-16 16-16l48 0c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l48 0 0 80c0 17.7 14.3 32 32 32l80 0 0 288c0 8.8-7.2 16-16 16L64 464zM64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-293.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0L64 0zm48 112c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm0 64c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm-6.3 71.8L82.1 335.9c-1.4 5.4-2.1 10.9-2.1 16.4c0 35.2 28.8 63.7 64 63.7s64-28.5 64-63.7c0-5.5-.7-11.1-2.1-16.4l-23.5-88.2c-3.7-14-16.4-23.8-30.9-23.8l-14.8 0c-14.5 0-27.2 9.7-30.9 23.8zM128 336l32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E");
            }

            .decompress {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 576.05 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000b' d='M 336 448 C 336 456.8 328.8 464 320 464 L 64 464 C 55.2 464 48 456.8 48 448 L 48 64 C 48 55.2 55.2 48 64 48 L 224 48 L 224 128 C 224 145.7 238.3 160 256 160 L 336 160 L 336 256 L 384 256 L 384 154.5 C 384 137.5 377.3 121.2 365.3 109.2 L 274.7 18.7 C 262.7 6.7 246.5 0 229.5 0 L 64 0 C 28.7 0 0 28.7 0 64 L 0 448 C 0 483.3 28.7 512 64 512 L 320 512 C 355.3 512 384 483.3 384 448 L 384 368 L 336 368 L 336 448 Z M 489 215 C 479.6 205.6 464.4 205.6 455.1 215 C 445.8 224.4 445.7 239.6 455.1 248.9 L 494.1 287.9 L 216 288 C 202.7 288 192 298.7 192 312 C 192 325.3 202.7 336 216 336 L 494.1 336 L 455.1 375 C 445.7 384.4 445.7 399.6 455.1 408.9 C 464.5 418.2 479.7 418.3 489 408.9 L 569 328.9 C 578.4 319.5 578.4 304.3 569 295 L 489 215 Z M 92.64 334.282 C 92.64 325.482 99.84 318.282 108.64 318.282 L 140.64 318.282 C 149.44 318.282 156.64 325.482 156.64 334.282 C 156.64 343.082 149.44 350.282 140.64 350.282 L 108.64 350.282 C 99.84 350.282 92.64 343.082 92.64 334.282 Z M 86.44 229.982 L 86.34 230.082 L 62.74 318.182 C 61.34 323.582 60.64 329.082 60.64 334.582 C 60.64 369.782 89.44 398.282 124.64 398.282 C 159.84 398.282 188.64 369.782 188.64 334.582 C 188.64 329.082 187.94 323.482 186.54 318.182 L 163.04 229.982 C 159.34 215.982 146.64 206.182 132.14 206.182 L 117.34 206.182 C 102.84 206.182 90.14 215.882 86.44 229.982 Z M 108.64 142.282 C 99.84 142.282 92.64 149.482 92.64 158.282 C 92.64 167.082 99.84 174.282 108.64 174.282 L 140.64 174.282 C 149.44 174.282 156.64 167.082 156.64 158.282 C 156.64 149.482 149.44 142.282 140.64 142.282 L 108.64 142.282 Z M 108.64 78.282 C 99.84 78.282 92.64 85.482 92.64 94.282 C 92.64 103.082 99.84 110.282 108.64 110.282 L 140.64 110.282 C 149.44 110.282 156.64 103.082 156.64 94.282 C 156.64 85.482 149.44 78.282 140.64 78.282 L 108.64 78.282 Z' id='object-0' transform='matrix(1, 0, 0, 1, 7.105427357601002e-15, 7.105427357601002e-15)'/%3E%3C/svg%3E%0A");
            }
        }
    }

    .body {
        padding-inline-start: var(--padding-inline);
        border-block-start: var(--border-width) solid var(--normal-border);
        display: flex;
        flex-flow: row;
        width: 100%;
        overflow: hidden;
    }

    .folders {
        min-width: 10em;
        min-height: 10em;
        overflow: auto;

        .tree {
            white-space: nowrap;
            overflow: hidden;
            width: max-content;

            li {
                background-position-y: .5rem;

                item:before {
                    content: '';
                    width: 1em;
                    height: 1em;
                    margin-inline-end: 0.25rem;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000b' d='M0 96C0 60.7 28.7 32 64 32l132.1 0c19.1 0 37.4 7.6 50.9 21.1L289.9 96 448 96c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-256c0-8.8-7.2-16-16-16l-161.4 0c-10.6 0-20.8-4.2-28.3-11.7L213.1 87c-4.5-4.5-10.6-7-17-7L64 80z'/%3E%3C/svg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }

    .files {
        margin-inline-start: 0.5rem;
        border-inline-start: var(--border-width) solid var(--normal-border);
        width: 100%;
        cursor: default;
        min-width: 15em;
        min-height: 10em;
        overflow: auto;

        td:first-child {
            border-start-start-radius: var(--border-radius);
            border-end-start-radius: var(--border-radius);
            padding-inline-start: 0.3em;
            padding-inline-end: 0;
        }

        td:last-child {
            border-start-end-radius: var(--border-radius);
            border-end-end-radius: var(--border-radius);
        }

        td {
            white-space: nowrap;
            vertical-align: middle;
            height: 1.3rem;
        }

        tbody {
            td:nth-child(2) {
                direction: ltr;
                padding-inline-end: 1.5rem;

                &:before {
                    content: '';
                    display: block;
                    float: left !important;
                    width: 1.1rem;
                    height: 1.3rem;
                    margin-inline: 0.25rem;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23333' d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48z'%3E%3C/path%3E%3C/svg%3E");
                }
            }

            td:nth-child(3) {
                direction: ltr;
            }

            .compress:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%2339004d'%3E%3Cg%3E%3Cg transform='matrix(1 0 0 -1 0 1920)'%3E%3Cpath d='M777,1612.6v41.8h-42.6l-127.8,127.8H265.7v42.6l42.6,42.6h383.5l85.2-85.2h213v-127.8h-87.3L777,1612.6z M52.6,1100.4c-11.6,0-21.7,4.2-30,12.6c-8.4,8.4-12.6,18.4-12.6,30V1697c0,11.6,4.2,21.7,12.6,30c8.4,8.4,18.4,12.6,30,12.6h511.3c11.6,0,21.7-4.2,30-12.6c8.4-8.4,12.6-18.4,12.6-30V1143c0-11.6-4.2-21.7-12.6-30c-8.4-8.4-18.4-12.6-30-12.6H52.6z M95.2,1441.3h426.1v213H95.2V1441.3z M777,1484.8v69.5l170.4,56.7v-69.5L777,1484.8z M265.7,1526.5v42.6h85.2v-42.6H265.7z M777,1356.9v69.5l170.4,56.7v-69.5L777,1356.9z M95.2,1185.7h426.1v213H95.2V1185.7z M777,1229.1v69.5l170.4,56.7v-69.5L777,1229.1z M265.7,1270.9v42.6h85.2v-42.6H265.7z M308.3,972.6l-42.6,42.6v42.6h340.9l127.8,127.8h87.8l125.3,41.8v-41.8H990v-127.8H777l-85.2-85.2H308.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .audio:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%231a6600'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M843.9,10H156.1c-14.5,0-26.3,11.8-26.3,26.3v927.4c0,14.5,11.7,26.3,26.3,26.3h513c7.5,0,14.6-3.2,19.6-8.8l174.8-195.7c4.3-4.9,6.7-11,6.7-17.5V36.4C870.1,21.8,858.4,10,843.9,10z M787.3,694.9l-156.8-0.1l0,0c-7.8,0-15.2,3-20.6,8.5c-5.5,5.5-8.5,12.9-8.5,20.7l0.6,196.3h-393V76h578.4L787.3,694.9L787.3,694.9z'/%3E%3Cpath d='M424.7,726.3c47.3-10.3,80.2-41.6,80.4-73.6h0.1l1.2-370.7c0,0,94.4-13.4,186.7,113.5c0,0,0.3-65.5-70.7-113.5c-138.7-84.8-138.1-104.8-138.1-104.8c-26.5,2.7-29.2,20.3-29.2,20.3v399.9c-19.9-6-43.5-7.2-67.8-1.9c-53.8,11.7-88.9,50.6-78.6,86.8C314.7,715.7,370.9,738.3,424.7,726.3z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .excel:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23003300%0A'%3E%3Cg%3E%3Cpath d='M884.4,332.8H728.1v97h156.3V332.8z M884.4,456.3H728.1v97.1h156.3V456.3z M884.4,209.3H728.1v97h156.3V209.3z M884.4,698.8H728.1v97.1h156.3V698.8z M956.2,112.3H580.3c-4.5,0-8.8,0.9-12.7,2.6V10L10,121.1v757.8L567.6,990v-99.6c3.9,1.7,8.2,2.6,12.7,2.6h375.9c18.7,0,33.8-15.8,33.8-35.3V147.6C990,128.1,974.9,112.3,956.2,112.3z M385.9,663.6l-67.6-4.4l-50.7-127.9l-54.9,119.2l-63.4-4.4l80.3-145.6l-71.8-158.7l63.3-4.4l42.2,119.1h8.4l46.5-127.9l67.6-4.4l-84.5,167.6L385.9,663.6z M947.8,848.8H567.6v-52.9h126.7v-97.1H567.6v-22h126.7v-97H567.6v-26.4h126.7v-97.1H567.6v-26.5h126.7v-97H567.6v-26.4h126.7v-97H567.6v-52.9h380.2L947.8,848.8L947.8,848.8z M884.4,579.8H728.1v97h156.3V579.8z'/%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .image:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23b30059%0A'%3E%3Cg%3E%3Cg%3E%3Cpath d='M941,108H59c-27.1,0-49,21.9-49,49v686c0,27,21.9,49,49,49h882c27.1,0,49-22,49-49V157C990,130,968.1,108,941,108L941,108z M892,794H108V206h784V794z M711.4,543l-158.3,78.6L368.4,322.7L206,696h588L711.4,543z M659.3,451c33.8,0,61.3-27.4,61.3-61.3s-27.4-61.3-61.3-61.3S598,355.9,598,389.8S625.4,451,659.3,451z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .word:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23003380'%3E%3Cg%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%3E%3Cpath d='M3099.3,4505c-1497.1-285.2-2747.2-532.2-2779.7-545.6c-32.5-13.4-72.7-51.7-90-84.2c-30.6-57.4-32.6-342.7-26.8-3769.5l5.7-3710.2l57.4-55.5c57.4-57.4,84.2-63.2,2848.7-587.7L5905.8-4780l63.2,34.5c36.4,19.1,74.7,55.5,86.2,80.4c13.4,32.5,21,222.1,21,553.3v505.4l1709.6,5.7l1709.6,5.7l93.8,49.8c67,34.5,113,74.7,153.2,141.7l57.4,91.9V128.6v3440.2l-57.4,91.9c-40.2,67-86.2,107.2-153.2,141.7l-93.8,49.8l-1709.6,5.7l-1707.7,5.8l-5.7,524.5l-5.7,526.5l-49.8,49.8c-32.5,30.6-76.6,51.7-124.4,55.5C5848.4,5023.8,4728.5,4818.9,3099.3,4505z M5693.3,128.6c0-3266-5.7-4460.6-21-4460.6c-36.4,0-5057.9,959.1-5075.2,968.7c-7.6,5.8-15.3,1577.5-15.3,3493.8c0,2909.9,3.8,3484.3,26.8,3493.8c36.4,13.4,4990.9,961,5042.6,962.9l42.1,1.9V128.6z M9407.3,128.6v-3331.1H7741.8H6076.2v488.2v488.2l1374.6,3.8l1372.7,5.7v191.4v191.4l-1372.7,5.7l-1374.6,3.8v583.9v583.9h1378.4h1380.3l-5.7,197.2l-5.7,195.3l-1372.7,5.7l-1374.6,3.8v488.2v488.2h1378.4H8833v191.4V1105H7454.6H6076.2v488.2v488.2l1374.6,3.8l1372.7,5.7v191.4v191.4l-1372.7,5.7l-1374.6,3.8v488.2v488.2h1665.6h1665.5V128.6z'/%3E%3Cpath d='M1112.1,1953c-3.8-9.6,107.2-574.3,247-1259.7c141.7-683.5,308.2-1504.7,373.3-1822.5l118.7-580.1h371.4c202.9,0,369.5,3.8,369.5,9.6c0,3.8,113,553.3,248.9,1219.5c137.8,664.3,254.6,1267.3,262.3,1340.1c13.4,147.4,44,176.1,44,40.2c0-49.8,113-656.6,250.8-1349.7l252.7-1259.7l354.2,3.8l354.2,5.7L4728.5,99.9c204.8,989.8,371.4,1814.9,371.4,1834c0,28.7-26.8,32.5-315.9,32.5c-312.1,0-315.9,0-325.5-42.1c-21-99.5-392.5-2452.4-409.7-2596c-9.6-88-21.1-162.7-24.9-168.5c-5.7-3.8-15.3,53.6-21,130.2c-9.6,105.3-407.8,2262.8-484.4,2624.7l-11.5,51.7h-342.7c-187.6,0-342.7-5.7-342.7-11.5c0-5.7-112.9-541.8-248.9-1188.9C2281.8-604.6,2266.5-681.2,2266.5-775c0-143.6-32.5-86.2-44,76.6C2216.8-606.5,2121,21.4,2010,699.1c-111,677.7-202.9,1238.6-202.9,1250.1C1807.1,1970.3,1123.6,1974.1,1112.1,1953z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .pdf:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23990000'%3E%3Cg%3E%3Cpath d='M832.7,990H167.3c-40.2,0-72.9-32.7-72.9-72.8V82.9c0-40.2,32.7-72.9,72.9-72.9h518.9l219.4,229.3v677.8C905.6,957.3,872.9,990,832.7,990z M167.3,58.1c-13.7,0-24.8,11.1-24.8,24.8v834.3c0,13.6,11.1,24.8,24.8,24.8h665.4c13.7,0,24.8-11.1,24.8-24.8V258.6L665.6,58.1H167.3z'/%3E%3Cpath d='M881.5,273H724.7c-40.2,0-72.9-32.7-72.9-72.8V34c0-9.8,6-18.7,15.1-22.3c9.1-3.6,19.5-1.4,26.3,5.7l205.6,214.9c6.7,7,8.5,17.2,4.7,26.1C899.8,267.3,891.1,273,881.5,273z M699.9,93.9v106.2c0,13.7,11.1,24.8,24.8,24.8h100.5L699.9,93.9z'/%3E%3Cpath d='M819.7,589c-0.7-5.3-4.9-11.8-9.4-16.2l-0.1,0c-12.8-12.6-41.2-19.3-84.5-19.9c-29.3-0.3-64.5,2.3-101.6,7.4c-16.6-9.6-33.7-20-47.1-32.5c-36.1-33.7-66.3-80.5-85.1-132c1.2-4.8,2.3-9,3.3-13.4c0,0,20.3-115.6,15-154.6c-0.8-5.3-1.2-6.9-2.6-11.1l-1.8-4.5c-5.5-12.8-16.4-26.3-33.4-25.5l-10.2-0.3c-19,0-34.4,9.7-38.5,24.2C411.2,255.9,424,324,447,412.1l-5.9,14.4c-16.5,40.3-37.2,80.8-55.5,116.6l-2.4,4.6c-19.2,37.6-36.6,69.5-52.4,96.6l-16.3,8.6c-1.2,0.6-29.1,15.4-35.7,19.4c-55.6,33.3-92.5,71-98.6,100.9c-2,9.6-0.5,21.8,9.4,27.4l15.8,8c6.9,3.4,14.1,5.2,21.4,5.2c39.7,0,85.7-49.4,149-160c73.2-23.8,156.5-43.6,229.5-54.5c55.6,31.3,124.1,53.1,167.3,53.1c7.7,0,14.3-0.7,19.7-2.1c8.3-2.2,15.2-6.9,19.5-13.4C820.3,624.2,821.9,606.8,819.7,589z M218.2,783.7c7.2-19.8,35.8-58.9,78.2-93.5c2.6-2.2,9.2-8.3,15.2-14C267.3,746.8,237.7,774.8,218.2,783.7z M468.7,206.7c12.7,0,20,32.1,20.6,62.2c0.6,30.1-6.4,51.2-15.2,66.9c-7.2-23.1-10.7-59.6-10.7-83.5C463.4,252.3,462.9,206.7,468.7,206.7z M394,617.9L394,617.9c8.8-15.9,18.1-32.6,27.5-50.4c23-43.5,37.5-77.5,48.4-105.5c21.5,39.2,48.3,72.5,79.8,99.1c3.9,3.3,8.1,6.7,12.4,10C498.1,583.8,442.8,599.2,394,617.9z M797.8,614.3L797.8,614.3c-3.9,2.4-15.1,3.8-22.2,3.8c-23.2,0-51.9-10.6-92.1-27.8c15.5-1.1,29.6-1.7,42.3-1.7c23.3,0,30.2,0,52.9,5.7C801.5,600.1,801.8,611.8,797.8,614.3z'/%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .powerpoint:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23b32400'%3E%3Cg%3E%3Cg transform='translate(0.000000,241.000000) scale(0.100000,-0.100000)'%3E%3Cpath d='M4802.1,1945.2c-442.8-78.4-1649.7-297.8-2684.1-485.9c-1034.5-184.2-1912.2-344.8-1947.5-356.6c-66.6-19.6-70.5-231.2-70.5-3695.1v-3671.6L1130.5-6448c564.3-101.9,1802.5-325.3,2750.8-497.6c948.3-172.4,1735.9-313.5,1755.5-313.5c35.3,0,35.3,9318,0,9337.6C5617.1,2086.3,5244.9,2027.5,4802.1,1945.2z M3528.6-1032.8c239-66.6,470.2-321.3,525.1-576c58.8-274.3,54.9-427.1-11.7-650.5c-74.4-250.8-223.4-434.9-466.3-572.1c-180.3-101.9-239-117.5-525.1-117.5h-325.2v-501.6V-3952l-242.9,15.7c-137.1,7.8-258.6,15.7-278.2,19.6c-31.4,7.8-43.1,2805.6-11.8,2840.8C2263-1009.3,3317-974,3528.6-1032.8z'/%3E%3Cpath d='M2725.4-1985v-454.5H2886c203.7,0,403.6,94,462.4,219.4c74.4,172.4,54.9,431-47,548.6c-78.4,90.1-133.2,109.7-333.1,125.4l-243,15.7V-1985z'/%3E%3Cpath d='M5977.7,87.9v-215.5l1735.9-7.8l1732-11.7l11.7-2104.2l7.8-2108.1h133.2c74.4,0,168.5,31.3,215.5,66.6l86.2,70.5l-11.7,2206c-11.7,2135.5-15.7,2210-86.2,2264.9c-66.6,47-395.8,54.9-1951.4,54.9h-1873V87.9z'/%3E%3Cpath d='M5977.7-640.9c0-231.2,3.9-239,90.1-215.5c47,15.7,152.8,39.2,235.1,50.9l145,23.5v-654.4v-650.5h670H7788l-27.4-145c-66.6-364.4-340.9-713.1-697.5-893.4c-160.7-78.4-258.6-98-505.5-98c-180.2,0-364.4,23.5-442.8,54.8l-137.1,58.8v-235.1v-231.2H7114h1136.3v-254.7v-254.7l-1124.6-7.8l-1128.5-11.7l-11.7-145l-11.8-148.9h1116.8h1120.7v-254.7v-254.7H7094.4H5977.7v-254.7v-254.7h1539.9c1445.9,0,1547.8,3.9,1606.6,70.5c58.8,66.6,66.6,293.9,66.6,2445.1c0,2245.2-3.9,2374.5-70.5,2433.3c-66.6,58.8-235.1,66.6-1606.6,66.6h-1536V-640.9z M7059.1-868.2c356.6-160.7,662.2-556.4,689.7-889.5l11.7-152.8l-576-11.7l-579.9-11.8v572.1v568.2h148.9C6831.9-793.8,6973-829,7059.1-868.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }

            .video:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill='%23009973%0A'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M843.9,10H156.1c-14.5,0-26.3,11.8-26.3,26.3v927.3c0,14.6,11.8,26.3,26.3,26.3h513.1c7.4,0,14.6-3.3,19.6-8.7l174.7-195.9c4.3-4.7,6.7-10.9,6.7-17.4V36.3C870.2,21.8,858.5,10,843.9,10z M787.2,695l-156.7-0.2l0,0c-7.9,0-15.2,3.1-20.7,8.5c-5.5,5.4-8.6,13-8.4,20.6l0.5,196.3h-393V76h578.4V695z'/%3E%3Cpath d='M443,597.5c2.6,1.3,5.4,2,8.3,2c3.7,0,7.6-1.2,10.7-3.6l151.7-110.1c4.8-3.6,7.7-9,7.7-14.8c0-5.9-2.9-11.3-7.7-14.8L462.1,346.1c-5.5-4-12.9-4.6-19-1.5c-6.1,3.1-10,9.4-10,16.3v220.4C433.1,588.2,436.9,594.5,443,597.5z'/%3E%3Cpath d='M500.1,692.3c121.9,0,221.2-99.3,221.2-221.2c0-122-99.3-221.2-221.2-221.2c-122,0-221.2,99.3-221.2,221.2C278.8,593.1,378.1,692.3,500.1,692.3z M500.1,286.8c101.7,0,184.4,82.7,184.4,184.3c0,101.7-82.7,184.3-184.4,184.3c-101.6,0-184.4-82.6-184.4-184.3C315.7,369.4,398.4,286.8,500.1,286.8z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
            }
        }
    }

    .dropfile {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.9;
        background-color: var(--normal-back);

        &.show {
            display: block;
        }

        & .filearea {
            opacity: 1;
            position: absolute;
            left: 10%;
            top: 10%;
            right: 10%;
            bottom: 10%;
            border: 0.25rem solid var(--active-border);
            color: var(--active-border);
            text-align: center;
            vertical-align: middle;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
        }
    }


    @include disabled-tag() {
        fill: var(--disable-color);
        color: var(--disable-color);
    }

    @include disabled-tag('.head') {
        display: none;
    }



    @include readonly-tag ('.head') {
        display: none;
    }

    @include readonly-tag ('.files tr') {
        background-color: var(--readonly-back);
        color: var(--readonly-color);
    }
}
