@page
@model WidgetNas.Pages.Components.AccordionModel
@{
    ViewData["Title"] = "آکاردئون Accordion";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>آکاردئون یک جمع شونده باز شونده عمودی است، که با استفاده از جاوا اسکریپ مدیریت میشود.</p>
<p>با استفاده از تکنیک <a href="~/Components/Collapse">جمع شونده</a> و دادن استایل به آن، شما میتوانید یک آکاردئون داشته باشید.</p>
<p>برای نمایش انواع مختلف به مثالهای زیر توجه کنید.</p>
<h2>ساختار</h2>
<p>
    تمای اجزا درون یک div از کلاس accordion قرار میگیرند، wn-type هم باید accordion تنظیم شود. سپس یک div دیگر، از کلاس accordion-item مشخص میکند، هر ردیف دارای چه اجزایی است، به تعداد ردیف ها باید از این جزء داشته باشید.<br />
    درون هر div از کلاس accordion-item با دو جزء مواجه هستیم. عنوان و بدنه.<br />
    برای تعریف جز عنوان یه موضوع با کلاس accordion-header نیاز است، هر آنچه که درون این جزء باشد در عنوان نمایش داده میشود.<br />
    جزء بدنه با کلاس accordion-body مشخص میگردد، هر متن html درون آن قابل نمایش است.
</p>
<h2>خصوصیات</h2>
<p>
    <strong>mode</strong><br />
    اگر میخواهید در آن واحد فقط یکی از اجزا نمایش داده شود و باانتخاب جزء بعدی بقیه بسته شده و جزء انتخاب شده باز شود، از مقدار single استفاده کنید<br />
    اگر میخواهید هر جزء قابلیت باز یا بسته بودن داشته باشد، از  مقدار multiple استفاده کنید.
</p>
<p>
    <strong>selected-index</strong><br />
    شماره موضوعی که باید در ابتدا باز باشد را مشخص میکند. این خصوصیت برای حالت single کاربرد دارد.
</p>
<h3>بسته بودن در ابتدا</h3>
<p>اگر در حالت multiple هستید و میخواهید برخی از اجزا بسته باشند، به کلاس  مرتبط با accordion-header کلاس collapsed را اضافه کنید و همچنین به جزء مرتبط با بدنه کلاس accordion-collapse را اضافه کنید</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div class="accordion" id="accordion1" wn-type="accordion" selected-index="-1" mode="multiple">
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Accordion Item #1
                </button>
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header collapsed" type="button">
                    Accordion Item #2
                </button>
                <div class="accordion-body accordion-collapse">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Accordion Item #3
                </button>
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="accordion" wn-type="accordion" selected-index="-1" mode="multiple">
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    گزینه 1 آکاردئون
                </button>
                <div id="collapse1_rtl" class="accordion-body">
                    <strong>این اولین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header collapsed" type="button">
                    گزینه 2 آکاردئون
                </button>
                <div class="accordion-body accordion-collapse">
                    <strong>این دومین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    گزینه 3 آکاردئون
                </button>
                <div class="accordion-body">
                    <strong>این سومین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="accordion1"></code></figure>

<h2>باز بودن تنها یک جزء</h2>
<p>
    برای آنکه فقط یک جزء باز باشد، خصوصیت mode را single انتخاب کنید و سپس شماره جزءی که میخواهید باز باشد را در خصوصیت selected-item مشخص کنید، مقدار -1 یعنی همه بسته باشند.
</p>
<p>به مثال زیر توجه کنید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div class="accordion" id="accordion2" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    Accordion Item #1
                </button>
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Accordion Item #2
                </button>
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    Accordion Item #3
                </button>
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="accordion" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    گزینه 1 آکاردئون
                </button>
                <div class="accordion-body">
                    <strong>این اولین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    گزینه 2 آکاردئون
                </button>
                <div class="accordion-body">
                    <strong>این دومین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    گزینه 3 آکاردئون
                </button>
                <div class="accordion-body">
                    <strong>این سومین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="accordion2"></code></figure>

<h2>آکاردئون بدون لبه</h2>
<p>
    اگر تمایل دارید، آکاردئون شما بدونه لبه باشد، میتوانید از کلاس accordion-noedge استفاده کنید.
</p>
<p>به مثال زیر توجه کنید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div class="accordion accordion-noedge" id="accordion2_ltr" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Accordion Item #1
                </button>
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Accordion Item #2
                </button>
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    Accordion Item #3
                </button>
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="accordion accordion-noedge" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    گزینه 1 آکاردئون
                </button>
                <div class="accordion-body">
                    <strong>این اولین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    گزینه 2 آکاردئون
                </button>
                <div class="accordion-body">
                    <strong>این دومین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    گزینه 3 آکاردئون
                </button>
                <div class="accordion-body">
                    <strong>این سومین بدنه از آکاردئون است.</strong> همه بدنه ها بطور پیش فرض مخفی هستند مگر با انتخاب کلاس مناسب آن،
                    سیستم جمع کننده خود آنرا مدیریت میکند، تنها باید به صورت دستی، بدنه ای که باید نمایش داده شود را شبیه سازی کرد.
                    برای درج اطلاعات در بدنه، میتوانید از سیستم فاصله گذاری، مرتب کردن متن و انواع کلاسهای مرتبط استفاده کنید.
                    حتی با تغییر در کلاس <code>.body</code> میتوانید شکل آنرا به صورتی که میخواهید تغییر دهید.
                    همیشه توجه داشته باشید، سیستم رنگ بندی، به شما کمک میکند، اشکال مختلفی از اجزا را داشته باشید.
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="accordion2_ltr"></code></figure>


<h2>رنگها</h2>
<p>
    همانند بقیه موضوعات میتوانید از کلاس های رنگی استفاده کنید.
</p>
<p>به مثال زیر توجه کنید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div class="accordion secondary" id="accordion3_ltr" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Secondary 1
                </button>
                <div class="accordion-body">
                    Some Text
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Secondary 2
                </button>
                <div class="accordion-body">
                    Some Text
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="accordion secondary" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    رنگ اصلی 1
                </button>
                <div class="accordion-body">
                    متنی جهت آزمایش
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    رنگ اصلی 2
                </button>
                <div class="accordion-body">
                    متنی جهت آزمایش
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="accordion3_ltr"></code></figure>

<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div class="accordion" id="accordion4_ltr" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item primary">
                <button class="accordion-header" type="button" >
                    Primary 1
                </button>
                <div class="accordion-body">
                    Some Text
                </div>
            </div>
            <div class="accordion-item third">
                <button class="accordion-header" type="button" >
                    Primary 2
                </button>
                <div  class="accordion-body">
                    Some Text
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="accordion" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item primary">
                <button class="accordion-header" type="button" >
                    رنگ اصلی 1
                </button>
                <div class="accordion-body">
                    متنی جهت آزمایش
                </div>
            </div>
            <div class="accordion-item third">
                <button class="accordion-header" type="button">
                    رنگ اصلی 2
                </button>
                <div class="accordion-body">
                    متنی جهت آزمایش
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="accordion4_ltr"></code></figure>

<h2>اندازه</h2>
<p>
    همانند بقیه موضوعات میتوانید از کلاس های اندازه گذاری استفاده کنید.
</p>
<p>به مثال زیر توجه کنید.</p>
<div class="example-div">
    <div class="ltr" id="accordion5_ltr">
        <h3>LTR</h3>
        <div class="accordion s-s" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Small 1
                </button>
                <div  class="accordion-body">
                    Some Text
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button">
                    Small 2
                </button>
                <div class="accordion-body">
                    Some Text
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="accordion s-s" wn-type="accordion" selected-index="0" mode="single">
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    کوچک 1
                </button>
                <div  class="accordion-body">
                    متنی جهت آزمایش
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header" type="button" >
                    کوچک 2
                </button>
                <div  class="accordion-body">
                    متنی جهت آزمایش
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="accordion5_ltr"></code></figure>
