@page
@model WidgetNas.Pages.Components.AlertsModel
@{
    ViewData["Title"] = "هشدارها";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <div class="alert">
            A default alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert primary">
            A primary alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert secondary">
            A secondary alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert third">
            A third alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert success">
            A success alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert info">
            A info alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert warning">
            A warning alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert danger">
            A danger alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert error">
            A error alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert dark">
            A dark alert with <a href="#">Link</a> check it out!
        </div>
        <div class="dark-color p-100r">
            <div class="alert light">
                A light alert with <a href="#">Link</a> check it out!
            </div>
            <div class="alert white">
                A white alert with <a href="#">Link</a> check it out!
            </div>
        </div>
        <div class="alert outline">
            A default outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert primary outline">
            A primary outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert secondary outline">
            A secondary outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert third outline">
            A third outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert success outline">
            A success outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert info outline">
            A info outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert warning outline">
            A warning outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert danger outline">
            A danger outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert error outline">
            A error outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="alert dark outline">
            A dark outline alert with <a href="#">Link</a> check it out!
        </div>
        <div class="dark-color p-100r">
            <div class="alert light outline">
                A light outline alert with <a href="#">Link</a> check it out!
            </div>
            <div class="alert white outline">
                A white outline alert with <a href="#">Link</a> check it out!
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="alert">
            یک هشدار پیش فرض با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert primary">
            یک هشدار اصلی با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert secondary">
            یک هشدار دومی با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert third">
            یک هشدار سومی با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert success">
            یک هشدار موفق با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert info">
            یک هشدار اطلاعات با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert warning">
            یک هشدار هشدار با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert danger">
            یک هشدار اخطار با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert error">
            یک هشدار خطا با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert dark">
            یک هشدار تیره با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="dark-color p-100r">
            <div class="alert light">
                یک هشدار روشن با <a href="#">لینک</a> است، آن را بررسی کنید!
            </div>
            <div class="alert white">
                یک هشدار سفید با <a href="#">لینک</a> است، آن را بررسی کنید!
            </div>
        </div>
        <div class="alert outline">
            یک هشدار پیش فرض دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert primary outline">
            یک هشدار اصلی دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert secondary outline">
            یک هشدار دومی دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert third outline">
            یک هشدار سومی دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert success outline">
            یک هشدار موفق دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert info outline">
            یک هشدار اطلاعات دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert warning outline">
            یک هشدار هشدار دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert danger outline">
            یک هشدار اخطار دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert error outline">
            یک هشدار خطا دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="alert dark outline">
            یک هشدار تیره دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
        </div>
        <div class="dark-color p-100r">
            <div class="alert light outline">
                یک هشدار روشن دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
            </div>
            <div class="alert white outline">
                یک هشدار سفید دور خط با <a href="#">لینک</a> است، آن را بررسی کنید!
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form1"></code></figure>
<h2>متون اضافی</h2>
<p>در هشدارها، میتوانید از انواع متون تصاویر و کد های html استفاده کنید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div class="alert success" id="form2">
            <h4>Well done!</h4>
            <p class="m-b-50r">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="m-b-50r">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>
    <div class="rtl w-fill">
        <h3>RTL</h3>
        <div class="alert success">
            <h4>آفرین!</h4>
            <p class="m-b-50r">اوه ، شما با موفقیت این پیام مهم هشدار را خواندید. این متن به عنوان مثال قرار است کمی طولانی تر شود تا شما ببینید چطور فاصله هشدار با این نوع محتوا کار می کند.</p>
            <hr>
            <p class="m-b-50r">هر زمان که نیاز داشتید ، حتماً از سرویس های حاشیه ای برای خوب و مرتب کردن استفاده کنید.</p>
        </div>
    </div>
</div>
<figure><code data-on="form2"></code></figure>
<h2>بستن خودکار</h2>
<p>
    در برخی مواقع میخواهید هشدار شما توسط کاربر بسته شود، برای این منظور میتوانید از نوع خاص دکمه استفاده کنید.
    آن دکمه بطور خودکار عملیات حذف هشدار را انجام میدهد.
    اگر تمایل دارید قبل از بسته شدن، عملیاتی دیگر مانند ثبت اطلاعات در سرور را انجام دهید، میتوانید در رخداد onclick دکمه، عملیات مد نظر را فراخوانی کنید.
</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="alert-1-ltr" class="alert info">
            <button class="close float-end" wn-type="closeButton" close-parent ></button>
            <p><span class="fa fa-info fs-xxxl m-25e"></span> Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        </div>
    </div>
    <div class="rtl w-fill">
        <h3>RTL</h3>
        <div id="alert-1-rtl" class="alert info">
            <button class="close float-end" wn-type="closeButton" close-parent></button>
            <p><span class="fa fa-info fs-xxxl m-25e"></span>اوه ، شما با موفقیت این پیام مهم هشدار را خواندید. این متن به عنوان مثال قرار است کمی طولانی تر شود تا شما ببینید چطور فاصله هشدار با این نوع محتوا کار می کند.</p>
        </div>
    </div>
</div>
<figure><code data-on="alert-1-ltr"></code></figure>
<h2>حالتهای دیگر</h2>
<p>شما میتوانید برای گسترش حالتهای مختلف نمایشی هشدار، از کلاسهای گسترش داده شده خود استفاده کنید.
    ما در زیر، نمونه ای از یک کلاس گسترده شده را نمایش می دهیدم</p>
<div class="example-div">
    <div class="ltr" id="form4">
        <h3>LTR</h3>
        <div class="alert primary callout-start">
            <h2>Callout Style</h2>
            callout-start
        </div>
        <div class="alert warning callout-end">
            <h2>Callout Style</h2>
            callout-end
        </div>
        <div class="alert error callout-top">
            <h2>Callout Style</h2>
            callout-top
        </div>
        <div class="alert info callout-bottom">
            <h2>Callout Style</h2>
            callout-bottom
        </div>
        <div class="alert success callout-start callout-bottom">
            <h2>Mixed Callout Style</h2>
            callout-start callout-bottom
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="alert primary callout-start">
            <h2>استایل کال اوت</h2>
            callout-start
        </div>
        <div class="alert warning callout-end">
            <h2>استایل کال اوت</h2>
            callout-end
        </div>
        <div class="alert error callout-top">
            <h2>استایل کال اوت</h2>
            callout-top
        </div>
        <div class="alert info callout-bottom">
            <h2>استایل کال اوت</h2>
            callout-bottom
        </div>
        <div class="alert success callout-start callout-bottom">
            <h2>استایل کال اوت ترکیبی</h2>
            callout-start callout-bottom
        </div>
    </div>
</div>
<figure><code data-on="form4"></code></figure>
