@page
@model WidgetNas.Pages.Components.AccordionModel
@{
    ViewData["Title"] = "کپچا Captcha";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    شاید تمایل داشته باشید، در انتهای فرم ورود اطلاعات عمومی یا زیر صفحه ورود یا هر مکان دیگری، از عبارت کپچا استفاده کنید.
    در دنیای جدید روشهای متفاوتی برای این امر است، که یکی از آنها ساخت کپچا سمت سرور و سپس ارسال آن به کلاینت میباشد. ما در این قسمت، از چنین تکنولوژی استفاده کرده ایم.
</p>
<p>
    روش کار بدین صورت است که، در ابتدا یک درخواست به صورت پست به کنترل مشخص شده ارسال میشود و در پاسخ یک تصویر و یک کلید دریافت میکند.
    پس از ورود اطلاعات و هر زمان که نیاز بود، مقدار وارد شده به همراه کلید دریافت شده به کنترل مرتبط با خود ارسال کرده و آنها را مقایسه میکنید.
</p>
<p>نحوه ساخت تصویر و کلید، کاملا به شما مرتبط میشود و میتوانید به هر نحوی ساخته و آنرا مدیریت کنید. ولیکن ما برای راحتی شما یک کلاس به زبان C# در اختیار شما قرار میدهیم.</p>
<h2>ساختار</h2>
<p>
    یک تگ div با خصوصیت <bidi>wn-type="captcha"</bidi> و آدرس کنترلر ارسال کننده تصویر و کلید را معرفی کنید <bidi>url="/Api/Captcha"</bidi>
    همچنین کلاس <bidi>captcha</bidi> را نیز به آن معرفی کنید.
</p>
<p>اگر میخواهید بعد از ورود متن کپچا سمت کلاینت نیز صحت آن بررسی شود، کلاس <bidi>validated</bidi> را نیز اضافه کنید.</p>
<div class="example-div justify-content-start">
    <div class="ltr" style="width:150px">
        <h3>LTR</h3>
        <div id="form1">
            <div class="captcha" id="captcha1" wn-type="captcha" url="/Api/Captcha">
            </div>
            <hr class="m-b-100r" />
            <div class="captcha validated" id="captcha2" wn-type="captcha" url="/Api/Captcha">
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form1"></code></figure>
<p>اگر تمایل دارید تک تک اجزا را به سلیقه خود تغییر دهید، الگوی ساخت به شکل زیر میتواند باشد.</p>
<div class="example-div justify-content-between">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="form2">
            <div class="captcha" wn-type="captcha" url="/Api/Captcha" style="width:150px;">
                <div class="imagebar">
                    <img class="image" src="" />
                    <button class="refresh"></button>
                </div>
                <input />
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div>
            <div class="captcha" wn-type="captcha" url="/Api/Captcha" style="width:150px;">
                <div class="imagebar">
                    <img class="image" src="" />
                    <button class="refresh"></button>
                </div>
                <input />
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form2"></code></figure>
<p>اگر میخواهید همه چیز در یک خط باشد، از کلاس inline استفاده کنید.</p>
<div class="example-div justify-content-between">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="form3">
            <div class="captcha inline validated" wn-type="captcha" url="/Api/Captcha">
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div>
            <div class="captcha inline validated" wn-type="captcha" url="/Api/Captcha">
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form3"></code></figure>
<p>به صورت گروهی</p>
<div class="example-div justify-content-between">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="form4">
            <ig class="captcha validated group" wn-type="captcha" url="/Api/Captcha">
                <label>Captcha</label>
                <input type="text">
                <img class="image" src="" />
                <button class="refresh"></button>
            </ig>

        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div>
            <ig class="captcha validated group" wn-type="captcha" url="/Api/Captcha">
                <label>Captcha</label>
                <input type="text">
                <img class="image" src="" />
                <button class="refresh"></button>
            </ig>
        </div>
    </div>
</div>
<figure><code data-on="form4"></code></figure>
<p>به صورت شناور</p>
<div class="example-div justify-content-between">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="form5">
            <ig class="captcha validated floating" wn-type="captcha" url="/Api/Captcha">
                <input type="text" placeholder='.' wn-tooltip="captcha1_ltr" wn-tooltip-hideafter="30000" wn-tooltip-nolost>
                <label>Captcha</label>
                <div class="tooltip tooltip-arrow-bottom" style="width:200px" id="captcha1_ltr">
                    <div class="tooltip-header">
                        <button wn-type="CloseButton" class="close" target="#captcha1_ltr" remove-class="show"></button>
                        Captcha
                    </div>
                    <div class="tooltip-body s-m">
                        <img class="image" src="" />
                    </div>
                    <div class="tooltip-footer">
                        <button class="refresh"></button>
                    </div>
                </div>
            </ig>

        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div>
            <ig class="captcha validated floating" wn-type="captcha" url="/Api/Captcha">
                <input type="text" placeholder='.' wn-tooltip="captcha1_rtl" wn-tooltip-hideafter="30000" wn-tooltip-nolost>
                <label>کپچا</label>
                <div class="tooltip tooltip-arrow-bottom" style="width:200px" id="captcha1_rtl">
                    <div class="tooltip-header">
                        <button wn-type="closeButton" class="close" target="#captcha1_rtl" remove-class="show"></button>
                        کپچا
                    </div>
                    <div class="tooltip-body s-m">
                        <img class="image" src="" />
                    </div>
                    <div class="tooltip-footer">
                        <button class="refresh"></button>
                    </div>
                </div>
            </ig>
        </div>
    </div>
</div>
<figure><code data-on="form5"></code></figure>
<h2>کد های پس زمینه</h2>
<p>برای مشاهده کدهای پس زمینه و ساخت تصویر کپچا میتوانید به سورس برنامه به آدرس <bidi>Pages/Components/Captcha.cs</bidi> و <bidi>Pages/Components/CaptchaController.cs</bidi> مراجعه کنید.</p> 
<p>
    دقت کنید برای ساخت تصویر شما از هر کلاس کتابخانه ای که مد نظر است میتوانید استفاده کنید و فقط در اینجا یک مثال به صورت ساده زده شده است.
</p>