@page
@model WidgetNas.Pages.Components.FileListModel
@{
    ViewData["Title"] = "لیست فایلها File List";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    برای انتخاب و مدیریت فایلها از این گزینه ها استفاده کنید.
</p>
<h2>ایجاد مدیریت فایلها</h2>
<p>
    برای ارتباط و مدیریت فایلها، دو بخش وجود دارد، بخش اول که مرتبط با کلاینت است و بخش دوم که مرتبط با سرور است.
    در بخش کلاینت موارد مورد نیاز پیاده سازی شده و در موارد مورد نیاز برای کسب اطلاعات، به صورت Post، Get و Put از سرویس
    Restful درخواست اطلاعات میکند. در انتهای سند، نمونه کد سرویس دهنده قرار داده خواهد شد که بایستی برای مدیریت بهتر، آنرا تکمیل کرد.
</p>
<p>
    برای ایجاد لیست فایلها در سمت کلاینت یک div با خصوصیت <bidi>wn-type="FileList"</bidi> نیاز است. خصوصیات بیشتری نیز وجود دارد که به نحوه مدیریت آن کمک میکند.
</p>
<p>
    <b>mode</b>: نوع نمایش و میزان سطح دسترسی سمت کلاینت را مشخص میکند، مقدار full و select فایل تنظیم است. <br />
    در مقدار select فقط انتخاب فایل و فهرست امکان پذیر است و لیکن با انتخاب گزینه full شما میتوانید مدیریت فهرستها و فایلها را داشته باشید.
</p>
<p>
    <b>multiSelect</b>: اگر میخواهید امکان انتخاب چند فایل را داشته باشد، این خصوصیت را true کنید. برای مقدار دهی خطی از خصوصیت multi-select استفاده کنید.
</p>

<p><b>calendar</b>: نوع تقویم تاریخی را برای نمایش تاریخ مشخص میکند.</p>
<p><b>cultureinfo</b>: نوع فرهنگ تقویم را برای نمایش تاریخ مشخص میکند.</p>
<p><b>url</b>: این خصوصیت آدرس کنترلر را مشخص میکند. توجه داشته باشید باید سمت سرور فقط با ساختار مشابه سرویس دهی انجام شود.</p>
<h3>رخدادها</h3>
<p><b>selectionChanged</b>: اگر فهرست یا انتخاب فایلی تغییر کرد، این رخداد فراخوانی میشود. برای مقدار دهی خطی از خصوصیت onselectionchanged استفاده کنید. </p>
<p><b>dblClick</b>: در صورتیکه روی یک نام فایل دوبار کلیک شود، این رخداد فراخوانی میشود. در نظر داشته باشید این رخداد با رخداد dblclick متفاوت است. برای مقدار دهی خطی از خصوصیت ondblclick استفاده کنید.</p>

<div class="alert callout-start danger">
    توجه داشته باشید، در مثالهای زیر، به دلیل عدم مجوز تغییر نام یا ارسال فایل، این گزینه ها بسته است.
</div>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="file1_ltr" wn-type="FileList" mode="full" multi-select="true" calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US" url="/api/FileList">
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div id="file1_rtl" wn-type="FileList" mode="full" url="/api/FileList">
        </div>

    </div>
</div>

<figure><code data-on="file1_ltr"></code></figure>
<h2>انتخاب فایل</h2>
<p>برای انتخاب یک فایل یا فهرست که از خصوصیت <bidi>mode="select"</bidi> استفاده میکند.</p>
<div class="example-div">
    <div class="ltr" id="form2">
        <h3>LTR</h3>
        <div id="file2_out_ltr" class="bordered h-200r"></div>
        <div id="file2_ltr" wn-type="FileList" mode="select" calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US"
             onselectionchanged="WN('file2_out_ltr').element.innerHTML = this.selectedFiles; WN('file2_out_ltr').element.style.color = 'red';"
             ondblclick="WN('file2_out_ltr').element.innerHTML = this.selectedFiles; WN('file2_out_ltr').element.style.color = 'blue';"
             url="/api/FileList">
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div id="file2_out_rtl" class="bordered h-200r"></div>
        <div id="file2_rtl" wn-type="FileList" mode="select"
             onselectionchanged="WN('file2_out_rtl').element.innerHTML = this.selectedFiles; WN('file2_out_rtl').element.style.color = 'red';"
             ondblclick="WN('file2_out_rtl').element.innerHTML = this.selectedFiles; WN('file2_out_rtl').element.style.color = 'blue';"
             url="/api/FileList">
        </div>
    </div>
</div>

<figure><code data-on="form2"></code></figure>
<h2>انتخاب فایل به صورت مودال</h2>
<p>اگر تمایل دارید انتخاب فایل به صورت مودال باشد، بایستی مواردی را خود تحت کنترل بگیرید، مثال زیر، نمونه انتخاب فایل به صورت مودال است.</p>

<div class="example-div">
    <div class="ltr" id="form3">
        <h3>LTR</h3>
        <button class="primary" onclick="WN('modal_ltr').wn.show()">Browse</button>
        <div id="file3_out_ltr" class="bordered h-200r m-bs-100r"></div>
        <div id="modal_ltr" class="modal" wn-type="modal">
            <div class="modal-dialog">
                <div class="modal-header">
                    <h5 class="modal-title">Select files...</h5>
                    <button class="close" close-parent></button>
                </div>
                <div class="modal-body">
                    <div id="file3_ltr" wn-type="FileList" mode="select" style="height:50vh" ondblclick="Select('file3_ltr');" url="/api/FileList">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="secondary" close-parent>Close</button>
                    <button class="primary" onclick="Select('file3_ltr')">Select</button>
                </div>
            </div>
        </div>
        <script>
            function Select(id) {
                WN('file3_out_ltr').element.innerHTML = WN(id).wn.selectedFiles;
                WN('modal_ltr').wn.hide();
            }
        </script>
    </div>
</div>

<figure><code data-on="form3"></code></figure>
<h2>نمونه کنترلر Restful</h2>
<p>برای مشاهده نمونه کنترلر به زبان <bidi>C#</bidi> به فایل مندرج در <bidi>Pages\Component\FileListController.cs</bidi> مراجعه کنید. </p>

<h2>فقط خواندنی و غیر فعال</h2>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="sample1">
            <div wn-type="FileList" mode="full" multi-select="true" calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US" url="/api/FileList" readonly>
            </div>
            <br />
            <div wn-type="FileList" mode="full" multi-select="true" calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US" url="/api/FileList" disabled>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div wn-type="FileList" mode="full" multi-select="true" calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US" url="/api/FileList" readonly>
        </div>
        <br />
        <div wn-type="FileList" mode="full" multi-select="true" calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US" url="/api/FileList" disabled>
        </div>

    </div>
</div>

<figure><code data-on="sample1"></code></figure>