@page
@model WidgetNas.Pages.Components.MultiSelectModel
@{
    ViewData["Title"] = "انتخاب چند تایی";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    لیست از موضوعات داریم که بیش از تعداد استاندارد جستجوی چشمی است، به دین منظور، نیاز داریم کابر بتواند روی این لیست اعمال فیلتر کند و با
    وارد کردن برخی حروف فقط موضوعاتی را نمایش دهد که آن حروف در آن باشد.
</p>
<p>قبلا در قسمت <a href="/Components/Filter" alt="فیلتر">فیلتر</a> مشابه این موضوع را پیاده سازی کرده ایم. حال میخواهیم موضوعی پیش رفته تر را با استفاده از آن خاصیت نمایش دهیم.</p>
<h4>نمایش لیست</h4>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <div class="MultiSelect" wn-type="multiselect">
            <label>Selected</label>
            <input type="search">
            <div class="selecteditem rows"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li>First Name</li>
                    <li>Last Name</li>
                    <li>Company</li>
                    <li>Address</li>
                    <li>City</li>
                    <li>Country</li>
                    <li>State/Province</li>
                    <li>ZIP/Postal Code</li>
                    <li>Phone 1</li>
                    <li>Phone 2</li>
                    <li>Email</li>
                    <li>Web</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />
        <div class="MultiSelect floating" wn-type="multiselect">
            <input type="search" placeholder=".">
            <label>Selected</label>
            <div class="selecteditem"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li>First Name</li>
                    <li>Last Name</li>
                    <li>Company</li>
                    <li>Address</li>
                    <li>City</li>
                    <li>Country</li>
                    <li>State/Province</li>
                    <li>ZIP/Postal Code</li>
                    <li>Phone 1</li>
                    <li>Phone 2</li>
                    <li>Email</li>
                    <li>Web</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />
        <div class="MultiSelect group" wn-type="multiselect">
            <label>Selected</label>
            <input type="search">
            <div class="selecteditem"></div>

            <div class="dropdown">
                <ul wn-type="list">
                    <li>First Name</li>
                    <li>Last Name</li>
                    <li>Company</li>
                    <li>Address</li>
                    <li>City</li>
                    <li>Country</li>
                    <li>State/Province</li>
                    <li>ZIP/Postal Code</li>
                    <li>Phone 1</li>
                    <li>Phone 2</li>
                    <li>Email</li>
                    <li>Web</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="MultiSelect" wn-type="multiselect">
            <label>انتخاب شده</label>
            <input type="search">
            <div class="selecteditem"></div>

            <div class="dropdown">
                <ul wn-type="list">
                    <li>نام</li>
                    <li>نام خانوادگی</li>
                    <li>شرکت</li>
                    <li>آدرس</li>
                    <li>شهر</li>
                    <li>کشور</li>
                    <li>استان</li>
                    <li>کد پستی</li>
                    <li>تلفن 1</li>
                    <li>تلفن 2</li>
                    <li>پست الکترونیک</li>
                    <li>آدرس وب</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />

        <div class="MultiSelect floating" wn-type="multiselect">
            <input type="search" placeholder=".">
            <label>انتخاب شده</label>
            <div class="selecteditem"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li>نام</li>
                    <li>نام خانوادگی</li>
                    <li>شرکت</li>
                    <li>آدرس</li>
                    <li>شهر</li>
                    <li>کشور</li>
                    <li>استان</li>
                    <li>کد پستی</li>
                    <li>تلفن 1</li>
                    <li>تلفن 2</li>
                    <li>پست الکترونیک</li>
                    <li>آدرس وب</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />
        <div class="MultiSelect group" wn-type="multiselect">
            <label>انتخاب شده</label>
            <input type="search">
            <div class="selecteditem"></div>

            <div class="dropdown">
                <ul wn-type="list">
                    <li>نام</li>
                    <li>نام خانوادگی</li>
                    <li>شرکت</li>
                    <li>آدرس</li>
                    <li>شهر</li>
                    <li>کشور</li>
                    <li>استان</li>
                    <li>کد پستی</li>
                    <li>تلفن 1</li>
                    <li>تلفن 2</li>
                    <li>پست الکترونیک</li>
                    <li>آدرس وب</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form1"></code></figure>