@page
@model WidgetNas.Pages.Components.MultiSelectModel
@{
    ViewData["Title"] = "انتخاب چند تایی";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    لیست از موضوعات داریم که بیش از تعداد استاندارد جستجوی چشمی است، به دین منظور، نیاز داریم کابر بتواند روی این لیست اعمال فیلتر کند و با
    وارد کردن برخی حروف فقط موضوعاتی را نمایش دهد که آن حروف در آن باشد.
</p>
<p>قبلا در قسمت <a href="/Components/Filter" alt="فیلتر">فیلتر</a> مشابه این موضوع را پیاده سازی کرده ایم. حال میخواهیم موضوعی پیش رفته تر را با استفاده از آن خاصیت نمایش دهیم.</p>
<h4>نمایش لیست</h4>
<p>برای استفاده از انتخاب چند تایی از مثال زیر استفاده کنید.</p>
<p>خصوصیت <bidi>max</bidi>: با تنظیم این خصوصیت، تعداد حداکثر انتخاب مجاز را میتوانید مشخص کنید. در صورتیکه مقدار صفر را مشخص کنید، بدون محدودیت قابل انتخاب است. </p>
<p>خصوصیت <bidi>min-length</bidi> مشخص کننده تعداد حداقل کاراکتر برای شروع جستجو است. مقدار پیش فرض 1 می باشد.</p>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <div class="multiselect" wn-type="MultiSelect" max="2">
            <label>Selected</label>
            <input type="search">
            <div class="selecteditem rows"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li value='FirstName'>First Name</li>
                    <li value='LastName'>Last Name</li>
                    <li value='Company'>Company</li>
                    <li value='Address'>Address</li>
                    <li value='City'>City</li>
                    <li value='Country'>Country</li>
                    <li value='State'>State/Province</li>
                    <li value='ZIP'>ZIP/Postal Code</li>
                    <li value='Phone1'>Phone 1</li>
                    <li value='Phone2'>Phone 2</li>
                    <li value='Email'>Email</li>
                    <li value='Web'>Web</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />
        <div class="multiselect floating" wn-type="MultiSelect">
            <input type="search" placeholder=".">
            <label>Selected</label>
            <div class="selecteditem"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li value='FirstName'>First Name</li>
                    <li value='LastName'>Last Name</li>
                    <li value='Company'>Company</li>
                    <li value='Address'>Address</li>
                    <li value='City'>City</li>
                    <li value='Country'>Country</li>
                    <li value='State'>State/Province</li>
                    <li value='ZIP'>ZIP/Postal Code</li>
                    <li value='Phone1'>Phone 1</li>
                    <li value='Phone2'>Phone 2</li>
                    <li value='Email'>Email</li>
                    <li value='Web'>Web</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />
        <div class="multiselect group" wn-type="MultiSelect">
            <label>Selected</label>
            <input type="search">
            <div class="selecteditem"></div>

            <div class="dropdown">
                <ul wn-type="list">
                    <li value='FirstName'>First Name</li>
                    <li value='LastName'>Last Name</li>
                    <li value='Company'>Company</li>
                    <li value='Address'>Address</li>
                    <li value='City'>City</li>
                    <li value='Country'>Country</li>
                    <li value='State'>State/Province</li>
                    <li value='ZIP'>ZIP/Postal Code</li>
                    <li value='Phone1'>Phone 1</li>
                    <li value='Phone2'>Phone 2</li>
                    <li value='Email'>Email</li>
                    <li value='Web'>Web</li>

                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />
        <div class="multiselect floatingline" wn-type="MultiSelect">
            <input type="search" placeholder=".">
            <label>Selected</label>
            <div class="selecteditem"></div>

            <div class="dropdown">
                <ul wn-type="list">
                    <li value='FirstName'>First Name</li>
                    <li value='LastName'>Last Name</li>
                    <li value='Company'>Company</li>
                    <li value='Address'>Address</li>
                    <li value='City'>City</li>
                    <li value='Country'>Country</li>
                    <li value='State'>State/Province</li>
                    <li value='ZIP'>ZIP/Postal Code</li>
                    <li value='Phone1'>Phone 1</li>
                    <li value='Phone2'>Phone 2</li>
                    <li value='Email'>Email</li>
                    <li value='Web'>Web</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="multiselect" wn-type="MultiSelect" max="2">
            <label>انتخاب شده</label>
            <input type="search">
            <div class="selecteditem"></div>

            <div class="dropdown">
                <ul wn-type="list">
                    <li>نام</li>
                    <li>نام خانوادگی</li>
                    <li>شرکت</li>
                    <li>آدرس</li>
                    <li>شهر</li>
                    <li>کشور</li>
                    <li>استان</li>
                    <li>کد پستی</li>
                    <li>تلفن 1</li>
                    <li>تلفن 2</li>
                    <li>پست الکترونیک</li>
                    <li>آدرس وب</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />

        <div class="multiselect floating" wn-type="MultiSelect">
            <input type="search" placeholder=".">
            <label>انتخاب شده</label>
            <div class="selecteditem"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li>نام</li>
                    <li>نام خانوادگی</li>
                    <li>شرکت</li>
                    <li>آدرس</li>
                    <li>شهر</li>
                    <li>کشور</li>
                    <li>استان</li>
                    <li>کد پستی</li>
                    <li>تلفن 1</li>
                    <li>تلفن 2</li>
                    <li>پست الکترونیک</li>
                    <li>آدرس وب</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />
        <div class="multiselect group" wn-type="MultiSelect">
            <label>انتخاب شده</label>
            <input type="search">
            <div class="selecteditem"></div>

            <div class="dropdown">
                <ul wn-type="list">
                    <li>نام</li>
                    <li>نام خانوادگی</li>
                    <li>شرکت</li>
                    <li>آدرس</li>
                    <li>شهر</li>
                    <li>کشور</li>
                    <li>استان</li>
                    <li>کد پستی</li>
                    <li>تلفن 1</li>
                    <li>تلفن 2</li>
                    <li>پست الکترونیک</li>
                    <li>آدرس وب</li>
                </ul>
            </div>
        </div>
        <hr class="m-b-100r" />

        <div class="multiselect floatingline" wn-type="MultiSelect">
            <input type="search" placeholder=".">
            <label>انتخاب شده</label>
            <div class="selecteditem"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li>نام</li>
                    <li>نام خانوادگی</li>
                    <li>شرکت</li>
                    <li>آدرس</li>
                    <li>شهر</li>
                    <li>کشور</li>
                    <li>استان</li>
                    <li>کد پستی</li>
                    <li>تلفن 1</li>
                    <li>تلفن 2</li>
                    <li>پست الکترونیک</li>
                    <li>آدرس وب</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form1"></code></figure>
<h4>توابع جاوا اسکریپت</h4>
<p>
    <h5>selectedItems</h5>
    با استفاده از این خصوصیت میتوانید لیست موضوعات انتخاب شده را در قالب یک آرایه از نوع <bidi>WNListNode</bidi> یا <bidi>WNTreeNode</bidi> را دریافت کنید.
    <br /><bidi>selectedItems: WNGeneralNode[]</bidi>
</p>
<p>
    <h5>selectedValue</h5>
    با استفاده از این خصوصیت میتوانید مقدار لیست موضوعات انتخاب شده را در قالب یک آرایه از نوع <bidi>string</bidi> را دریافت کنید.
    <br /><bidi>selectedValue: string[]</bidi>
</p>
<p>
    <h5>max</h5>
    تعداد حداکثر انتخاب را مشخص میکند. مقدار 0 به معنی انتخاب به صورت نامحدود است.
</p>
<p>
    <h5>search</h5>
    این خصوصیت از جنس <a href="/Components/SearchList">WNSearchList</a> است. برای مشاهده خصوصیات آن به صفحه مرتبط مراجعه شود.
</p>
<h5>رخداد ها</h5>
<p>
    <h5>selectionChanged</h5>
    اگر میخواهید بعد از هر انتخاب تابعی اجرا شود از این رخداد استفاده کنید.
    <br /><bidi>selectionChanged: (t: IWNMultiSelect, node: WNTreeNode | WNListNode) => void</bidi>
</p>
<p>
    <h5>beforeDeselect</h5>
    اگر کاربر مقداری را انتخاب کرده بود و میخواست از حالت انتخاب در آورد، این رخداد قبل از حذف کردن آن اجرا میشود
    اگر این تابع مقدار false برگرداند، عملیات عدم انتخاب لغو میشود.
    <br /><bidi>beforeDeselect: (t: IWNMultiSelect, node: WNGeneralNode) => Promise<boolean> | boolean</bidi>
</p>
<p>
    <h5>afterDeselect</h5>
    بعد از آنکه عمل عدم انتخاب انجام شد، این رخداد فراخوانی میشود.
    <br /><bidi>afterDeselect: (t: IWNMultiSelect, node: WNGeneralNode) => void</bidi>
</p>
<p>
    <h5>beforeFilterChanged</h5>
    قبل از اینکه فیلتر عملیات فیلتر کردن را آغاز کند این رخداد فراخوانی میشود. اگر این تابع مقدار false برگرداند، عملیات فیلتر کردن لغو میشود.<br />
    برای مثال شما میخواهید به صورت پویا دیتای فیلتر کردن را از سرور بگیرید، در این رخداد دیتای جدید را خوانده و به لیست خود نسبت میدهد.
    سپس این تابع را با مقدار false برمیگردانید تا ادامه عملیات متوقف شود.<br />
    این تابع را با خصوصیت خطی onbeforefilterchanged نیز میتوانید مقدار دهی کنید.
</p>




<h4>مثال پویا</h4>
<div class="example-div">
    <div class="ltr w-95-i" id="form2">
        <div id="m1" class="multiselect floating" wn-type="MultiSelect">
            <input type="search" placeholder=".">
            <label>Selected</label>
            <div class="selecteditem"></div>
            <div class="dropdown">
                <ul wn-type="list">
                    <li value="FirstName">First Name</li>
                    <li value="LastName">Last Name</li>
                    <li value="Company">Company</li>
                    <li value="Address">Address</li>
                    <li value="City">City</li>
                    <li value="Country">Country</li>
                    <li value="State">State/Province</li>
                    <li value="ZIP">ZIP/Postal Code</li>
                    <li value="Phone1">Phone 1</li>
                    <li value="Phone2">Phone 2</li>
                    <li value="Email">Email</li>
                    <li value="Web">Web</li>
                </ul>
            </div>
        </div>
        <div class="d-flex">
            <input type="text" id="insList" />
            <button onclick="AddToList()">Insert to List</button>
            <button onclick="WN('m1').wn.selectedValue=['FirstName', 'City'];">Default Select</button>
            <button onclick="alert(WN('m1').wn.selectedValue)">Get Selected</button>
            <div id="result1"></div>
        </div>
        <script>
            function AddToList() {
                let v = document.getElementById('insList').value;
                WN('m1').wn.search.list.addToDataSource(v, '', v, '');
            }
        </script>
    </div>
</div>
<figure><code data-on="form2"></code></figure>
<h4>دریافت اطلاعات از سرور</h4>
<p>
    برای دریافت اطلاعات از سرور، رخداد onbeforefilterchanged در قسمت خصوصیات تگ و یا رخداد beforeFilterChanged را مقدار دهی کنید. تا زمانیکه
    عبارتی تایپ میشود، این تابع فراخوانی شود.<br />
    سپس بر اساس، موارد مندرج در مثال زیر و مشخصات این رخداد، اقدام به پر کردن لیست خود کنید.
</p>

<div class="example-div">
    <div class="ltr w-95-i" id="form3">
        <div id="m2" class="multiselect floating" wn-type="MultiSelect" onbeforefilterchanged="return MultiSelectGetData(text)">
            <input type="search" placeholder=".">
            <label>Select From List</label>
            <div class="selecteditem"></div>
            <div class="dropdown">
                <ul wn-type="list">
                </ul>
            </div>
        </div>
        <script>
            async function MultiSelectGetData(text) {
                let ret = false;
                await Post(WNAddStringQuote(text), '/components/SearchList').then((r) => {
                    WN('m2').wn.search.list.setDataSourceByItem(r, 'name', 'value', '', '', false);
                    ret = true;
                });
                return ret;
            }
        </script>
    </div>
</div>
<figure><code data-on="form3"></code></figure>
<div class="example-div">
    <div class="ltr w-95-i" id="form4">
        <div id="m3" class="multiselect floating" wn-type="MultiSelect" onbeforefilterchanged="return MultiSelectGetDataTree(text)">
            <input type="search" placeholder=".">
            <label>Select From Tree</label>
            <div class="selecteditem"></div>
            <div class="dropdown w-2500r">
                <ul class="tree tree-arrow m-50r-i p-50-i" wn-type="tree">
                </ul>
            </div>
        </div>
        <script>
            async function MultiSelectGetDataTree(text) {
                let ret = false;
                await Post(WNAddStringQuote(text), '/components/Tree?handler=Filter').then((r) => {
                    WN('m3').wn.search.list.setDataSourceByItem(null, r, 'children', 'html', 'value', 'link', 'image', false);
                    ret = true;
                });
                return ret;
            }
        </script>
    </div>
</div>
<figure><code data-on="form4"></code></figure>

<h2>فقط خواندنی و غیر فعال</h2>

<div class="example-div">
    <div class="ltr" id="form5">
        <h3>LTR</h3>
        <ig readonly>
            <div class="multiselect" wn-type="MultiSelect" max="2">
                <label>Selected</label>
                <input type="search">
                <div class="selecteditem rows"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect floating" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>Selected</label>
                <div class="selecteditem"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect group" wn-type="MultiSelect">
                <label>Selected</label>
                <input type="search">
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>

                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect floatingline" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>Selected</label>
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>

                    </ul>
                </div>
            </div>
        </ig>
        <hr />
        <ig disabled>
            <div class="multiselect" wn-type="MultiSelect" max="2">
                <label>Selected</label>
                <input type="search">
                <div class="selecteditem rows"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect floating" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>Selected</label>
                <div class="selecteditem"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect group" wn-type="MultiSelect">
                <label>Selected</label>
                <input type="search">
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>

                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect floatingline" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>Selected</label>
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li value='FirstName'>First Name</li>
                        <li value='LastName'>Last Name</li>
                        <li value='Company'>Company</li>
                        <li value='Address'>Address</li>
                        <li value='City'>City</li>
                        <li value='Country'>Country</li>
                        <li value='State'>State/Province</li>
                        <li value='ZIP'>ZIP/Postal Code</li>
                        <li value='Phone1'>Phone 1</li>
                        <li value='Phone2'>Phone 2</li>
                        <li value='Email'>Email</li>
                        <li value='Web'>Web</li>

                    </ul>
                </div>
            </div>
        </ig>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ig readonly>
            <div class="multiselect" wn-type="MultiSelect" max="2">
                <label>انتخاب شده</label>
                <input type="search">
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />

            <div class="multiselect floating" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>انتخاب شده</label>
                <div class="selecteditem"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect group" wn-type="MultiSelect">
                <label>انتخاب شده</label>
                <input type="search">
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />

            <div class="multiselect floatingline" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>انتخاب شده</label>
                <div class="selecteditem"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
        </ig>
        <ig disabled>
            <div class="multiselect" wn-type="MultiSelect" max="2">
                <label>انتخاب شده</label>
                <input type="search">
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />

            <div class="multiselect floating" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>انتخاب شده</label>
                <div class="selecteditem"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />
            <div class="multiselect group" wn-type="MultiSelect">
                <label>انتخاب شده</label>
                <input type="search">
                <div class="selecteditem"></div>

                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
            <hr class="m-b-100r" />

            <div class="multiselect floatingline" wn-type="MultiSelect">
                <input type="search" placeholder=".">
                <label>انتخاب شده</label>
                <div class="selecteditem"></div>
                <div class="dropdown">
                    <ul wn-type="list">
                        <li>نام</li>
                        <li>نام خانوادگی</li>
                        <li>شرکت</li>
                        <li>آدرس</li>
                        <li>شهر</li>
                        <li>کشور</li>
                        <li>استان</li>
                        <li>کد پستی</li>
                        <li>تلفن 1</li>
                        <li>تلفن 2</li>
                        <li>پست الکترونیک</li>
                        <li>آدرس وب</li>
                    </ul>
                </div>
            </div>
        </ig>
    </div>
</div>
<figure><code data-on="form5"></code></figure>
