@page
@model WidgetNas.Pages.Components.NavsModel
@{
    ViewData["Title"] = "ناوگان و برگه ها Navs";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    نمایش ناوگانی از لینک ها و کلیدها برای نمایش عملیاتهای خاص، در برنامه های وبی کاربردی است. در زیر به نحوه ساخت و استفاده از آنها اشاره میشود.
</p>
<h2>ناوگان ابتدایی</h2>
<p>برای استفاده از ناوگان ابتدایی میتوانید از ul یا nav استفاده کنید، اگر از nav استفاده نمیکنید، باید از کلاس مرتبط با آن <bidi>nav</bidi> استفاده کنید.</p>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav">
                <li class="nav-item show"><a href="#">Active</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item" disabled><a href="#">Disabled</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav>
                <a href="#" class="nav-item show">Active</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav>
                <button class="nav-item show">Active</button>
                <button class="nav-item">Link</button>
                <button class="nav-item">Link</button>
                <button class="nav-item" disabled>Disabled</button>
            </nav>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav">
                <li class="nav-item show"><a href="#">فعال</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item" disabled><a href="#">غیر فعال</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav>
                <a href="#" class="nav-item show">فعال</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav>
                <button class="nav-item show">فعال</button>
                <button class="nav-item">لینک</button>
                <button class="nav-item">لینک</button>
                <button class="nav-item" disabled>غیر فعال</button>
            </nav>
        </div>
    </div>
</div>
<figure><code data-on="form1"></code></figure>
<h2>گزینه ها دکمه ای</h2>
<p>
    اگر میخواهید گزینه ها به شکل دکمه باشند، به مثال زیر توجه کنید.
</p>
<div class="example-div">
    <div class="ltr" id="form2">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav nav-button">
                <li class="nav-item show"><a href="#">Active</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item" disabled><a href="#">Disabled</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button">
                <a href="#" class="nav-item show">Active</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav nav-button">
                <li class="nav-item show"><a href="#">فعال</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item" disabled><a href="#">غیر فعال</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button">
                <a href="#" class="nav-item show">فعال</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
    </div>
</div>
<figure><code data-on="form2"></code></figure>
<h2>مرتب سازی</h2>
<p>
    با توجه به آنکه نحوه نمایش به صورت flex است، شما میتوانید از انواع مرتب سازی مرتبط با آن استفاده کنید.
</p>
<div class="example-div">
    <div class="ltr" id="form3">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav nav-button justify-content-start">
                <li class="nav-item show"><a href="#">Active</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item"><a href="#">This link is bigger</a></li>
                <li class="nav-item" disabled><a href="#">Disabled</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button justify-content-center">
                <a href="#" class="nav-item show">Active</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item">This link is bigger</a>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button justify-content-end">
                <button class="nav-item show">Active</button>
                <button class="nav-item">Link</button>
                <button class="nav-item">This link is bigger</button>
                <button class="nav-item" disabled>Disabled</button>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button nav-fill">
                <a href="#" class="nav-item show">Active</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item">This link is bigger</a>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button flex-justified">
                <a href="#" class="nav-item show">Active</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item">This link is bigger</a>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav nav-button justify-content-start">
                <li class="nav-item show"><a href="#">فعال</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item"><a href="#">لینک با متنی بزرگتر</a></li>
                <li class="nav-item" disabled><a href="#">غیر فعال</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button justify-content-center">
                <a href="#" class="nav-item show">فعال</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item">لینک با متنی بزرگتر</a>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-button justify-content-end">
                <button class="nav-item show">فعال</button>
                <button class="nav-item">لینک</button>
                <button class="nav-item">لینک با متنی بزرگتر</button>
                <button class="nav-item" disabled>غیر فعال</button>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-fill">
                <a href="#" class="nav-item show">فعال</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item">لینک با متنی بزرگتر</a>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="flex-justified">
                <a href="#" class="nav-item show">فعال</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item">لینک با متنی بزرگتر</a>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
    </div>
</div>
<figure><code data-on="form3"></code></figure>
<h2>عمودی</h2>
<p>
    با توجه به آنکه نحوه نمایش به صورت flex است، شما میتوانید از انواع چینش مرتبط با آن استفاده کنید.
</p>
<div class="example-div">
    <div class="ltr" id="form4">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav flex-column">
                <li class="nav-item show"><a href="#">Active</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item" disabled><a href="#">Disabled</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="flex-column">
                <a href="#" class="nav-item show">Active</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav flex-column">
                <li class="nav-item show"><a href="#">فعال</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item" disabled><a href="#">غیر فعال</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="flex-column">
                <a href="#" class="nav-item show">فعال</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
    </div>
</div>
<figure><code data-on="form4"></code></figure>
<h2>دکمه بازشو</h2>
<p>
    برای اضافه کردن، دکمه به صورت کشویی میتوانید از مثال زیر استفاده کنید.
</p>
<div class="example-div">
    <div class="ltr" id="form5">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav">
                <li class="nav-item show"><a href="#">Active</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item"><button class="dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button></li>
                <li class="nav-item" disabled><a href="#">Disabled</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav>
                <a href="#" class="nav-item show">Active</a>
                <a href="#" class="nav-item">Link</a>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
        <div id="dropdown_ltr" class="dropdown p-i-0">
            <ul class="list list-hover list-noedge p-i-50r">
                <li class="list-active round-top-s">Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li class="round-bottom-s" disabled>Disabled</li>
            </ul>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav">
                <li class="nav-item show"><a href="#">فعال</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item"><button class="dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button></li>
                <li class="nav-item" disabled><a href="#">غیر فعال</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav>
                <a href="#" class="nav-item show">فعال</a>
                <a href="#" class="nav-item">لینک</a>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
        <div id="dropdown_rtl" class="dropdown p-i-0">
            <ul class="list list-hover list-noedge p-i-50r">
                <li class="list-active round-top-s">گزینه 1</li>
                <li>گزینه 2</li>
                <li>گزینه 3</li>
                <li class="round-bottom-s" disabled>غیر فعال</li>
            </ul>
        </div>
    </div>
</div>
<figure><code data-on="form5"></code></figure>
<h2>کاربرگ یا Tab</h2>
<p>
    کاربرگ ها در بسیاری از برنامه های تحت وب استفاده میشود، در زیر ابتدا با نحوه نمایش آن و سپس با استفاده از خصوصیت Collapse یک کاربرگ کامل را توضیح خواهیم داد.
</p>
<div class="example-div">
    <div class="ltr" id="form6">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav nav-tab primary">
                <li class="nav-item show"><a href="#">Active</a></li>
                <li class="nav-item"><a href="#">Link</a></li>
                <li class="nav-item"><button class="dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button></li>
                <li class="nav-item" disabled><a href="#">Disabled</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab primary outline">
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item show">Active</a>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab tab-highlight">
                <a href="#" class="nav-item">Link</a>
                <a href="#" class="nav-item show">Active</a>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button>
                <a href="#" class="nav-item" disabled>Disabled</a>
            </nav>
        </div>
        <div id="dropdown_ltr" class="dropdown p-i-0x">
            <ul class="list list-hover list-noedge p-i-50r">
                <li class="list-active round-top-s">Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li class="round-bottom-s" disabled>Disabled</li>
            </ul>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r">
            <ul class="nav nav-tab primary">
                <li class="nav-item show"><a href="#">فعال</a></li>
                <li class="nav-item"><a href="#">لینک</a></li>
                <li class="nav-item"><button class="dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button></li>
                <li class="nav-item" disabled><a href="#">غیر فعال</a></li>
            </ul>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab primary outline">
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item show">فعال</a>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab tab-highlight">
                <a href="#" class="nav-item">لینک</a>
                <a href="#" class="nav-item show">فعال</a>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button>
                <a href="#" class="nav-item" disabled>غیر فعال</a>
            </nav>
        </div>
        <div id="dropdown_rtl" class="dropdown p-i-0x">
            <ul class="list list-hover list-noedge p-i-50r">
                <li class="list-active round-top-s">گزینه 1</li>
                <li>گزینه 2</li>
                <li>گزینه 3</li>
                <li class="round-bottom-s" disabled>غیر فعال</li>
            </ul>
        </div>
    </div>
</div>
<figure><code data-on="form6"></code></figure>
<h3>ایجاد کاربرگ</h3>
<p>برای ساخت یک کاربرگ، پس از تعریف ساختار html کافیست مقدار wn-type را مقدار tab تعریف کنید. <br />
    سیستم به صورت خودکار تمامی nav-item ها را شناسایی کرده و سپس در صورتیکه nav-item دارای wn-type نباشد، به صورت متناظر یک tab-pan به آن نسبت میدهد.<br />
    یعنی اولین nav-item به اولین tab-pan و الی آخر.
</p>
<p>در نسخه 1 چنین موضوعی وجود نداشت و میبایست توسط موضوع collapsed آنرا شبیه سازی میکردید.</p>
<p>
    <strong>خصوصیت selected-index</strong><br>
    با انتخاب شماره ایندکس صفحه که از 0 شروع میشود، صفحه انتخاب شده را تغییر میدهد.
</p>
<div class="example-div">
    <div class="ltr" id="form7">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <nav class="nav-tab" >
                <button class="nav-item">Home</button>
                <button class="nav-item">Profile</button>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button>
            </nav>
            <div  class="tab-content">
                <div class="tab-pan">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
                <div class="tab-pan">
                    Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r"  wn-type="Tab">
            <div class="tab-content nav-bottom">
                <div class="tab-pan">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
                <div class="tab-pan">
                    Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.
                </div>
            </div>
            <nav class="nav-tab nav-bottom">
                <button class="nav-item" >Home</button>
                <button class="nav-item" >Profile</button>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button>
            </nav>
        </div>
        <div class="m-bs-50r p-100r">
            <div class="row g-i-0"  wn-type="Tab">
                <div class="col-3" >
                    <nav class="nav-tab flex-column nav-start">
                        <button class="nav-item" >Home</button>
                        <button class="nav-item">Profile</button>
                        <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button>
                    </nav>
                </div>
                <div class="tab-content nav-start col">
                    <div class="tab-pan" >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                    </div>
                    <div class="tab-pan" >
                        Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.
                    </div>
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <div class="row g-i-0">
                <div class="tab-content nav-end col">
                    <div class="tab-pan" >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                    </div>
                    <div class="tab-pan" >
                        Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.
                    </div>
                </div>
                <div class="col-4">
                    <nav id="tabnav4_ltr" class="nav-tab flex-column nav-end">
                        <button class="nav-item" >Home</button>
                        <button class="nav-item" >Profile</button>
                        <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_ltr">Dropdown</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <nav class="nav-tab">
                <button class="nav-item" >خانه</button>
                <button class="nav-item" >پروفایل</button>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button>
            </nav>
            <div class="tab-content">
                <div class="tab-pan" >
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
                <div class="tab-pan" >
                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <div class="tab-content nav-bottom">
                <div class="tab-pan" >
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
                <div class="tab-pan">
                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                </div>
            </div>
            <nav class="nav-tab nav-bottom">
                <button class="nav-item" >خانه</button>
                <button class="nav-item" >پروفایل</button>
                <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button>
            </nav>
        </div>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <div class="row g-i-0">
                <div class="col-3">
                    <nav class="nav-tab flex-column nav-start">
                        <button class="nav-item" >خانه</button>
                        <button class="nav-item" >پروفایل</button>
                        <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button>
                    </nav>
                </div>
                <div class="tab-content nav-start col">
                    <div class="tab-pan">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </div>
                    <div class="tab-pan">
                        کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    </div>
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <div class="row g-i-0">
                <div class="tab-content nav-end col">
                    <div class="tab-pan">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </div>
                    <div class="tab-pan">
                        کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    </div>
                </div>
                <div class="col-4">
                    <nav class="nav-tab flex-column nav-end">
                        <button class="nav-item" >خانه</button>
                        <button class="nav-item" >پروفایل</button>
                        <button class="nav-item dropdown-toggle" wn-type="dropdown" wn-dropdown="dropdown_rtl">بازشو</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form7"></code></figure>
<p>ارتفاع ثابت و ایجاد اسکرول</p>
<div class="example-div">
    <div class="ltr" id="form8">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <nav class="nav-tab">
                <button class="nav-item">Home</button>
                <button class="nav-item">Profile</button>
            </nav>
            <div class="tab-content" style="height:200px">
                <div class="tab-pan">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
                <div class="tab-pan">
                    Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <nav class="nav-tab">
                <button class="nav-item">Home</button>
                <button class="nav-item">Profile</button>
            </nav>
            <div class="tab-content" style="height:150px">
                <div class="tab-pan">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.</p>
                    <p>Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.</p>
                </div>
                <div class="tab-pan">
                    <p>Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <nav class="nav-tab">
                <button class="nav-item">خانه</button>
                <button class="nav-item">پروفایل</button>
            </nav>
            <div class="tab-content" style="height:200px">
                <div class="tab-pan">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
                <div class="tab-pan">
                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r" wn-type="Tab">
            <nav class="nav-tab">
                <button class="nav-item">خانه</button>
                <button class="nav-item">پروفایل</button>
            </nav>
            <div class="tab-content" style="height:150px">
                <div class="tab-pan">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                </div>
                <div class="tab-pan">
                    <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form8"></code></figure>
<p>اندازه و رنگ</p>
<div class="example-div">
    <div class="ltr" id="form9">
        <h3>LTR</h3>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab s-m">
                <button class="nav-item show">Home</button>
                <button class="nav-item">Profile</button>
            </nav>
            <div class="tab-content s-m">
                <div class="tab-pan show">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r s-s">
            <nav class="nav-tab">
                <button class="nav-item show">Home</button>
                <button class="nav-item">Profile</button>
            </nav>
            <div class="tab-content">
                <div class="tab-pan show">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r s-s secondary outline">
            <nav class="nav-tab">
                <button class="nav-item show">Home</button>
                <button class="nav-item">Profile</button>
            </nav>
            <div class="tab-content">
                <div class="tab-pan show">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab secondary">
                <button class="nav-item show">Home</button>
                <button class="nav-item">Profile</button>
            </nav>
            <div class="tab-content primary outline">
                <div class="tab-pan show">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
            </div>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab s-m">
                <button class="nav-item show">خانه</button>
                <button class="nav-item">پروفایل</button>
            </nav>
            <div class="tab-content s-m">
                <div class="tab-pan show">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r s-s">
            <nav class="nav-tab">
                <button class="nav-item show">خانه</button>
                <button class="nav-item">پروفایل</button>
            </nav>
            <div class="tab-content">
                <div class="tab-pan show">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r s-s secondary outline">
            <nav class="nav-tab">
                <button class="nav-item show">خانه</button>
                <button class="nav-item">پروفایل</button>
            </nav>
            <div class="tab-content">
                <div class="tab-pan show">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r">
            <nav class="nav-tab secondary">
                <button class="nav-item show">خانه</button>
                <button class="nav-item">پروفایل</button>
            </nav>
            <div class="tab-content primary outline">
                <div class="tab-pan show">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
            </div>
        </div>
    </div>
</div>
<figure><code data-on="form9"></code></figure>
<p>جاوا اسکریپت</p>
<p>
    <string>selectedIndex</string><br />
    شماره صفحه انتخاب شده را مشخص میکند. شماره صفحه ها از 0 شروع میشوند.
</p>
<p>
    <string>beforeSelected</string><br />
    قبل از آنکه صفحه جدید انتخاب شود، این رویداد فراخوانی میشود، اگر مقدار false برگرداند، عمل انتخاب صفحه جدید لغو میشود.<br />
    از این رخداد نیز برای مقدار دهی بر خط صفحات نیز استفاده میشود.<br />
    <bidi>beforeSelected: (t, index) => boolean</bidi>
</p>
<p>
    <string>selectionChanged</string><br />
    زمانیکه یک صفحه جدید انتخاب و نمایش داده میشود، این رخداد فراخوانی میشود.<br />
    <bidi>selectionChanged: (t) => void</bidi>
</p>

<div class="example-div">
    <div class="ltr" id="form10">
        <h3>LTR</h3>
        <div id="tab1" class="m-bs-50r p-100r" wn-type="Tab">
            <nav  class="nav-tab">
                <button class="nav-item show" >Home</button>
                <button class="nav-item">Profile</button>
                <button class="nav-item" disabled>Disabled </button>
            </nav>
            <div class="tab-content">
                <div class="tab-pan" >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Senectus et netus et malesuada fames ac.
                </div>
                <div class="tab-pan" >
                    Est pellentesque elit ullamcorper dignissim cras. Bibendum neque egestas congue quisque egestas. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Eu tincidunt tortor aliquam nulla facilisi. Rhoncus dolor purus non enim praesent elementum facilisis leo.
                </div>
                <div class="tab-pan">
                </div>
            </div>
        </div>
        <div class="m-bs-50r p-100r">
            <button class="primary" onclick="WN('tab1').wn.selectedIndex=0">Show Home</button>
            <button class="secondary" onclick="WN('tab1').wn.selectedIndex=1">Show Profile</button>
            <button class="third" onclick="WN('tab1').wn.selectedIndex=2">Check Disabled</button>
        </div>
    </div>
</div>

<figure><code data-on="form10"></code></figure>