@page
@model WidgetNas.Pages.Components.PreLoaderModel
@{
    ViewData["Title"] = "انتظار تا تکمیل بارگذاری PreLoader";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>در بسیاری مواقع نیاز دارید تا بارگذاری کامل صفحه یا ارسال اطلاعات به سرور و دریافت جواب، صفحه به حالت انتظار در آید، با استفاده از روش زیر این امر امکان پذیر خواهد شد.</p>
<h2>نحوه بکار گیری</h2>

<button class="primary" onclick="document.getElementById('preloader').classList.toggle('hide')">Show</button>

<div class="preloader hide" id="preloader">
    <div class="loader">
        <button class="primary" onclick="ShowPreLoader(false)">مخفی 1 بار</button>
        <div class="spinner">
            <div class="p-be-50r">
                <div class="indicator indicator-effect-grow red-800-cb-i s-xs"></div>
                <div class="indicator indicator-effect-grow animate-delay-start-10 red-500-cb-i s-s"></div>
                <div class="indicator indicator-effect-grow animate-delay-start-20 red-100-cb-i s-m"></div>
                <div class="indicator indicator-effect-grow animate-delay-start-30 red-500-cb-i s-s"></div>
                <div class="indicator indicator-effect-grow animate-delay-start-40 red-800-cb-i s-xs"></div>
            </div>
            <div>
                <div class="indicator indicator-effect-border s-xxl white"></div>
            </div>
        </div>
    </div>
    <button class="close" onclick="document.getElementById('preloader').classList.toggle('hide')"></button>
</div>
<figure><code data-on="preloader"></code></figure>
<h2>توابع</h2>
<p>برای آنکه بتوانید به صورت خودکار صفحه انتظار برای بارگذاری را فعال و یا محو کنید، میتوانید از توابع و متغییرهای زیر استفاده کنید.</p>
<p>
    <h3>PreLoaderDelayStart</h3> اگر بعد از این مقدار میلی ثانیه، تابع مخفی کردن صدا زده نشد، صحه نمایش داده شود. این برای جلوگیری از نمایش و مخفی کردن مداوم صفحه است. که ممکن است برای کاربر آزار دهنده باشد. مقدار پیش فرض 500 میلی ثانیه است.
</p>
<p>
    <h3>PreLoaderTimeout</h3>اگر به هر دلیلی، صفحه مخفی نشد، بعد از این مقدار میلی ثانیه، صفحه را میبندد. مقدار پیش فرض 30000 میلی ثانیه یا 30 ثانیه است.
</p>
<p>
    <h3>PreLoderId</h3>id صفحه نمایش انتظار است. مقدار پیش فرض preloader میباشد.
</p>
<p>
    <h3>ShowPreLoader</h3>با فرخوانی این تابع میتوانید مشخص کنید صفحه نمایش داده شود یا خیر.<br />
    <h4>ShowPreLoader(true)</h4>
    برای نمایش صفحه استفاده میشود، این تابع به صورت خودکار بدنبال id با مقداری preloader میگردد و اگر پیدا کرد، آنرا نمایش میدهد.<br />
    <h4>ShowPreLoader(false)</h4>برای مخفی کردن صفحه استفاده میشود، این تابع به صورت خودکار بدنبال id با مقداری preloader میگردد و اگر پیدا کرد، آنرا مخفی میدهد.<br /><br />
    <h4>ShowPreLoader(false,'preloader')</h4>اگر مقدار پیش فرض id صفحه انتظار غیر از preloader بود، بایستی id آنرا مشخص کنید.<br />
    <h4>ShowPreLoader(false,'preloader')</h4>اگر مقدار پیش فرض id صفحه انتظار غیر از preloader بود، بایستی id آنرا مشخص کنید.<br />
    <h4>ShowPreLoader(false,'preloader',500)</h4>مقدار متفاوتی برای PreLoaderDelayStart استفاده کنید.<br />
    <h4>ShowPreLoader(false,'preloader',500,30000)</h4>مقدار متفاوتی برای PreLoaderTimeout استفاده کنید.<br />
</p>
<div class="example-div" id="sample1">
    <button class="primary" onclick="ShowPreLoader(true)">نمایش 1 بار</button>
    <button class="primary" onclick="ShowPreLoader(true);ShowPreLoader(true);ShowPreLoader(true);">نمایش 3 بار</button>
</div>
<figure><code data-on="sample1"></code></figure>