@page
@model WidgetNas.Pages.Components.SearchListModel
@{
    ViewData["Title"] = "لیست قابل جستجو";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    در بسیاری از مواقع، ما لیست یا درختواره ای داریم و نیاز به فیلتر کردن بر اساس یک کلمه خاص داریم، با استفاده از این موضوع
    میتوانیم، بر روی لیست یا درختواره مد نظر، اعمال فیلتر کنیم.
</p>
<p>قبلا در قسمت <a href="/Components/Filter" alt="فیلتر">فیلتر</a> مشابه این موضوع را پیاده سازی کرده ایم. حال میخواهیم موضوعی پیش رفته تر را با استفاده از آن خاصیت نمایش دهیم.</p>
<h4>نمایش لیست</h4>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <div class="searchlist" wn-type="SearchList">
            <input type="search" placeholder="Type for search" />
            <ul wn-type="list">
                <li>First Name</li>
                <li>Last Name</li>
                <li>Company</li>
                <li>Address</li>
                <li>City</li>
                <li>Country</li>
                <li>State/Province</li>
                <li>ZIP/Postal Code</li>
                <li>Phone 1</li>
                <li>Phone 2</li>
                <li>Email</li>
                <li>Web</li>
            </ul>
        </div>
        <hr class="m-b-100r" />
        <div class="searchlist" wn-type="SearchList">
            <ul wn-type="list">
                <li>First Name</li>
                <li>Last Name</li>
                <li>Company</li>
                <li>Address</li>
                <li>City</li>
                <li>Country</li>
                <li>State/Province</li>
                <li>ZIP/Postal Code</li>
                <li>Phone 1</li>
                <li>Phone 2</li>
                <li>Email</li>
                <li>Web</li>
            </ul>
            <input type="search" placeholder="Type for search" />
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="searchlist" wn-type="SearchList">
            <input type="search" placeholder="برای جستجو بنویسید" />
            <ul wn-type="list">
                <li>نام</li>
                <li>نام خانوادگی</li>
                <li>شرکت</li>
                <li>آدرس</li>
                <li>شهر</li>
                <li>کشور</li>
                <li>استان</li>
                <li>کد پستی</li>
                <li>تلفن 1</li>
                <li>تلفن 2</li>
                <li>پست الکترونیک</li>
                <li>آدرس وب</li>
            </ul>
        </div>
        <hr class="m-b-100r" />
        <div class="searchlist" wn-type="SearchList">
            <ul wn-type="list">
                <li>نام</li>
                <li>نام خانوادگی</li>
                <li>شرکت</li>
                <li>آدرس</li>
                <li>شهر</li>
                <li>کشور</li>
                <li>استان</li>
                <li>کد پستی</li>
                <li>تلفن 1</li>
                <li>تلفن 2</li>
                <li>پست الکترونیک</li>
                <li>آدرس وب</li>
            </ul>
            <input type="search" placeholder="برای جستجو بنویسید" />
        </div>
    </div>
</div>

<figure><code data-on="form1"></code></figure>
<h4>نمایش درختواره</h4>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <div class="searchlist" wn-type="SearchList">
            <input type="search" placeholder="Type for search" />
            <ul class="tree" wn-type="tree">
                <li>
                    <item>Personal Info</item>
                    <ul>
                        <li>
                            <item>Name</item>
                            <ul>
                                <li><item>First Name</item></li>
                                <li><item>Last Name</item></li>
                            </ul>
                        </li>
                        <li>
                            <item>Address</item>
                            <ul>
                                <li><item>Address</item></li>
                                <li><item>City</item></li>
                                <li><item>Country</item></li>
                                <li><item>State/Province</item></li>
                                <li><item>ZIP/Postal Code</item></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <item>Job Info</item>
                    <ul>
                        <li><item>Company</item></li>
                        <li><item>Phone 1</item></li>
                        <li><item>Phone 2</item></li>
                        <li><item>Email</item></li>
                        <li><item>Web</item></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div class="searchlist" wn-type="SearchList">
            <input type="search" placeholder="Type for search" />
            <ul class="tree" wn-type="tree">
                <li>
                    <item>اطلاعات شخصی</item>
                    <ul>
                        <li>
                            <item>نام</item>
                            <ul>
                                <li><item>نام</item></li>
                                <li><item>نام خانوادگی</item></li>
                            </ul>
                        </li>
                        <li>
                            <item>آدرس</item>
                            <ul>
                                <li><item>آدرس</item></li>
                                <li><item>شهر</item></li>
                                <li><item>کشور</item></li>
                                <li><item>استان</item></li>
                                <li><item>کدپستی</item></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <item>اطلاعات شغلی</item>
                    <ul>
                        <li><item>شرکت</item></li>
                        <li><item>تلفن 1</item></li>
                        <li><item>تلفن 2</item></li>
                        <li><item>پست الکترونیک</item></li>
                        <li><item>وب</item></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<figure><code data-on="form1"></code></figure>

<h4>انتخاب مقادیر</h4>
<div class="example-div">
    <div class="ltr" id="form2">
        <h3>LTR</h3>
        <input id="display1-ltr" type="text" readonly placeholder="Selected Text" />
        <input id="value1-ltr" type="text" readonly placeholder="Selected Value" />
        <div class="searchlist" wn-type="SearchList" display-id="display1-ltr" value-id="value1-ltr">
            <input type="search" placeholder="Type for search" />
            <ul wn-type="list">
                <li value="FirstName">First Name</li>
                <li value="LastName">Last Name</li>
                <li value="Company">Company</li>
                <li value="Address">Address</li>
                <li value="City">City</li>
                <li value="Country">Country</li>
                <li value="State">State/Province</li>
                <li value="PostalCode">ZIP/Postal Code</li>
                <li value="Phone1">Phone 1</li>
                <li value="Phone2">Phone 2</li>
                <li value="Email">Email</li>
                <li value="Web">Web</li>
            </ul>
        </div>
        <hr class="m-b-100r" />
        <input id="display2-ltr" type="text" readonly placeholder="Selected Text" />
        <input id="value2-ltr" type="text" readonly placeholder="Selected Value" />
        <div class="searchlist" wn-type="SearchList" display-id="display2-ltr" value-id="value2-ltr">
            <input type="search" placeholder="Type for search" />
            <ul class="tree" wn-type="tree">
                <li>
                    <item>Personal Info</item>
                    <ul>
                        <li>
                            <item>Name</item>
                            <ul>
                                <li><item value='FirstName'>First Name</item></li>
                                <li><item value='LastName'>Last Name</item></li>
                            </ul>
                        </li>
                        <li>
                            <item>Address</item>
                            <ul>
                                <li><item value='Address'>Address</item></li>
                                <li><item value='City'>City</item></li>
                                <li><item value='Country'>Country</item></li>
                                <li><item value='State'>State/Province</item></li>
                                <li><item value='ZIP'>ZIP/Postal Code</item></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <item>Job Info</item>
                    <ul>
                        <li><item value='Company'>Company</item></li>
                        <li><item value='Phone1'>Phone 1</item></li>
                        <li><item value='Phone2'>Phone 2</item></li>
                        <li><item value='Email'>Email</item></li>
                        <li><item value='Web'>Web</item></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <input id="display1-rtl" type="text" readonly placeholder="عنوان انتخاب شده" />
        <input id="value1-rtl" type="text" readonly placeholder="مقدار انتخاب شده" />
        <div class="searchlist" wn-type="SearchList" display-id="display1-rtl" value-id="value1-rtl">
            <input type="search" placeholder="برای جستجو بنویسید" />
            <ul wn-type="list">
                <li value="FirstName">نام</li>
                <li value="LastName">نام خانوادگی</li>
                <li value="Company">شرکت</li>
                <li value="Address">آدرس</li>
                <li value="City">شهر</li>
                <li value="Country">کشور</li>
                <li value="State">استان</li>
                <li value="PostalCode">کد پستی</li>
                <li value="Phone1">تلفن 1</li>
                <li value="Phone2">تلفن 2</li>
                <li value="Email">پست الکترونیک</li>
                <li value="Web">آدرس وب</li>
            </ul>
        </div>
        <hr class="m-b-100r" />
        <input id="display2-rtl" type="text" readonly placeholder="عنوان انتخاب شده" />
        <input id="value2-rtl" type="text" readonly placeholder="مقدار انتخاب شده" />
        <div class="searchlist" wn-type="SearchList" display-id="display2-rtl" value-id="value2-rtl">
            <input type="search" placeholder="Type for search" />
            <ul class="tree" wn-type="tree">
                <li>
                    <item>اطلاعات شخصی</item>
                    <ul>
                        <li>
                            <item>نام</item>
                            <ul>
                                <li><item value='FirstName'>نام</item></li>
                                <li><item value='LastName'>نام خانوادگی</item></li>
                            </ul>
                        </li>
                        <li>
                            <item>آدرس</item>
                            <ul>
                                <li><item value='Address'>آدرس</item></li>
                                <li><item value='City'>شهر</item></li>
                                <li><item value='Country'>کشور</item></li>
                                <li><item value='State'>استان</item></li>
                                <li><item value='ZIP'>کدپستی</item></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <item>اطلاعات شغلی</item>
                    <ul>
                        <li><item value='Company'>شرکت</item></li>
                        <li><item value='Phone1'>تلفن 1</item></li>
                        <li><item value='Phone2'>تلفن 2</item></li>
                        <li><item value='Email'>پست الکترونیک</item></li>
                        <li><item value='Web'>وب</item></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<figure><code data-on="form2"></code></figure>
<h4>خصوصیات</h4>
<p>
    <h5>search-id</h5>
    بطور خودکار اولین input که از نوع search باشد انتخاب میشود، ولیکن اگر تمایل دارید نوعی دیگر برای ورودی جستجو
    انتخاب شود، ID آنرا وارد کنید.
</p>
<p>
    <h5>list-id</h5>
    اگر لیست مد نظر دقیقا پس از ورودی جستجو نیست، میتوانید ID آنرا در این خصوصیت معرفی کنید.
</p>
<p>
    <h5>display-id</h5>
    اگر میخواهید بعد از انتخاب گزینه ای در لیست عنوان آنرا در المنتی نمایش دهید، ID آنرا بنویسید.
</p>
<p>
    <h5>value-id</h5>
    اگر میخواهید بعد از انتخاب گزینه ای در لیست مقدار آنرا در المنتی نمایش دهید، ID آنرا بنویسید.
</p>
<p>
    <h5>min-length</h5>
    اگر میخواهید بعد از ورودی حداقل تعدادی کاراکتر عملیات فیلتر کردن انجام شود، آن تعداد را مشخص کنید.
</p>

<h4>توابع و خصوصیات جاوا اسکریپت</h4>
<p>
    <h5>list</h5>
    با توجه به استفاده شما، این موضوع اشاره به کلاس لیست یا درختواره دارد. که از طریق آن میتوانید عملیاتهای مختلف را انجام دهید.
    برای مثال، دیتا بدید، یا تیک بزنید و یا گزینه ای حذف و ... کنید.
</p>
<p>
    <h5>listElement</h5>
    دقیقا به المنت لیست اشاره داره و میتونید تگ های html یا ... را مقدار دهی کنید.
</p>
<p>
    <h5>minLength</h5>
    برابر خصوصیت min-length است.
</p>
<h4>رخدادها</h4>
<p>
    <h5>beforeFilterChanged</h5>
    قبل از اینکه فیلتر عملیات فیلتر کردن را آغاز کند این رخداد فراخوانی میشود. اگر این تابع مقدار false برگرداند، عملیات فیلتر کردن لغو میشود.<br />
    برای مثال شما میخواهید به صورت پویا دیتای فیلتر کردن را از سرور بگیرید، در این رخداد دیتای جدید را خوانده و به لیست خود نسبت میدهد.
    سپس این تابع را با مقدار false برمیگردانید تا ادامه عملیات متوقف شود.<br />
    این تابع را با خصوصیت خطی onbeforefilterchanged نیز میتوانید مقدار دهی کنید.
</p>
<p>
    <h5>afterFilterChanged</h5>
    بعد از آنکه عملیات فیلتر کردن تمام شد، این رخداد فراخوانی میشود.<br />
    این تابع را با خصوصیت خطی onafterfilterchanged نیز میتوانید مقدار دهی کنید.
</p>
<p>
    <h5>selectionChanged</h5>
    زمانیکه انتخاب در لیست تغییر کرد این رخداد فراخوانی میشود.<br />
    این تابع را با خصوصیت خطی onselectionchanged نیز میتوانید مقدار دهی کنید.
</p>
<h4>مثال پویا</h4>
<p>برای مدیریت لیست یا درختواره خود، به مثالهای مرتبط با آنها در صفحات خود در <a href="/Components/Tree">درختواره</a> و <a href="/Components/ListEx">لیست</a> مراجعه نمایید. </p>
<p>در زیر یک مثال ساده از نحوه استفاده از لیست آورده شده است</p>
<div class="example-div">
    <div class="ltr w-95-i" id="form3">
        <div id="m1" class="searchlist" wn-type="SearchList">
            <input type="search" placeholder="Type for search" />
            <ul wn-type="list">
                <li value="FirstName">First Name</li>
                <li value="LastName">Last Name</li>
                <li value="Company">Company</li>
                <li value="Address">Address</li>
                <li value="City">City</li>
                <li value="Country">Country</li>
                <li value="State">State/Province</li>
                <li value="PostalCode">ZIP/Postal Code</li>
                <li value="Phone1">Phone 1</li>
                <li value="Phone2">Phone 2</li>
                <li value="Email">Email</li>
                <li value="Web">Web</li>
            </ul>
        </div>
        <div class="d-flex">
            <input type="text" id="insList" />
            <button onclick="AddToList()">Insert to List</button>
            <button onclick="WN('m1').wn.list.selectedValue = 'Company'">Select Company</button>
            <button onclick="alert( WN('m1').wn.list.selectedValue)">Selected Value</button>
        </div>
        <script>
            function AddToList() {
                let v = document.getElementById('insList').value;
                WN('m1').wn.list.addToDataSource(v, '', v, '');
            }
        </script>
    </div>
</div>
<figure><code data-on="form3"></code></figure>
<h4>دریافت اطلاعات از سرور</h4>
<p>
    برای دریافت اطلاعات از سرور، رخداد onbeforefilterchanged در قسمت خصوصیات تگ و یا رخداد beforeFilterChanged را مقدار دهی کنید. تا زمانیکه
    عبارتی تایپ میشود، این تابع فراخوانی شود.<br />
    سپس بر اساس، موارد مندرج در مثال زیر و مشخصات این رخداد، اقدام به پر کردن لیست خود کنید.
</p>
<div class="example-div">
    <div class="ltr w-95-i" id="form4">
        <div id="m2" class="searchlist" wn-type="SearchList">
            <input type="search" placeholder="Type for search" />
            <ul wn-type="list">
            </ul>
        </div>
        <div class="d-flex">
            <button onclick="AddToList()">Get Data From List</button>
            <button onclick="AddToListServer()">Get Data From Server</button>
        </div>
        <script>
            function AddToList() {
                let o = [
                    { text: 'First Name', value: 'FirstName' },
                    { text: 'Last Name', value: 'LastName' },
                    { text: 'Company', value: 'Company' },
                    { text: 'Address', value: 'Address' }
                ];

                WN('m2').wn.list.setDataSourceByItem(o, 'text', 'value', '', '', false);
            }
            async function AddToListServer() {
                await Post(null, '/Components/Tree').then((r) => {
                    WN('m2').wn.list.setDataSourceByItem(r, 'html', 'value', '', '', false);
                }).catch((e) => {
                    alert(e);
                });
            }
        </script>
    </div>
</div>
<figure><code data-on="form4"></code></figure>