@page
@model WidgetNas.Pages.Components.SearchListModel
@{
    ViewData["Title"] = "لیست قابل جستجو";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    لیست از موضوعات داریم که بیش از تعداد استاندارد جستجوی چشمی است، به دین منظور، نیاز داریم کابر بتواند روی این لیست اعمال فیلتر کند و با
    وارد کردن برخی حروف فقط موضوعاتی را نمایش دهد که آن حروف در آن باشد.
</p>
<p>قبلا در قسمت <a href="/Components/Filter" alt="فیلتر">فیلتر</a> مشابه این موضوع را پیاده سازی کرده ایم. حال میخواهیم موضوعی پیش رفته تر را با استفاده از آن خاصیت نمایش دهیم.</p>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <h4>List</h4>
        <div class="SearchList" wn-type="searchlist">
            <input type="search" placeholder="Type for search"  />
            <ul wn-type="list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        
    </div>
</div>
<figure><code data-on="form1"></code></figure>