@page
@model WidgetNas.Pages.Components.TableModel
@{
    ViewData["Title"] = "جدول پیشرفته";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    جداول عضو جدایی ناپذیر در نمایش دیتا هستند. برای نمایش آنها میتوانید از <bidi>table</bidi> معمولی استفاده کنید ولی زمانیک میخواهید آنرا پویا کنید، باید
    ساختار پیشرفته ای را بکار ببرید. ما در این قسمت سعی کردیم بخش بزرگی از استفاده با جدول را بسازیم.
</p>

<h2>جدول با داده پیش فرض</h2>
<p>در این مثال شما تمایل دارید فقط جدول شما بدون دریافت اطلاعات از سرور و به صورت دیتای ثابت مدیریت شود.</p>
<p>برای ساخت جدول پویا دقت کنید، حتما جدول دارای ساختار <bidi>thead</bidi> و <bidi>tbody</bidi> باشد.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <table id="table1-ltr" class="tablex hover striped" wn-type="table" calendar="wnGregorianCalendar" cultureinfo="wnCultureInfo_en_US">
            <thead>
                <tr>
                    <th sortable data-field='id' data-type='number' data-format='number' style="width:3rem">#</th>
                    <th filterable data-field='firstName' data-format='Name is : {0}'>First Name</th>
                    <th filterable sortable data-field='lastName'>Last Name</th>
                    <th filterable sortable data-field='position' data-format='t'>Position</th>
                    <th filterable sortable data-field='date' data-type='date' data-format='shortdate'>Birth Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>omid</td>
                    <td>Moridi</td>
                    <td>WidgetNas Creator</td>
                    <td>1979-04-04</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>reza</td>
                    <td>Rahmani</td>
                    <td>Developer</td>
                    <td>2000-05-17</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Mohammad</td>
                    <td>Keshavarz</td>
                    <td>Marketing</td>
                    <td>2005-02-20</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <table id="table1-rtl" class="tablex hover striped" wn-type="table" calendar="wnPersianCalendar" cultureinfo="wnCultureInfo_fa_IR">
            <thead>
                <tr>
                    <th sortable data-field='id' data-type='number' data-format='number'>#</th>
                    <th data-field='firstName' data-format='نام : {0}'>نام</th>
                    <th sortable data-field='lastName'>نام خانوادگی</th>
                    <th sortable data-field='position' data-format='t'>عنوان</th>
                    <th sortable data-field='date' data-type='date' data-format='shortdate'>تاریخ تولد</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>امید</td>
                    <td>مریدی</td>
                    <td>سازنده ویجت نس</td>
                    <td>1979-04-04</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>رضا</td>
                    <td>رحمانی</td>
                    <td>برنامه نویس</td>
                    <td>2000-05-17</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>محمد</td>
                    <td>کشاورز</td>
                    <td>بازاریابی</td>
                    <td>2005-02-20</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<figure><code data-on="table1-ltr"></code></figure>