@page
@model WidgetNas.Pages.Components.TimeModel
@{
    ViewData["Title"] = "زمان Time";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    اگر نیاز است، زمان را از کاربر بگیرید، این موضوع به شما بسیار کمک خواهد کرد.
</p>
<h2>زمان درون خطی</h2>
<p>
    موضوعات درون خطی، در حقیقت اصل ورودی موضوع هستند و با استفاده از موضوعات کمکی میتوانند به صورت موضوعات بازشو نمایش داده شوند.
    در زیر تمام امکانات دریافت زمان را به شما نشان خواهیم داد.
</p>

<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <div id="time1" wn-type="Time" class="time bordered" style="width:17rem"
             cultureinfo="WNCultureInfo_en_US">
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <div wn-type="Time" class="time bordered" style="width:17rem"
             cultureinfo="WNCultureInfo_fa_IR">
        </div>
    </div>
</div>

<figure>
    <pre><code class="html">
    <span class="hv">&lt;</span><span class="ht">div</span><span class="ha"> wn-type</span><span class="hv">="time</span>"<span class="ha"> class</span><span class="hv">="time</span>"<span class="hv">&lt;/</span><span class="ht">div</span><span class="hv">&gt;</span>
</code></pre>
</figure>
<p>در بالا ساده ترین نوع زمان نمایش داده شده است، نوع فرهنگ از مقادیر پیش فرض و متغییر های <bidi>wnConfig.cultureInfo</bidi> گرفته میشود.</p>
<p>اگر میخواهید، نوع فرهنگ را به صورت دستی برای تقویم خود تعیین کنید بایستی در ادامه خصوصیات زیر را اضافه کنید.</p>
<figure>
    <pre><code class="html">
    <span class="hv">&lt;</span><span class="ht">div</span><span class="ha"> wn-type</span><span class="hv">="time</span>"<span class="ha"> class</span><span class="hv">="time</span>"
    <span class="ha"> cultureinfo</span><span class="hv">="WNCultureInfo_en_US</span>"<span class="hv">&gt;</span>
    <span class="hv">&lt;/</span><span class="ht">div</span><span class="hv">&gt;</span>
</code></pre>
</figure>
<p>در خصوصیت <bidi>cultureinfo</bidi> نام یکی از کلاسهای از پیش تعیین شده و یا شخصی سازی شده خود را وارد کنید.</p>
<p>اگر نمیدانید، چه کلاسهایی پیاده سازی شده است، کافیست برای اطلاع بیشتر <a href="DateJS">اینجا</a> را مطالعه کنید.</p>
<p>اعداد قابلیت نمایش به صورت محلی را دارند، مقدار پیش فرض از <bidi>WNDefaultNativeDigit</bidi> گرفته میشود، ولیکن شما میتوانید با تعیین خصوصیت <bidi>nativeDigit = 'true'</bidi> یا <bidi>nativeDigit = 'false'</bidi> این تبدیل را کنترل کنید.</p>
<h2>دسترسی به زمان انتخاب شده</h2>
<p>تا به اینجا به نحوه نمایش زمان اشاره شده است، حال باید ببینیم چطور میتوانیم به زمان انتخاب شده میتوان دسترسی داشت.</p>
<p>
    کلاس wntime دارای خصوصیاتی است که خصوصیت Date که از جنس wnDate است، این خصوصیت امکان دسترسی به مدیریت زمان را به شما میدهد.
    <bidi>Date</bidi> تاریخ و زمان است، اگر در هنگام ورودی، مقدار تاریخ دار نیز باشد، فقط مقدارهای ساعت را تغییر میدهد و تاریخ بدون استفاده است.
</p>
<figure>
    <code data-on="_code" data-mode="javascript">
        alert(WN('time-id').wn.Date.toString());
    </code>
</figure>
<p>
    دسترسی داشتن به زمان امکان خوبی است ولی معمولا اضافه کردن کدهای تکراری به صفحه و مدیریت توسط جاوا اسکریپت آنچنان دلچسب نیست.
    ما برای راحتتر شدن دسترسی و ذخیره تغییرات، خصوصیت <bidi>value-id</bidi> را طراحی کردیم، تا زمانیکه تاریخ تغییر کرد، به صورت خودکار،
    مقدارهای تغییر داده شده به صورت استاندارد ISO درون موضوعات تعیین شده قرار دهد.
</p>
<p>بنابر تعریف بالا، شما لازم دارید ابتدا یک ورودی به صورت مخفی یا غیر مخفی داشته باشید، و ID آنرا در هنگام تعریف تعیین کنید. به مثال زیر توجه کنید.</p>
<div class="example-div">
    <div class="ltr" id="form1">
        <h3>LTR</h3>
        <input id="date1_ltr" type="text" style="width:17rem" />
        <div wn-type="Time"
             class="time" style="width:17rem"
             calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US"
             value-id="date1_ltr">
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <input id="date1_rtl" type="text" style="width:17rem" />
        <div wn-type="Time"
             class="time" style="width:17rem"
             calendar="WNPersianCalendar" cultureinfo="WNCultureInfo_fa_IR"
             value-id="date1_rtl"></div>
    </div>
</div>
<figure><code data-on="form1"></code></figure>
<p>بدیهی است، اگر این ورودی ها، در ابتدا مقداری داشته باشند، مقدار پیش فرض تقویم از آنها خوانده خواهد شد.</p>
<h2>نمایش زمان انتخاب شده</h2>
<p>
    اگر تمایل دارید، زمان انتخاب شده در فرهنگ تعریف شده نیز در یک ورودی نمایش داده شود و همچنین با تغییر دستی آن ورودی زمان نیز دستخوش تغییر گردد
    باید خصوصیت <bidi>display-id</bidi> را تنظیم کنید.
</p>
<div class="alert info callout-start">دقت کنید خصوصیت display-id برای نمایش زمان و value-id مقدار زمان به صورت تاریخ در فرمت Date استاندارد میباشد.</div>
<div class="example-div">
    <div class="ltr" id="form2">
        <h3>LTR</h3>
        <input id="date2_d_ltr" type="text" style="width:17rem" />
        <input id="date2_ltr" type="text" style="width:17rem" disabled />
        <div wn-type="Time"
             class="time" style="width:17rem"
             calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US"
             value-id="date2_ltr"
             display-id="date2_d_ltr">
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <input id="date2_d_rtl" type="text" style="width:17rem" />
        <input id="date2_rtl" type="text" style="width:17rem" disabled />
        <div wn-type="Time"
             class="time" style="width:17rem"
             calendar="WNPersianCalendar" cultureinfo="WNCultureInfo_fa_IR"
             value-id="date2_rtl"
             display-id="date2_d_rtl"></div>
    </div>
</div>
<figure><code data-on="form2"></code></figure>
<p>اگر تمایل دارید نوع نمایش خروجی با فرمت خاصی باشد، خصوصیت <bidi>display-format</bidi> را طبق استانداردهای خروجی تاریخ تعیین کنید.</p>
<div class="example-div">
    <div class="ltr" id="form3">
        <h3>LTR</h3>
        <input id="date3_d_ltr" type="text" />
        <div wn-type="Time"
             class="time" style="width:17rem"
             cultureinfo="WNCultureInfo_en_US"
             display-id="date3_d_ltr"
             display-format="HH:mm:ss">
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <input id="date3_d_rtl" type="text" />
        <div wn-type="Time"
             class="time" style="width:17rem"
             cultureinfo="WNCultureInfo_fa_IR"
             display-id="date3_d_rtl"
             display-format="HH:mm:ss">
        </div>
    </div>
</div>
<figure><code data-on="form3"></code></figure>
<h2>تنظیم ورودی</h2>
<p>
    اگر میخواهید ساعت و دقیقه و ثانیه را از ورودی بگیرید کافیست نوع ورودی را مشخص کنید. برای همین خصوصیت <bidi>input-format = 'hms'</bidi> را تنظیم کنید.
    برای دریافت ساعت عبارت h و دقیقه m و ثانیه عبارت s در متن ورودی باشد.
</p>
<p>ترتیب ورود حروف در نوع دریافت ورودی تاثیری ندارد یعنی عبارت hms با shm یک معنی را میدهد.</p>
<div class="example-div">
    <div class="ltr" id="form4">
        <h3>LTR</h3>
        <input id="date4_d_ltr" type="text" />
        <div wn-type="Time"
             class="time" style="width:17rem"
             cultureinfo="WNCultureInfo_en_US"
             display-id="date4_d_ltr"
             display-format="HH:mm:ss"
             input-format="hms">
        </div>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <input id="date4_d_rtl" type="text" />
        <div wn-type="Time"
             class="time" style="width:17rem"
             cultureinfo="WNCultureInfo_fa_IR"
             display-id="date4_d_rtl"
             display-format="HH:mm:ss"
             input-format="hms">
        </div>
    </div>
</div>
<figure><code data-on="form4"></code></figure>

<h2>زمان بازشو</h2>
<p>اگر میخواهید زمان به صورت بازشو عمل کند، بایستی طبق موارد گفته شده در قسمت <a href="Dropdowns">dropdown</a> عمل کنید.</p>
<div class="example-div">
    <div class="ltr" id="form5">
        <h3>LTR</h3>
        <ig class="group">
            <label for="inputdate1_ltr">Time</label>
            <input id="inputdate1_ltr" type="text" />
            <input id="inputdate1_h_ltr" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i">
                <div wn-type="Time"
                     class="time"
                     cultureinfo="WNCultureInfo_en_US"
                     display-id="inputdate1_ltr"
                     value-id="inputdate1_h_ltr">
                </div>
            </div>
        </ig>
        <ig class="group">
            <label for="inputdate2_ltr">First</label>
            <input id="inputdate2_ltr" type="text" />
            <input id="inputdate2_h_ltr" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i">
                <div wn-type="Time"
                     class="time"
                     cultureinfo="WNCultureInfo_en_US"
                     display-id="inputdate2_ltr"
                     value-id="inputdate2_h_ltr">
                </div>
            </div>

            <label for="inputdate3_ltr">Second</label>
            <input id="inputdate3_ltr" type="text" />
            <input id="inputdate3_h_ltr" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i">
                <div wn-type="Time"
                     class="time"
                     cultureinfo="WNCultureInfo_en_US"
                     display-id="inputdate3_ltr"
                     value-id="inputdate3_h_ltr">
                </div>
            </div>
        </ig>
        <ig class="group">
            <label for="inputdate4_ltr">Date And Time</label>
            <input id="inputdate4_ltr" type="text" />
            <input id="inputdate4_h_ltr" type="hidden" />
            <input id="inputdate4_h_ltr" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i" style="width:30rem">
                <div class="row">
                    <div class="col">
                        <div wn-type="Time"
                             class="time"
                             calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US"
                             display-id="inputdate4_ltr"
                             value-id="inputdate4_h_ltr"
                             display-format="MM-dd-yyyy hh:mm tt">
                        </div>
                    </div>
                    <div class="col">
                        <div wn-type="MonthCalendar"
                             class="calendar"
                             calendar="WNGregorianCalendar" cultureinfo="WNCultureInfo_en_US"
                             display-id="inputdate4_ltr"
                             value-id="inputdate4_h_ltr"
                             display-format="MM-dd-yyyy hh:mm tt">
                        </div>
                    </div>
                </div>
            </div>
        </ig>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ig class="group">
            <label for="inputdate1_rtl">زمان</label>
            <input id="inputdate1_rtl" type="text" />
            <input id="inputdate1_h_rtl" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i">
                <div wn-type="Time"
                     class="time"
                     cultureinfo="WNCultureInfo_fa_IR"
                     display-id="inputdate1_rtl"
                     value-id="inputdate1_h_rtl">
                </div>
            </div>
        </ig>
        <ig class="group">
            <label for="inputdate2_rtl">اولی</label>
            <input id="inputdate2_rtl" type="text" />
            <input id="inputdate2_h_rtl" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i">
                <div wn-type="Time"
                     class="time"
                     cultureinfo="WNCultureInfo_fa_IR"
                     display-id="inputdate2_rtl"
                     value-id="inputdate2_h_rtl">
                </div>
            </div>

            <label for="inputdate3_rtl">دومی</label>
            <input id="inputdate3_rtl" type="text" />
            <input id="inputdate3_h_rtl" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i">
                <div wn-type="Time"
                     class="time"
                     cultureinfo="WNCultureInfo_fa_IR"
                     display-id="inputdate3_rtl"
                     value-id="inputdate3_h_rtl">
                </div>
            </div>
        </ig>
        <ig class="group">
            <label for="inputdate4_rtl">تاریخ و زمان</label>
            <input id="inputdate4_rtl" type="text" />
            <input id="inputdate4_h_rtl" type="hidden" />
            <input id="inputdate4_h_rtl" type="hidden" />
            <button class="dropdown-toggle" wn-type="dropdown"></button>
            <div class="dropdown align-end p-0-i" style="width:30rem">
                <div class="row">
                    <div class="col">
                        <div wn-type="Time"
                             class="time"
                             calendar="WNPersianCalendar" cultureinfo="WNCultureInfo_fa_IR"
                             display-id="inputdate4_rtl"
                             value-id="inputdate4_h_rtl"
                             display-format="yyyy/MM/dd hh:mm tt">
                        </div>
                    </div>
                    <div class="col">
                        <div wn-type="MonthCalendar"
                             class="calendar"
                             calendar="WNPersianCalendar" cultureinfo="WNCultureInfo_fa_IR"
                             display-id="inputdate4_rtl"
                             value-id="inputdate4_h_rtl"
                             display-format="yyyy/MM/dd hh:mm tt">
                        </div>
                    </div>
                </div>
            </div>
        </ig>
    </div>
</div>
<figure><code data-on="form5"></code></figure>
<h2>فقط خواندنی و غیر فعال</h2>

<div class="example-div">
    <div class="ltr" id="form6">
        <h3>LTR</h3>
        <ig readonly>
            <div wn-type="Time" class="time bordered" style="width:17rem"
                 cultureinfo="WNCultureInfo_en_US">
            </div>
            <br />
            <ig class="group">
                <label for="inputdate61_ltr">Time</label>
                <input id="inputdate61_ltr" type="text" />
                <button class="dropdown-toggle" wn-type="dropdown"></button>
            </ig>
        </ig>
        <br />
        <ig disabled>
            <div wn-type="Time" class="time bordered" style="width:17rem"
                 cultureinfo="WNCultureInfo_en_US">
            </div>
            <br />
            <ig class="group">
                <label for="inputdate62_ltr">Time</label>
                <input id="inputdate62_ltr" type="text" />
                <button class="dropdown-toggle" wn-type="dropdown"></button>
            </ig>
        </ig>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ig readonly>
            <div wn-type="Time" class="time bordered" style="width:17rem"
                 cultureinfo="WNCultureInfo_fa_IR">
            </div>
            <br />
            <ig class="group">
                <label for="inputdate61_rtl">زمان</label>
                <input id="inputdate61_rtl" type="text" />
                <button class="dropdown-toggle" wn-type="dropdown"></button>
            </ig>
        </ig>
        <br>
        <ig disabled>
            <div wn-type="Time" class="time bordered" style="width:17rem"
                 cultureinfo="WNCultureInfo_en_US">
            </div>
            <br />
            <ig class="group">
                <label for="inputdate62_rtl">زمان</label>
                <input id="inputdate62_rtl" type="text" />
                <button class="dropdown-toggle" wn-type="dropdown"></button>
            </ig>
        </ig>
    </div>
</div>
<figure><code data-on="form6"></code></figure>