@page
@model WidgetNas.Pages.Components.TreeModel
@{
    ViewData["Title"] = "درختواره Tree";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>زمانیکه میخواهید یک لیست به صورت درختی داشته باشید، این موضوع به شما کمک خواهد کرد تا بهترین نوع استفاده را داشته باشید.</p>
<p>این درختواره یکی از قدرتمندترین و قابل انعطاف ترین درختواره های  طراحی شده موجود است.</p>
<p>با استفاده از کلاسها و جاوا اسکریپ میتوانید این درخت ها را مدیریت کنید.</p>

<h2>نمایش ساده</h2>
<p>
    برای نمایش ساده درختواره بایستی از لیست های ul استفاده کنید، سپس کلاس <bidi>tree</bidi> را نسبت داده و برای هر گزینه یک <bidi>li</bidi> قرار دهید.<br />
    حال شما دو نوع گزینه دارید، یکی به صورت لینک که از کلاس <bidi>tree-link</bidi> و یکی گزینه عادی که از کلاس <bidi>tree-item</bidi> استفاده میکند.<br />
    اگر میخواهید با کلیک کردن بر روی آن به آدرس خاصی برود، از تگ <bidi>a</bidi> و کلاس <bidi>tree-link</bidi> استفاده کنید، سپس در خصوصیت href مقدار مورد نظر را وارد کنید.<br />
    اگر میخواهید، با کلیک کردن بر روی موضوع مورد نظر آن انتخاب شود، یک تگ مثلا <bidi>div</bidi> از کلاس <bidi>tree-item</bidi> ایجاد کرده و درون آن متن مورد نظر خود را بنویسید.<br />
    برای درج یک آیکون برای موضوع مورد نظر، در div یا a ساخته شده یک تصویر به اندازه مناسب قرار دهید.
</p>
<p>برای ساخت درختواره از لیستهای تو در تو استفاده کنید، یعنی از یک ul دیگر داخل li مورد نظر.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree" wn-type="tree" id="form1">
            <li>
                <div class="tree-item active">Level 1 Item 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />Level 2 Item 1</div></li>
                    <li><a href="#" class="tree-link">Level 2 Link 1</a></li>
                    <li>
                        <div class="tree-item">Level 2 Item 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">Level 3 Item 1</a></li>
                            <li>
                                <div class="tree-item">Level 3 Item 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">Level 4 Link 1</a></li>
                                    <li><a class="tree-link" href="#">Level 4 Link 2</a></li>
                                    <li>
                                        <div class="tree-item">Level 4 Item 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">Level 5 Link 1</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 2</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 3</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">Level 4 Link 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">Level 3 Item 3</a></li>
                            <li><a class="tree-link" href="#">Level 3 Item 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree" wn-type="tree">
            <li>
                <div class="tree-item active">سطح 1 گزینه 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />سطح 2 گزینه 1</div></li>
                    <li><a href="#" class="tree-link">سطح 2 لینک 1</a></li>
                    <li>
                        <div class="tree-item">سطح 2 گزینه 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">سطح 3 گزینه 1</a></li>
                            <li>
                                <div class="tree-item">سطح 3 گزینه 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 1</a></li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 2</a></li>
                                    <li>
                                        <div class="tree-item">سطح 4 گزینه 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 1</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 2</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 3</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 3</a></li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure><code data-on="form1"></code></figure>
<h2>انتخاب شده</h2>
<p>اگر میخواهید یک ردیف از پیش انتخاب شود، از کلاس <bidi>active</bidi> بعد از کلاس <bidi>tree-item</bidi> استفاده کنید.</p>
<figure>
    <pre><code class="html">
   &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        &lt;<span class="ht">li</span>&gt;
            &lt;<span class="ht">div</span> <span class="ha">class=</span><span class="hv">"tree-item active"</span>&gt;item&lt;/<span class="ht">div</span>&gt;
        &lt;/<span class="ht">li</span>&gt;
    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>
<h2>غیر فعال</h2>
<p>اگر میخواهید یک ردیف غیر فعال نمایش داده شود، از کلاس یا خصوصیت <bidi>disabled</bidi> استفاده کنید.</p>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        &lt;<span class="ht">li</span>&gt;
            &lt;<span class="ht">div</span> <span class="ha">class=</span><span class="hv">"tree-item disabled"</span>&gt;item&lt;/<span class="ht">div</span>&gt;
        &lt;/<span class="ht">li</span>&gt;
        &lt;<span class="ht">li</span>&gt;
            &lt;<span class="ht">a</span> <span class="ha">class=</span><span class="hv">"tree-link"</span> <span class="ha">href=</span><span class="hv">"#"</span> <span class="ha">disabled</span>&gt;link&lt;/<span class="ht">a</span>&gt;
        &lt;/<span class="ht">li</span>&gt;
    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>
<h2>خصوصیت متن و مقدار</h2>
<p>برای آنکه در فیلتر گذاری بتوانید به راحتی این عمل را انجام دهید، بهتر است دو خصوصیت <bidi>wn-tree-caption</bidi> برای متن و <bidi>wn-tree-value</bidi> را برای مقدار، تعیین کنید.
    هر چند اگر این مقادیر را خود وارد نکنید، سیستم به طور خودکار، بر اساس نوع محتوی، آنها را خواهد ساخت.</p>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        &lt;<span class="ht">li</span>&gt;
            &lt;<span class="ht">div</span> <span class="ha">class=</span><span class="hv">"tree-item"</span> <span class="ha">wn-tree-caption=</span><span class="hv">"item"</span> <span class="ha">wn-tree-value=</span><span class="hv">"a1"</span>&gt;item&lt;/<span class="ht">div</span>&gt;
        &lt;/<span class="ht">li</span>&gt;
    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>
<h2>عدم نمایش hover</h2>
<p>اگر میخواهید با حرکت نمایشگر مویس بر روی هر ردیف، آن برجسته نشود، از کلاس <bidi>tree-nohover</bidi> استفاده کنید. این کلاس را بعد از کلاس tree قرار دهید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-nohover" wn-type="tree">
            <li><div class="tree-item">Level 1 Item 1</div></li>
            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-nohover" wn-type="tree">
            <li><div class="tree-item">سطح 1 گزینه 1</div></li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree tree-nohover"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        ...
    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>

<h2>عدم انتخاب، باز و بسته کردن با کلیک بر روی گزینه</h2>
<p>اگر میخواهید، گزینه ای انتخاب نشود و با زدن بر روی نام گزینه زیر مجموعه آن نمایش داده شود یا نمایش داده نشود، از کلاس <bidi>tree-expand-item</bidi> استفاده کنید.</p>
<p>این خصوصیت برای پیاده سازی منو ها و لیستهایی که فقط جهت نمایش یکسری لینک است بسیار کار آمد است.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-expand-item" wn-type="tree">
            <li>
                <div class="tree-item">Level 1 Item 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />Level 2 Item 1</div></li>
                    <li><a href="#" class="tree-link">Level 2 Link 1</a></li>
                    <li>
                        <div class="tree-item">Level 2 Item 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">Level 3 Item 1</a></li>
                            <li>
                                <div class="tree-item">Level 3 Item 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">Level 4 Link 1</a></li>
                                    <li><a class="tree-link" href="#">Level 4 Link 2</a></li>
                                    <li>
                                        <div class="tree-item">Level 4 Item 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">Level 5 Link 1</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 2</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 3</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">Level 4 Link 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">Level 3 Item 3</a></li>
                            <li><a class="tree-link" href="#">Level 3 Item 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-expand-item" wn-type="tree">
            <li>
                <div class="tree-item">سطح 1 گزینه 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />سطح 2 گزینه 1</div></li>
                    <li><a href="#" class="tree-link">سطح 2 لینک 1</a></li>
                    <li>
                        <div class="tree-item">سطح 2 گزینه 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">سطح 3 گزینه 1</a></li>
                            <li>
                                <div class="tree-item">سطح 3 گزینه 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 1</a></li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 2</a></li>
                                    <li>
                                        <div class="tree-item">سطح 4 گزینه 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 1</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 2</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 3</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 3</a></li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree tree-expand-item"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        ...
    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>
<h2>نمایش فلش برای باز و بسته کردن</h2>
<p>به صورت پیش فرض برای باز و بسته کردن یک زیر مجموعه از شکل + و - استفاده میشود، اگر میخواهید آن شکل به حالت فلش در آید از کلاس <bidi>tree-arrow</bidi> استفاده کنید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree">
            <li>
                <div class="tree-item">Level 1 Item 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />Level 2 Item 1</div></li>
                    <li><a href="#" class="tree-link">Level 2 Link 1</a></li>
                    <li>
                        <div class="tree-item">Level 2 Item 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">Level 3 Item 1</a></li>
                            <li>
                                <div class="tree-item">Level 3 Item 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">Level 4 Link 1</a></li>
                                    <li><a class="tree-link" href="#">Level 4 Link 2</a></li>
                                    <li>
                                        <div class="tree-item">Level 4 Item 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">Level 5 Link 1</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 2</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 3</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">Level 4 Link 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">Level 3 Item 3</a></li>
                            <li><a class="tree-link" href="#">Level 3 Item 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree">
            <li>
                <div class="tree-item">سطح 1 گزینه 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />سطح 2 گزینه 1</div></li>
                    <li><a href="#" class="tree-link">سطح 2 لینک 1</a></li>
                    <li>
                        <div class="tree-item">سطح 2 گزینه 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">سطح 3 گزینه 1</a></li>
                            <li>
                                <div class="tree-item">سطح 3 گزینه 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 1</a></li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 2</a></li>
                                    <li>
                                        <div class="tree-item">سطح 4 گزینه 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 1</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 2</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 3</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 3</a></li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree tree-arrow"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        ...
    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>
<h2>بسته بودن گزینه به صورت پیش فرض</h2>
<p>کنترل باز و یا بسته بودن یک گزینه توسط محظه li آن است، برای بسته بودن یک گزینه به صورت پیش فرض کافیست کلاس <bidi>collapsed</bidi> را به <bidi>li</bidi> آن نسبت دهید.</p>
<div class="alert warning callout-start">
    دقت کنید، موارد قبل، نسبت دادن کلاس ها به گزینه های داخل li بود، ولی برای کنترل باز و بسته بودن باید به خود li نسبت دهید.
</div>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree">
            <li class="collapsed">
                <div class="tree-item">Level 1 Item 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />Level 2 Item 1</div></li>
                    <li><a href="#" class="tree-link">Level 2 Link 1</a></li>
                    <li>
                        <div class="tree-item">Level 2 Item 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">Level 3 Item 1</a></li>
                            <li>
                                <div class="tree-item">Level 3 Item 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">Level 4 Link 1</a></li>
                                    <li><a class="tree-link" href="#">Level 4 Link 2</a></li>
                                    <li>
                                        <div class="tree-item">Level 4 Item 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">Level 5 Link 1</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 2</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 3</a></li>
                                            <li><a class="tree-link" href="#">Level 5 Link 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">Level 4 Link 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">Level 3 Item 3</a></li>
                            <li><a class="tree-link" href="#">Level 3 Item 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree">
            <li class="collapsed">
                <div class="tree-item">سطح 1 گزینه 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />سطح 2 گزینه 1</div></li>
                    <li><a href="#" class="tree-link">سطح 2 لینک 1</a></li>
                    <li>
                        <div class="tree-item">سطح 2 گزینه 2</div>
                        <ul>
                            <li><a class="tree-item" href="#">سطح 3 گزینه 1</a></li>
                            <li>
                                <div class="tree-item">سطح 3 گزینه 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 1</a></li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 2</a></li>
                                    <li>
                                        <div class="tree-item">سطح 4 گزینه 1</div>
                                        <ul>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 1</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 2</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 3</a></li>
                                            <li><a class="tree-link" href="#">سطح 5 لینک 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="tree-link" href="#">سطح 4 لینک 3</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 3</a></li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        ...
        &lt;<span class="ht">li</span> <span class="ha">class=</span><span class="hv">"collapsed"</span>&gt;
            &lt;<span class="ht">div</span> <span class="ha">class=</span><span class="hv">"tree-item"</span>&gt;item&lt;/<span class="ht">div</span>&gt;
        &lt;/<span class="ht">li</span>&gt;

    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>
<h2>بسته بودن همه گزینه ها به صورت پیش فرض</h2>
<p>اگر میخواهید همه گزینه ها به صورت پیش فرض در ابتدا بسته باشند کلاس <bidi>collapsed-all</bidi> را بعد از <bidi>tree</bidi> بیاورید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-expand-item tree-arrow collapsed-all" wn-type="tree">
            <li>
                <div class="tree-item">Level 1 Item 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />Level 2 Item 1</div></li>
                    <li><a href="#" class="tree-link">Level 2 Link 1</a></li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                </ul>
            </li>
            <li>
                <div class="tree-item">Level 1 Item 2</div>
                <ul>
                    <li><a class="tree-item" href="#">Level 2 Item 1</a></li>
                    <li><a class="tree-link" href="#">Level 2 Item 2</a></li>
                    <li><a class="tree-link" href="#">Level 2 Item 3</a></li>
                </ul>
            </li>
            <li>
                <div class="tree-item">Level 1 Item 3</div>
                <ul>
                    <li><a class="tree-link" href="#">Level 2 Link 1</a></li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                    <li>
                        <div class="tree-item">Level 2 Item 1</div>
                        <ul>
                            <li><a class="tree-link" href="#">Level 3 Link 1</a></li>
                            <li><a class="tree-link" href="#">Level 3 Link 2</a></li>
                            <li><a class="tree-link" href="#">Level 3 Link 3</a></li>
                            <li><a class="tree-link" href="#">Level 3 Link 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">Level 2 Link 3</a></li>
                </ul>
            </li>

            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-expand-item tree-arrow collapsed-all" wn-type="tree">
            <li class="collapsed">
                <div class="tree-item">سطح 1 گزینه 1</div>
                <ul>
                    <li><div class="tree-item"><img src="~/images/tools16.png" />سطح 2 گزینه 1</div></li>
                    <li><a href="#" class="tree-link">سطح 2 لینک 1</a></li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                </ul>
            </li>
            <li>
                <div class="tree-item">سطح 1 گزینه 2</div>
                <ul>
                    <li><a class="tree-item" href="#">سطح 2 گزینه 1</a></li>
                    <li><a class="tree-link" href="#">سطح 2 گزینه 2</a></li>
                    <li><a class="tree-link" href="#">سطح 2 گزینه 3</a></li>
                </ul>
            </li>
            <li>
                <div class="tree-item">سطح 1 گزینه 3</div>
                <ul>
                    <li><a class="tree-link" href="#">سطح 2 لینک 1</a></li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                    <li>
                        <div class="tree-item">سطح 2 گزینه 1</div>
                        <ul>
                            <li><a class="tree-link" href="#">سطح 3 لینک 1</a></li>
                            <li><a class="tree-link" href="#">سطح 3 لینک 2</a></li>
                            <li><a class="tree-link" href="#">سطح 3 لینک 3</a></li>
                            <li><a class="tree-link" href="#">سطح 3 لینک 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 3</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">ul</span> <span class="ha">class=</span><span class="hv">"tree collapsed-all"</span> <span class="ha">wn-type=</span><span class="hv">"tree"</span>&gt;
        ...
    &lt;/<span class="ht">ul</span>&gt;
    </code></pre>
</figure>
<h2>زیر مجموعه افقی</h2>
<p>ممکن است تمایل داشته باشید، یک زیر مجموعه به صورت افقی نمایش داده شود. بدین منظور کلاس <bidi>tree-list-horizontal</bidi> را به ul مدنظر اضافه کنید.</p>
<p>اگر میخواهید اجزای یک زیر مجموعه تمامی فضا را پر کند، ابتدا بایست به li والد کلاس <bidi>w-100</bidi> و سپس همین کلاس را به ul مد نظر اضافه کنید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree" id="form2">
            <li>
                <div class="tree-item">Level 1 Item 1</div>
                <ul class="tree-list-horizontal primary">
                    <li><div class="tree-item"><img src="~/images/tools16.png" />Level 2 Item 1</div></li>
                    <li><a href="#" class="tree-link">Level 2 Link 1</a></li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                </ul>
            </li>
            <li class="w-100">
                <div class="tree-item">Level 1 Item 2</div>
                <ul class="tree-list-horizontal secondary w-100">
                    <li><a class="tree-item" href="#">Level 2 Item 1</a></li>
                    <li><a class="tree-link" href="#">Level 2 Item 2</a></li>
                    <li><a class="tree-link" href="#">Level 2 Item 3</a></li>
                </ul>
            </li>
            <li>
                <div class="tree-item">Level 1 Item 3</div>
                <ul class="tree-list-horizontal third">
                    <li><a class="tree-link" href="#">Level 2 Link 1</a></li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                    <li>
                        <div class="tree-item">Level 2 Item 1</div>
                        <ul class="tree-list-horizontal info s-m">
                            <li><a class="tree-link" href="#">Level 3 Link 1</a></li>
                            <li><a class="tree-link" href="#">Level 3 Link 2</a></li>
                            <li><a class="tree-link" href="#">Level 3 Link 3</a></li>
                            <li><a class="tree-link" href="#">Level 3 Link 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">Level 2 Link 3</a></li>
                </ul>
            </li>

            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree">
            <li>
                <div class="tree-item">سطح 1 گزینه 1</div>
                <ul class="tree-list-horizontal primary">
                    <li><div class="tree-item"><img src="~/images/tools16.png" />سطح 2 گزینه 1</div></li>
                    <li><a href="#" class="tree-link">سطح 2 لینک 1</a></li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                </ul>
            </li>
            <li class="w-100">
                <div class="tree-item">سطح 1 گزینه 2</div>
                <ul class="tree-list-horizontal secondary w-100">
                    <li><a class="tree-item" href="#">سطح 2 گزینه 1</a></li>
                    <li><a class="tree-link" href="#">سطح 2 گزینه 2</a></li>
                    <li><a class="tree-link" href="#">سطح 2 گزینه 3</a></li>
                </ul>
            </li>
            <li>
                <div class="tree-item">سطح 1 گزینه 3</div>
                <ul class="tree-list-horizontal third">
                    <li><a class="tree-link" href="#">سطح 2 لینک 1</a></li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                    <li>
                        <div class="tree-item">سطح 2 گزینه 1</div>
                        <ul class="tree-list-horizontal info s-m">
                            <li><a class="tree-link" href="#">سطح 3 لینک 1</a></li>
                            <li><a class="tree-link" href="#">سطح 3 لینک 2</a></li>
                            <li><a class="tree-link" href="#">سطح 3 لینک 3</a></li>
                            <li><a class="tree-link" href="#">سطح 3 لینک 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 3</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure><code data-on="form2"></code></figure>

<h2>گزینه ها با محتوی خاص</h2>
<p>شما میتوانید هر چیزی درون گزینه خود داشته باشید، برای مثال اگر میخواهید از نشان درون آن استفاده کنید، به مثال زیر توجه کنید.</p>
<p>برای آنکه تمامی گزینه ها حداکثر فضای ممکنه را بگیرند کلاس <bidi>tree-fill</bidi> را بعد از کلاس tree اضافه کنید، از این پس همه گزینه ها حداکثر فضای ممکنه را اشغال میکنند.</p>
<p>برای آنکه بین گزینه های درونی هر گزینه فاصله ایجاد شود، بایستی از کلاس <bidi>justify-content-between</bidi> استفاده کرد، پس از آن هر موضوع داخل tree-item یا tree-link درون فضای حداکثری گسترده میشود.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-fill" wn-type="tree" id="form3">
            <li>
                <div class="tree-item justify-content-between">Level 1 Item 1<span class="badge primary s-l badge-capsule">12</span></div>
                <ul>
                    <li><div class="tree-item justify-content-between"><div><img src="~/images/tools16.png" />Level 2 Item 1</div><span class="badge primary s-l badge-capsule">12</span></div></li>
                    <li><a href="#" class="tree-link justify-content-between">Level 2 Link 1<span class="badge primary s-l badge-capsule">12</span></a></li>
                    <li>
                        <div class="tree-item justify-content-between">Level 2 Item 2<span class="badge primary s-l badge-capsule">12</span></div>
                        <ul>
                            <li><a class="tree-item justify-content-between" href="#">Level 3 Item 1<span class="badge primary s-l badge-capsule">12</span></a></li>
                            <li>
                                <div class="tree-item">Level 3 Item 2</div>
                                <ul>
                                    <li><a class="tree-link" href="#">Level 4 Link 1</a></li>
                                    <li><a class="tree-link" href="#">Level 4 Link 2</a></li>
                                </ul>
                            </li>
                            <li><a class="tree-link" href="#">Level 3 Item 3</a></li>
                            <li><a class="tree-link" href="#">Level 3 Item 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">Level 2 Link 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">Level 1 Link 1</a></li>
            <li><a class="tree-link" href="#" disabled>Level 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">Level 1 Disabled 2</a></li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-fill" wn-type="tree">
            <li>
                <div class="tree-item justify-content-between">سطح 1 گزینه 1<span class="badge primary s-l badge-capsule">12</span></div>
                <ul>
                    <li><div class="tree-item justify-content-between"><div><img src="~/images/tools16.png" />سطح 2 گزینه 1</div><span class="badge primary s-l badge-capsule">12</span></div></li>
                    <li><a href="#" class="tree-link justify-content-between">سطح 2 لینک 1<span class="badge primary s-l badge-capsule">12</span></a></li>
                    <li>
                        <div class="tree-item justify-content-between">سطح 2 گزینه 2<span class="badge primary s-l badge-capsule">12</span></div>
                        <ul>
                            <li><a class="tree-item justify-content-between" href="#">سطح 3 گزینه 1<span class="badge primary s-l badge-capsule">12</span></a></li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 3</a></li>
                            <li><a class="tree-link" href="#">سطح 3 گزینه 4</a></li>
                        </ul>
                    </li>
                    <li><a class="tree-link" href="#">سطح 2 لینک 2</a></li>
                </ul>
            </li>
            <li><a class="tree-link" href="#">سطح 1 لینک 1</a></li>
            <li><a class="tree-link" href="#" disabled>سطح 1 Disabled 1</a></li>
            <li><a class="tree-link disabled" href="#">سطح 1 Disabled 2</a></li>
        </ul>
    </div>
</div>
<figure><code data-on="form3"></code></figure>

<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-fill" wn-type="tree" id="form4">
            <li>
                <div class="tree-item justify-content-between">
                    <div class="m-is-100r m-ie-auto">
                        <div class="fw-bold">Subject</div>
                        Short description.
                    </div>
                    <span class="badge primary s-l badge-capsule">12</span>
                </div>
                <ul>
                    <li>
                        <div class="tree-item justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="~/images/tools16.png" />
                                <div class="m-is-100r m-ie-auto">

                                    <div class="fw-bold">Subject</div>
                                    Short description.
                                </div>
                            </div>
                            <span class="badge primary s-l badge-capsule">12</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-fill" wn-type="tree">
            <li>
                <div class="tree-item justify-content-between">
                    <div class="m-is-100r m-ie-auto">
                        <div class="fw-bold">عنوان</div>
                        توضیحی کوتاه
                    </div>
                    <span class="badge primary s-l badge-capsule">12</span>
                </div>
                <ul>
                    <li>
                        <div class="tree-item justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="~/images/tools16.png" />
                                <div class="m-is-100r m-ie-auto">

                                    <div class="fw-bold">عنوان</div>
                                    توضیحی کوتاه
                                </div>
                            </div>
                            <span class="badge primary s-l badge-capsule">12</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<figure><code data-on="form4"></code></figure>

<h2>درختواره با انواع ورودی</h2>
<p>اگر تمایل دارید، در درختواره خود چک باکس یا رادیو یا حتی ورودی داشته باشید، به مثالهای زیر توجه کنید.</p>
<div class="example-div">
    <div class="ltr">
        <h3>LTR</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree" id="form5">
            <li>
                <div class="tree-item">Checkbox</div>
                <ul>
                    <li>
                        <label class="tree-item">
                            <input type="checkbox">
                            Checkbox 1
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="checkbox">
                            Checkbox 2
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="checkbox">
                            Checkbox 3
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input class="switch" type="checkbox">
                            Switch 1
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input class="switch" type="checkbox">
                            Switch 2
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <div class="tree-item">Radio</div>
                <ul>
                    <li>
                        <label class="tree-item">
                            <input type="radio" name="tree-radio_ltr">
                            Radio 1
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="radio" name="tree-radio_ltr">
                            Radio 2
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="radio" name="tree-radio_ltr">
                            Radio 3
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <div class="tree-item">Input</div>
                <ul>
                    <li>
                        <ig class="tree-item">
                            <label for="input1_ltr">Text</label>
                            <input id="input1_ltr" class="p-b-10r-i">
                        </ig>
                    </li>
                    <li>
                        <ig class="tree-item">
                            <label for="select1_ltr">Dropdown</label>
                            <select id="select1_ltr" class="p-b-10r-i">
                                <option>Item 1</option>
                                <option>Item 2</option>
                                <option>Item 3</option>
                            </select>
                        </ig>
                    </li>
                </ul>
            </li>
            <li>
                <div class="tree-item">Buttons</div>
                <ul>
                    <li>
                        <ig class="tree-item button-group">
                            <button class="primary">First</button>
                            <button class="secondary">Second</button>
                            <button class="third">Third</button>
                        </ig>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="rtl">
        <h3>RTL</h3>
        <ul class="tree tree-expand-item tree-arrow" wn-type="tree">
            <li>
                <div class="tree-item">چک باکس</div>
                <ul>
                    <li>
                        <label class="tree-item">
                            <input type="checkbox">
                            چک 1
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="checkbox">
                            چک 2
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="checkbox">
                            چک 3
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input class="switch" type="checkbox">
                            سوئیچ 1
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input class="switch" type="checkbox">
                            سوئیچ 2
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <div class="tree-item">رادیو</div>
                <ul>
                    <li>
                        <label class="tree-item">
                            <input type="radio" name="tree-radio_rtl">
                            رادیو 1
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="radio" name="tree-radio_rtl">
                            رادیو 2
                        </label>
                    </li>
                    <li>
                        <label class="tree-item">
                            <input type="radio" name="tree-radio_rtl">
                            رادیو 3
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <div class="tree-item">ورودی</div>
                <ul>
                    <li>
                        <ig class="tree-item">
                            <label for="input1_rtl">متن</label>
                            <input id="input1_rtl" class="p-b-10r-i">
                        </ig>
                    </li>
                    <li>
                        <ig class="tree-item">
                            <label for="select1_rtl">بازشو</label>
                            <select id="select1_rtl" class="p-b-10r-i">
                                <option>گزینه 1</option>
                                <option>گزینه 2</option>
                                <option>گزینه 3</option>
                            </select>
                        </ig>
                    </li>
                </ul>
            </li>
            <li>
                <div class="tree-item">دکمه</div>
                <ul>
                    <li>
                        <ig class="tree-item button-group">
                            <button class="primary">اولی</button>
                            <button class="secondary">دومی</button>
                            <button class="third">سومی</button>
                        </ig>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<figure><code data-on="form5"></code></figure>
<h2>رنگها و اندازه ها</h2>
<p>شما قادر هستید مانند دیگر موضوعات از کلاسهای رنگی و یا کلاسهای اندازه استفاده کنید.</p>
<p>به دلیل ازیاد حجم صفحه، از آوردن مثال خود داری شده است.</p>
<h2>جاوا اسکریپت</h2>
<a href="/Components/TreeScript" class="button secondary s-xl">نمایش مستندات در صفحه مربوطه</a>

<h2>بارگذاری اطلاعات</h2>
<p>همیشه درختواره مقدارش از پیش تعیین شده نیست، در بسیاری از مواقع این اطلاعات توسط سرویس از سرور گرفته شده و بایستی آن مقدار دهی شود.<br />
    بدین منظور از تابع <bidi>setdata</bidi> استفاده باید کنید.
    </p>
<div class="example-div">
    <div class="ltr" id="form6">
        <ul id="tree1" class="tree tree-expand-item tree-arrow" wn-type="tree" >
        </ul>
        <script>
            WNE(document).Ready(async() => { 
                await Post(null, '/Components/Tree').then((r) => {
                    WN['tree1'].setdata(r, 'index', 'parent', 'type', 'text', 'value', 'image',false);
                }).catch((e) => {
                    console.log(e);
                });
            });
        </script>
    </div>
</div>
<figure><code data-on="form6"></code></figure>
<p>در مثال بالا مقادیر به صورت آرایه ای از موضوعات از سرور درخواست شده است. پس از آن
    مشخص میکند، نام خصوصیت ایندکس، والد، نوع گزینه در درختواره، متن، مقدار و تصویر در چه خصوصیاتی ذخیره شده اند.
    پس از آن بر اساس این اطلاعات، هر ردیف بر اساس والد یا فرزند را برای درخت ایجاد میکند.
</p>