@import "../_variables.scss";

.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background: var(--dark-back);
    opacity: 0.95;
    z-index: 99999;

    &.hide {
        display: none;
        opacity: 0;
    }

    .loader {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 10rem;
            width: 10rem;
            margin-left: -5rem;
            margin-top: -5rem;
            z-index: $zindex-alltop;
            pointer-events: none;
            direction:ltr;
        }
    }
}

    