@page
@model WidgetNas.Pages.Start.DevicesModel
@{
    ViewData["Title"] = "ابزارک های نستوه Widgetnas";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>در ویجت نس از امکانات جدید در css استفاده شده که به واسطه آنها پیاده سازی به صورت rtl و ltr بهتر مدیریت شده است.</p>
<p>برای مثال دیگر در ویجت نس نباید از خصوصیات left یا right استفاده کرد و به جای آنها از block-start, block-end, inline-start, inline-end استفاده شده است.</p>
<p>به همین دلیل مهم برخی از مرورگرها از این قابلیت استفاده نمیکنند و ممکن است بر روی مرورگرهای قدیمی نمایش به درستی نباشد. لذا پیشنهاد میشود کاربر
    همیشه از آخرین نسخه مرورگر استفاده کند. در زیر به برخی مرورگرها و نسخه های آنها اشاره میشود.
    </p>
<h1>نسخ مرورگرها</h1>
<ul class="ltr list list-hover">
    <li>Chrome: 87</li>
    <li>Edge: 87</li>
    <li>Firefox: 41</li>
    <li>Opera: 73</li>
    <li>Safari:12.1</li>
    <li>WebView Android: 87</li>
    <li>Chrome Android: 87</li>
    <li>Firefox for Android: 41</li>
    <li>Opera Android: 62</li>
    <li>Safari on iOS: 12.2</li>
    <li>Samsung Internet: 14</li>
    <li>Internet Explorer: none support</li>
</ul>