@page
@model WidgetNas.Pages.Start.DownloadModel
@{
    ViewData["Title"] = "ابزارک های نستوه Widgetnas";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>برای دریافت فایلهای آماده شده برای استفاده ویجت نس میتوانید از قسمت زیر دریافت کنید.</p>
<h1>فایل آماده</h1>
<p>آخرین فایلهای آماده شده را دریافت کنید</p>
<ig class="group">
    <a class="button primary" href="~/Download/Widgetnas.rar">دریافت</a>
    <label>ویجت نس</label>
</ig>
<ig class="group">
    <a class="button primary" href="~/Download/WidgetnasSample.rar">دریافت</a>
    <label>مثالها</label>
</ig>
<ig class="group">
    <a class="button primary" href="https://github.com/NastouhGit/WidgetNas" target="_blank">نمایش</a>
    <label>سورس برنامه در گیت هاب</label>
</ig>
