@page
@model WidgetNas.Pages.Start.JavaScriptModel
@{
    ViewData["Title"] = "راه اندازی جاوا اسکریپت";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>
    برای راه اندازی و تنظیمات فریم ورک ویجتنس کافیست فایل جاوا اسکریپت آنرا به صفحه خود اضافه کنید.
    با این عمل شما میتوانید از توابع و موضوعات آن به صورت پیش فرض استفاده کنید، ولیکن اگر بخواهید تغییراتی در تنظیمات دهید،
    میتوانید آن تنظیمات را شخصی سازی کنید. در زیر به این تنظیمات اشاره شده است.
</p>
<h2>فراخوانی</h2>
<p>فایل کتابخانه را میتوانید در هر قسمت کد فراخوانی کنید، که بستگی به پیاده سازی کد شما دارد. اما پیشنهاد ما فراخوانی این فایل 
    در هدر بوده تا قبل از هر تابع دیگری مقدارهای اولیه تنظیم و سپس توسط فراخوان های شما تنظیم گردد.
</p>

<h2>تنظیمات پیش فرض در کلاس WNConfig و متغییر همگانی wnConfig</h2>
<p>
    برای تنظیم جدید متغییر wnConfig کافیست، یک کلاس از نوع IWNConfig را به آن نسبت دهید. که به صورت پیش فرض ما در این  فریم ورک
    کلاس WNConfig را ساخته ایم. خصوصیات مندرج در این کلاس به شرح زیر است.
</p>
<table class="striped bordered primary-border">
    <thead>
        <tr>
            <th>نام خصوصیت</th>
            <th>نوع</th>
            <th>مقدار پیش فرض</th>
            <th>شرح</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>nativeDigit</th>
            <td>boolean</td>
            <td>false</td>
            <td>
                در برخی از توابع یا موضوعات، برای تبدیل اعداد به زبان محلی، به این خصوصیت مراجعه کرده و در صورتیکه مقدار
                پیش فرض آن true باشد، عمل تبدیل انجام میشود.
            </td>
        </tr>
        <tr>
            <th>calendar</th>
            <td>IWNCalendar</td>
            <td>براساس تنظیمات صفحه یا مرورگر</td>
            <td>برای محاسبه تاریخ و نمایش آن، مقدار پیش فرض بر اساس مروگر یا تنظیمات صفحه در صورتیکه فارسی باشند، تقویم جلالی
                و اگر نباشد، تقویم میلادی انتخاب میشود. شما میتوانید آنرا به صورت دستی تنظیم کنید. که برای این منظور به قسمت <a href="/Components/DateJS">اسکریپت تاریخ</a> مراجعه کنید.
            </td>
        </tr>
        <tr>
            <th>hijriAdjustment</th>
            <td>number</td>
            <td>0</td>
            <td>اگر از تقویم هجری قمری در برنامه استفاده میکند، به دلیل اختلاف محاسبات در روز قمری، عددی بین -3 تا 3 قرار دهید.</td>
        </tr>
        <tr>
            <th>cultureInfo</th>
            <td>IWNCultureInfo</td>
            <td>براساس تنظیمات صفحه یا مرورگر</td>
            <td>
                برای نمایش رشته ها و اعداد و ... از این خصوصیت استفاده میشود، مقدار پیش فرض بر اساس مروگر یا تنظیمات صفحه در صورتیکه فارسی باشند، fa-IR
                و اگر نباشد، en-US انتخاب میشود. شما میتوانید آنرا به صورت دستی تنظیم کنید. که برای این منظور به قسمت <a href="/Components/DateJS">اسکریپت تاریخ</a> مراجعه کنید.<br />
                پس از تنظیم این خصوصیت، توابع مرتبط با کلاس Intl به صورت خودکار مقدار دهی میشوند.
            </td>
        </tr>
        <tr>
            <th>locale</th>
            <td>Intl.Locale</td>
            <td>بر اساس فرهنگ</td>
            <td>برای مشاهده به <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl" target="_blank" >Intl</a> مراجعه شود.</td>
        </tr>
        <tr>
            <th>dateTimeFormat</th>
            <td>Intl.DateTimeFormat</td>
            <td>بر اساس فرهنگ</td>
            <td>برای مشاهده به <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl" target="_blank">Intl</a> مراجعه شود.</td>
        </tr>
        <tr>
            <th>numberFormat</th>
            <td>Intl.NumberFormat</td>
            <td>بر اساس فرهنگ</td>
            <td>برای مشاهده به <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl" target="_blank">Intl</a> مراجعه شود.</td>
        </tr>
        <tr>
            <th>language</th>
            <td>dictionary</td>
            <td>بر اساس فرهنگ</td>
            <td>برای محلی سازی زبانی، برخی عناوین در این کتابخانه جمع آوری شده که شما نیز میتوانید به آن عبارت مد نظر خود را اضافه کنید
                بر اساس زبان فرهنگ، متون مرتبط با آن را فراخوانی میکند.
            </td>
        </tr>
        <tr>
            <th>authorizationToken</th>
            <td>string</td>
            <td></td>
            <td>اگر میخواهید از دستورات دریافت و ارسال اطلاعات برای api خود استفاده کنید، و نیاز است در هدر آن توکن امنیتی ارسال شود.
                مقدار آن توکن را در این متغییر قرار دهید. این مقدار در هر ارسال به سمت سرور قرار داده میشود.
            </td>
        </tr>
        <tr>
            <th>baseFetchUri</th>
            <td>string</td>
            <td></td>
            <td>اگر میخواهید از دستورات ارسال اطلاعات به سرور استفاده کنید، در صورتیکه سرور api آدرس آن متفاوت است،
                آدرس آن سرور را میتوانید در این خصوصیت مشخص نمایید.
            </td>
        </tr>
    </tbody>
</table>
<figure>
    <pre><code class="html" id="preview">
    <span class="hv">&lt;</span><span class="ht">script</span><span class="hv">&gt;</span>
        wnConfig.calendar = new WNPersianCalendar();
        wnConfig.cultureInfo = new WNCultureInfo_fa_IR();
        wnConfig.baseFetchUri = 'http://YourServerAddress';
        wnConfig.authorizationToken = WNGetCookie('MyCookie');
    <span class="hv">&lt;/</span><span class="ht">script</span><span class="hv">&gt;</span>
    </code></pre>
</figure>

<h2>دیکشنری زبان</h2>
<p>برای تنظیم زبان موضوعات مورد استفاده در این فریم ورک یک کتابخانه از نوع دیکشنری به نام WNLanguage ساخته شده است. شما نیز میتوانید این کتابخانه را به صورت دستی مقدار دهی و یا استفاده کنید.</p>
<p>توجه داشته باشید، برای مقدار دهی بایستی بعد از مقدار دهی اولیه رخ دهد.</p>
<figure>
    <pre><code class="html" id="preview">
    <span class="hv">&lt;</span><span class="ht">script</span><span class="hv">&gt;</span>
        wnConfig.language['MyData'] = { 'Hello': 'سلام' };
        alert(wnConfig.language['MyData']['Hello']);
        alert(wnConfig.language['common']['close']);
    <span class="hv">&lt;/</span><span class="ht">script</span><span class="hv">&gt;</span>    </code></pre>
</figure>
