@page
@model WidgetNas.Pages.Start.SamplesModel
@{
    ViewData["Title"] = "مثالها";
    ViewData["Description"] = "ویجت نس یک فریم ورک فارسی با پشتیبانی کامل از راست به چپ و همچنین چپ به راست است.";
}
<h1>@ViewData["Title"]</h1>
<p>در این صفحه با چندین نمونه رایج از مثالها و ساختارهای نمایشی آشنا میشوید. از این مثالها میتوانید در برنامه خود استفاده کنید.</p>
<p>
    <a class="button primary s-xl" href="~/Download/WidgetnasSample.rar">دریافت مثالها</a>
</p>
<hr />
<h1>الگوهای سایت</h1>
<div class="container">
    <div class="row row-col-4 m-be-100r g-i-100r g-b-100r">
        <div class="col">
            <div class="card">
                <img src="/images/samples/album.png">
                <div class="card-body">
                    <h5 class="card-title">آلبوم</h5>
                    <p class="card-img-text">lیک صفحه برای نمایش تصاویر و موارد مشابه.</p>
                    <hr />
                    نمایش به صورت
                    <a href="~/Samples/sample/album/album_ltr.html" class="button primary" target="_blank">LTR</a>
                    <a href="~/Samples/sample/album/album_rtl.html" class="button primary" target="_blank">RTL</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card col">
                <img src="/images/samples/carousel.png">
                <div class="card-body">
                    <h5 class="card-title">نمایش اسلاید</h5>
                    <p class="card-img-text">صفحه اصلی سایت با قابلیت نمایش اسلاید های متفاوت</p>
                    <hr />
                    نمایش به صورت
                    <a href="~/Samples/sample/carousel/carousel_ltr.html" class="button primary" target="_blank">LTR</a>
                    <a href="~/Samples/sample/carousel/carousel_rtl.html" class="button primary" target="_blank">RTL</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card col">
                <img src="/images/samples/signin.png">
                <div class="card-body">
                    <h5 class="card-title">ورود به سامانه</h5>
                    <p class="card-img-text">صفحه ورود به سامانه و فراموشی رمز و ثبت نام</p>
                    <hr />
                    نمایش به صورت
                    <a href="~/Samples/sample/signin/signin_ltr.html" class="button primary" target="_blank">LTR</a>
                    <a href="~/Samples/sample/signin/signin_rtl.html" class="button primary" target="_blank">RTL</a>
                </div>
            </div>
        </div>
    </div>
</div>