.time {
    min-width: 10rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13rem;

    .time-result {
        font-size: 1.6em;
        padding-block-start: 0 !important;
        padding-block-end: 0 !important;
        line-height: normal;
        text-align: center;
        background-color: transparent !important;
        padding: var(--padding-inline);
        min-height: 1.8em;
    }

    .time-input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        direction: ltr;

        div {
            display: flex;
            flex-direction: column;
            margin-inline: var(--margin-inline);

            & > * {
                margin: 0 !important;
                margin-block: var(--margin-block) !important;
                width: 100%;
            }

            input {
                font-size: 1.3em !important;
                text-align: center;
            }

            button {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 1.4em !important;
            }


                button:first-child {
                    background-color: var(--secondary-back);
                    background-image: var(--secondary-double-up-image);
                }


                button:nth-child(2) {
                    background-color: var(--primary-back);
                    background-image: var(--primary-arrow-up-image);
                    height: 2em !important;
                }

                button:nth-last-child(2) {
                    background-color: var(--primary-back);
                    background-image: var(--primary-arrow-down-image);
                    height: 2em !important;
                }

                button:last-child {
                    background-color: var(--secondary-back);
                    background-image: var(--primary-double-down-image);
                }
        }
    }

    &[readonly] *:not(tr):not(li):not(.list-item),
    &.readonly *:not(tr):not(li):not(.list-item) {
        pointer-events: none;
    }

    &[disabled] *:not(tr):not(li):not(.list-item),
    &.disabled *:not(tr):not(li):not(.list-item) {
        pointer-events: none;
    }

    &[disabled] *:not(ul):not(li),
    &.disabled *:not(ul):not(li) {
        pointer-events: none;
        color: var(--disable-color) !important;

        .button, button {
            background-color: var(--disable-back) !important;
        }
    }
}
