.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    list-style: none;

    li,
    .brdc-item {
        &.active {
            color: var(--disable-color);
        }

        & + li,
        & + .brdc-item {
            padding-inline-start: 0;
        }

        &:not(:last-child):after {
            padding-inline-start: calc(var(--padding-inline) / 2);
            color: var(--disable-color);
            content: var(--breadcrumb-divider, "/");
        }
    }
}

.breadcrumb {
    &.brdc-dash {
        --breadcrumb-divider: "-";
    }

    &.brdc-colon {
        --breadcrumb-divider: ":";
    }
}
