@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
    ViewData["Description"] = "صفحه اصلی";
}

<h1>ویجت نس</h1>
<p>ویجت نس یک فریم ورکی است که شامل ابزراهایی است برای زبان فارسی و همچنین دیگر زبانها.</p>
<p>در این فریم فرک سعی بر آن شده است، بهترین نمایش برای کنترل های فارسی در نظر گرفته شده و همچنین نمایش مناسبی نیز برای زبان های چپ به راست داشته باشد.</p>
<p>به عبارتی این فریم ورک، به درستی از زبان های راست به چپ و چپ به راست پشتیبانی میکند.</p>
<p>
    ساختار به گونه ای طراحی شده، که فقط با اضافه کردن کلاس <bidi>rtl</bidi> به <bidi>body</bidi> سیستم چینش بر اساس راست به چپ تنظیم میشود.
    اگر شما میخواهید سیستم چینش چپ به راست باشد، کافیست کلاس <bidi>ltr</bidi> را اضافه کنید.
</p>
<figure>
    <pre><code class="html">
    &lt;<span class="ht">body</span> <span class="ha">class=</span><span class="hv">"rtl"</span>&gt;
    &lt;/<span class="ht">body</span>&gt;

    &lt;<span class="ht">body</span> <span class="ha">class=</span><span class="hv">"ltr"</span>&gt;
    &lt;/<span class="ht">body</span>&gt;
</code></pre>
</figure>
<p>این خصوصیت برای طراحان، فضایی را ایجاد میکند، تا تمپلیت های آنها هم برای زبانهای راست به چپ کارایی داشته باشد و هم برای زبانهای چپ به راست، یعنی یک تیر و دو نشان.</p>
<hr />
<h2>چرا فریم ورک است؟</h2>
<p>
    برخی از کاربران، اشاره کردند، این پروژه یکسری ابزار است و فریم ورک نیست، برای همین منظور لازم است به اطلاع برسانم،
    فریم ورک، به سیستمی اطلاق میشود، که شما خود بتوانید اجزا را با استفاده از استانداردهای اینترفیسی اضافه کرده و سیستم آنها را شناسایی و در بدنه استفاده کند.
</p>
<p>
    برای مثال شما در این فریم ورک، از تاریخ های شمسی، قمری، میلادی، ژولین پشتیبانی میکند، ولیکن
    تمایل دارید، یک سیستم تاریخی جدید داشته باشید، مثلا تاریخ اسکندری، کافیست کلاس مربوطه را طبق استانداردی که اشاره شده است
    گسترش دهید، و سیستم آن را در کنترل های تقویمی خود، شناسایی میکند.
</p>
<p>تغییر استایل ها، رنگها، تم ها که دیگر جای خود دارد و شما بسیار راحت میتوانید آنها را تعریف کنید.</p>
<hr />
<h2>تفاوت آن با BootStrap چیست؟</h2>
<p>
    از نظر ظاهری، سعی بر آن شده با شکل بوت استرپ یکسان باشد، همینطور تا جایی که ممکن بوده، اسم کلاسها تفاوت چندانی نداشته باشد
    یا بسیار شبیه باشد. ولیکن ساختار طراحی متفاوت است.
</p>
<p>
    برای مثال، اگر شما بخواهید انتخاب تم را در اختیار کاربر قرار دهید، باید تم های خود را طراحی کرده، سپس در فایل اصلی
    بوت استرپ کامپایل کرده و به ازای هر تم، یک فایل بوت استرپ جدید داشته باشید، خوب اگر نسخه جدید بوت استرپ بیاید،
    باید همه این  کارها دوباره انجام شود. ولی در این سیستم، رنگها، فاصله ها، تصاویر، به صورت متغییر های css طراحی شده است،
    شما با تغییر فقط همان متغییرها، میتوانید در دم، استایل جدید را مشاهده کنید و نیازی به کامپایل دوباره کد نیست.
</p>
<p>
    یکی دیگر از مشکلات بوت استرپ، در دسترس نبودن همه رنگها در اختیار برنامه نویس است، برای مثال رنگ دکمه از نوع primary
    با رنگ متغییر تعریف شده از نوع primary متفاوت است، اگر برنامه نویس بخواهد دکمه ای جدید، با آن رنگ داشته باشد، دسترسی به آن امکان پذیر نیست
    مگر آنکه دستی رنگ را تنظیم کند، ماحصل وقتی تم رنگی تغییر کرد، آن رنگ تافته ای جدا بافته خواهد شد.
</p>
<p>
    با توجه به درخواستهایی که از تیم بوت استرپ انجام پذیرد، در بوت استرپ 5 راست به چپ اضافه گردید، ولیکن بزرگترین ایراد آن
    استفاده از تکنولوژی rtlcss بود، که کل فایل css را راست به چپ میکرد، یعنی شما برای زبانهای راست به چپ یک فایل و چپ به راست یک فایل داشتید.
    شما نمیتوانید در آن واحد از دو فایل استفاده کنید، پس برنامه وب شما، یا باید راست به چپ باشد، یا چپ به راست.
</p>
<p>
    بوت استرپ از کتابخانه های جاوایی دیگر شرکتها بسیار استفاده کرده است، که این امر خود باعث سنگین شدن و لود کندتر برنامه وب شما میشود،
    در این فریم ورک سعی برآن شده است که تا حد ممکن از کتابخانه های دیگران استفاده نشود، تا با بروز رسانی آنها خللی در سرویس دهی ایجاد گردد.
</p>
<p>همچنین این فریم ورک از jQuery استفاده نمیکند و هیچ وابستگی به آن ندارد.</p>
<hr />
<h2>آیا برنامه نویس میتواند، خود این فریم ورک را گسترش دهد؟</h2>
<p>بله، برنامه نویس با استفاده از استانداردهای موجود در مستندات، میتواند، تغییرات لازم را ایجاد کند.</p>
<div class="alert error callout-start m-bs-200r-i">
    در حال ساخت و گسترش این فریم ورک هستیم، هنوز نسخه نهایی آن آماده نشده است، لذا شما در این سایت، با نحوه عملکرد و ساختار آن آشنا میشوید،
    امید است، اولین نسخه این فریم ورک در ابتدای خرداد 1400 در اختیار کاربران جهت تست اولیه قرار گیرد.
</div>
<div class="alert danger callout-start m-bs-200r-i">
    توجه داشته باشید، این سایت نیز با استفاده از همین فریم ورک ساخته شده است و به دلیل کمبود برخی بخشها، این سایت نیز با نقص نمایش داده میشود،
    همچنین، هنوز این سایت برای موبایل بهبود داده نشده است، هر چند که قابل دیدن بر روی موبایل است.
</div>
<div class="alert info callout-start m-bs-200r-i">
    <h4>تماس با ما</h4>
    <p>اگر تمایل دارید با ما در تماس باشید، راه های زیر در اختیار شماست.</p>
    <div class="ltr">
        <p><span class="fas fa-mail-bulk"></span> moridi [at] nastouh.com</p>
        <p><span class="fas fa-mobile"></span> Telegram: @@omoridi</p>
        <p><span class="fab fa-github"></span> GitHub: <a href="https://github.com/NastouhGit/Widgetnas" target="_blank">NastouhGit / Widgetnas</a></p>
        <p><sapn class="fa-solid fa-laptop-code"></sapn> Master Developer and sponsor: <a href="https://nastouh.com" target="_blank">Nastouh.com</a></p>
    </div>
</div>