MultiSelect, .MultiSelect {
    display: flex;
    padding: calc(var(--border-radius) / 5);
    align-items: center;

    label {
        white-space: nowrap;
    }

    &.floating, &.group {
        border: var(--border-width) solid var(--normal-border);
        border-radius: var(--border-radius);
    }

    .selecteditem {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-width: 50%;
        padding-inline: var(--padding-inline);

        &.rows {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: stretch;
        }

        span {
            white-space: nowrap;
            margin-block: calc( var(--margin-block) /2);
            margin-inline: calc( var(--margin-inline) /2);
            padding-inline: var(--padding-inline);
            padding-inline-end: calc(var(--padding-inline) * 2);
            cursor: pointer !important;
            background-color: var(--select-back);
            color: var(--select-color);
            user-select: none;
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
            text-decoration: none !important;
            border-radius: var(--border-radius);
            border: var(--border-width) solid var(--normal-border);
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="165.19 101.834 121.309 122.875" width="121.309" height="122.875"%3E%3Cg transform="matrix(1, 0, 0, 1, 165.189713, 101.833252)"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z" style="fill: rgba(0, 0, 0,0.5);"%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
            background-repeat: no-repeat;
            background-origin: padding-box;
            background-size: var(--padding-inline);
            background-position: left calc(var(--padding-inline) / 2) center;

            &:hover {
                background-color: var(--hover-back);
                color: var(--hover-color);
            }
        }

            span[dir=ltr] {
                background-position: right calc(var(--padding-inline) / 2) center;
            }
    }

    &.floating {
        input {
            border: none !important;
            border-radius: 0 !important;
        }
    }

    &.group {
        align-items: stretch;

        &:nth-last-child(1) {
            border-inline-end: none !important;
        }
    }
}
